/* newsroom/view/view-foot css */

.news-foot {
  padding-bottom: 25px; }
  .news-foot .news-foot-con {
    font-size: 13px;
    line-height: 20px;
    color: #333; }
    .news-foot .news-foot-con > p {
      padding-bottom: 25px;
      word-break: break-all; }
    .news-foot .news-foot-con a {
      color: #0061a0; }
  .news-foot .news-foot-info {
    font-size: 13px;
    line-height: 20px;
    color: #333; }
    .news-foot .news-foot-info strong {
      display: block;
      font-weight: normal; }

@media all and (min-width: 768px) {
  .news-foot {
    padding-bottom: 35px; } }
