<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/newsroom/view/view-foot/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="news-foot">
            <div class="news-foot-con"> <strong>메트라이프생명 소개</strong>
                <p>메트라이프생명은 메트라이프 금융그룹의 자회사이며 27년 전에 설립된 한국 현지법인 입니다. 메트라이프생명은 재무설계사(FSR) 조직을 활용한 개인영업 및 여러 채널을 통해 다양한 상품과 서비스를 제공하고 있습니다. 더자세한 정보는 회사 홈페이지(<a href="www.metlife.co.kr" target="_blank" title="새창링크">www.metlife.co.kr</a>)에서 확인할 수 있습니다.</p>
                <strong>MetLife금융그룹 소개</strong>
                <p>메트라이프는 자회사 및 관계사를 포함해 시장을 선도하는 글로벌 금융그룹입니다. 1868년에 설립된 메트라이프는 생명보험상품을 비롯해 연금, 단체보험, 자산관리 등 각종 금융서비스를 제공하고 있습니다. 메트라이프는 미국, 일본, 남미, 아시아, 유럽, 중동지역 등을 포함한 전세계 약 50여개 국가에서 시장을 선도하며 1억여명의 고객에게 서비스를 제공하고 있습니다. 자세한 사항은 홈페이지( <a href="www.metlife.com"
                        target="_blank" title="새창링크">www.metlife.com</a>)를 방문해 주시기 바랍니다.</p>
            </div>
            <p class="news-foot-info"> <strong>보도자료 문의:</strong> 커뮤니케이션팀 권현웅 과장<br>02-3469-9806 </p>
        </div>
        <!-- // CONTENT-->
    </body>

</html>