<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/productTilesContainer/styles.css -->
<!-- #js# /apps/DEO/components/productTilesContainer/scripts.js -->

<div class="comp-container bg-gray">
    {% set items = productList %}
    <div class="product-tiles-container">
        <ul class="product-tiles-list">
            {% for itemList in items %}
                {% set productTiles = itemList.productTiles %}
                    {% if productTiles.type == "basic" %}
                        <li>{% include paths.apps + "/productTiles/index.html" %}</li>
                    {% elif productTiles.type == "promotion" %}
                        {% set promoCard = productTiles %}
                        <li data-list-type="promotion">{% include paths.apps + "/promotionCard/index.html" %}</li>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<!-- COMPONENT END -->