<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/global/gnb/styles.css -->
<!-- #js# /apps/DEO/components/global/gnb/scripts.js -->

<div class="allmenu-container">

    <div class="allmenu-control">
        <button type="button" class="allmenu-btn-open"><span class="web-view">메뉴</span><span class="screen_out">열기</span></button>
        <button type="button" class="allmenu-btn-close"><span class="screen_out">메뉴</span><span class="web-view">닫기</span></button>
    </div>


    <div class="allmenu-wrap">
        <div class="allmenu-list">
            <div class="allmenu-list-wrap">
                <ul>
                    {% set nav = globalIA[1] %}
                    <li><a href="{{ nav.href }}" {% if nav.title %} title="{{nav.title}}" target="_blank" {% endif%} class="dep1lnk">{{ nav.text }}</a>
                        {% if nav.innerMenu %}
                        <div class="submenu">
                            <ul>
                                {% for innerMenu in nav.innerMenu %}
                                <li><a href="{{ innerMenu.href }}" {% if innerMenu.title %} title="{{innerMenu.title}}" target="_blank"{% endif%}>{{ innerMenu.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        {% endif %}
                    </li>

                    {% set nav = globalIA[4] %}
                    <li><a href="{{ nav.href }}" {% if nav.title %} title="{{nav.title}}" target="_blank" {% endif%} class="dep1lnk">{{ nav.text }}</a>
                        {% if nav.innerMenu %}
                        <div class="submenu">
                            <ul>
                                {% for innerMenu in nav.innerMenu %}
                                <li><a href="{{ innerMenu.href }}" {% if innerMenu.title %} title="{{innerMenu.title}}" target="_blank"{% endif%}>{{ innerMenu.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        {% endif %}
                    </li>

                    {% set nav = globalIA[3] %}
                    <li><a href="{{ nav.href }}" {% if nav.title %} title="{{nav.title}}" target="_blank" {% endif%} class="dep1lnk">{{ nav.text }}</a>
                        {% if nav.innerMenu %}
                        <div class="submenu">
                            <ul>
                                {% for innerMenu in nav.innerMenu %}
                                <li><a href="{{ innerMenu.href }}" {% if innerMenu.title %} title="{{innerMenu.title}}" target="_blank"{% endif%}>{{ innerMenu.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        {% endif %}
                    </li>

                    {% set nav = globalIA[0] %}
                    <li><a href="{{ nav.href }}" {% if nav.title %} title="{{nav.title}}" target="_blank" {% endif%} class="dep1lnk">{{ nav.text }}</a>
                        {% if nav.innerMenu %}
                        <div class="submenu">
                            <ul>
                                {% for innerMenu in nav.innerMenu %}
                                <li><a href="{{ innerMenu.href }}" {% if innerMenu.title %} title="{{innerMenu.title}}" target="_blank"{% endif%}>{{ innerMenu.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="allmenu-list-wrap">
                <ul>
                    <li><a href="#lnk" class="dep1lnk">사이버창구 로그인</a></li>
                    <li><a href="#lnk" class="dep1lnk">기업고객 로그인</a></li>
                </ul>
                <div class="header-allmenu-bn">
                        <div class="header-allmenu-bnimg" style="background-image: url('{{ paths.author }}/header/header-bn.jpg');">
                            <div class="screen_out">대체텍스트 필요시 입력</div>
                        </div>
                        <div class="header-allmenu-bncontent">
                            <dl>
                                <dt>무배당 변액유니버셜 종신보험 경청</dt>
                                <dd>갈수록 커지는 당신의 불안을 안심으로 바꿀 수 있도록 메트라이프 생명은 고객의 마음을 경청합니다. <a href="#lnk">더 알아보기</a></dd>
                            </dl>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- COMPONENT END -->