{% macro input(idVal, labelVal, name='', value='', type='text') %}
    <label for="{{ idVal }}">{{ labelVal }}</label>
    <input type="{{ type }}" id="{{ idVal }}" value="{{ value | escape }}" />
{% endmacro %}

{% macro selectInput(idVal, labelVal, name='', value='', type='') %}
    <label for="{{ idVal }}">
        <input type="{{ type }}" id="{{ idVal }}" name="{{ name }}" value="{{ value | escape }}" />
        <span>{{ labelVal }}</span>
    </label>
{% endmacro %}


{% macro select(labelVal, value, name='', designSelect='false') %}
    <select title="{{ labelVal }}" name="{{ name }}" data-select-design="{{designSelect}}" >
        {% for val in value %}<option value="{{ val.val }}">{{ val.text }}</option>
        {% endfor %}
    </select>
    <!-- #comp css# /apps/DEO/components/extend/macroFrom/styles.css -->
    <!-- #js# /apps/DEO/components/extend/macroFrom/scripts.js -->
{% endmacro %}


