<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/global/header/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/global/gnb/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/global/search/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/global/aside/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="header-container">
            <div class="header-line">
                <h1><a href="#lnk"><img src="/apps/DEO/components/global/header/images/logo.png" alt="METLIFE"></a></h1>
                <div class="header-utils">
                    <div class="header-gnb">
                        <div class="allmenu-container">
                            <div class="allmenu-control"> <button type="button" class="allmenu-btn-open"><span class="web-view">메뉴</span><span class="screen_out">열기</span></button> <button type="button" class="allmenu-btn-close"><span class="screen_out">메뉴</span><span class="web-view">닫기</span></button>                                </div>
                            <div class="allmenu-wrap">
                                <div class="allmenu-list">
                                    <div class="allmenu-list-wrap">
                                        <ul>
                                            <li><a href="#lnk1" class="dep1lnk">상품소개</a>
                                                <div class="submenu">
                                                    <ul>
                                                        <li><a href="#lnk_dep2">사망보장보험</a></li>
                                                        <li><a href="#lnk_dep2">건강보장보험</a></li>
                                                        <li><a href="#lnk_dep2">연금보험</a></li>
                                                        <li><a href="#lnk_dep2">VUL</a></li>
                                                        <li><a href="#lnk_dep2">퇴직연금</a></li>
                                                        <li><a href="#lnk_dep2">기타상품</a></li>
                                                        <li><a href="#lnk_dep2">가입상담문의</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li><a href="#lnk1" class="dep1lnk">혜택서비스</a>
                                                <div class="submenu">
                                                    <ul>
                                                        <li><a href="#lnk_dep2">노블리치센터</a></li>
                                                        <li><a href="#lnk_dep2">TOP고객서비스</a></li>
                                                        <li><a href="#lnk_dep2">헬스케어서비스</a></li>
                                                        <li><a href="#lnk_dep2">MetLife Café</a></li>
                                                        <li><a href="#lnk_dep2">Life &amp; Health</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li><a href="#lnk1" class="dep1lnk">고객센터</a>
                                                <div class="submenu">
                                                    <ul>
                                                        <li><a href="#lnk_dep2">공지/이벤트</a></li>
                                                        <li><a href="#lnk_dep2">유용한정보</a></li>
                                                        <li><a href="#lnk_dep2">지점안내</a></li>
                                                        <li><a href="#lnk_dep2">고객의소리</a></li>
                                                        <li><a href="#lnk_dep2">보험금청구안내</a></li>
                                                        <li><a href="#lnk_dep2">보험범죄신고</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li><a href="#lnk1" class="dep1lnk">회사소개</a>
                                                <div class="submenu">
                                                    <ul>
                                                        <li><a href="#lnk_dep2">회사소개</a></li>
                                                        <li><a href="#lnk_dep2">Agent소개</a></li>
                                                        <li><a href="#lnk_dep2">브랜드</a></li>
                                                        <li><a href="#lnk_dep2">사회공헌</a></li>
                                                        <li><a href="#lnk_dep2">인재채용</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="allmenu-list-wrap">
                                        <ul>
                                            <li><a href="#lnk" class="dep1lnk">사이버창구 로그인</a></li>
                                            <li><a href="#lnk" class="dep1lnk">기업고객 로그인</a></li>
                                        </ul>
                                        <div class="header-allmenu-bn">
                                            <div class="header-allmenu-bnimg" style="background-image: url('/content/dam/DEO/author/header/header-bn.jpg')">
                                                <div class="screen_out">대체텍스트 필요시 입력</div>
                                            </div>
                                            <div class="header-allmenu-bncontent">
                                                <dl> <dt>무배당 변액유니버셜 종신보험 경청</dt>
                                                    <dd>갈수록 커지는 당신의 불안을 안심으로 바꿀 수 있도록 메트라이프 생명은 고객의 마음을 경청합니다. <a href="#lnk">더 알아보기</a></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-home">
                        <div class="header-home-link"> <a href="#lnk"><span class="screen_out">METLIFE</span><span class="web-view">홈</span></a> </div>
                    </div>
                    <div class="header-search-load">
                        <div class="header-search"> <button type="button" class="header-search-open"><span>검색</span></button> </div>
                    </div>
                </div>
                <div class="header-search-wrap">
                    <form action="?">
                        <fieldset>
                            <legend class="screen_out">통합검색</legend>
                            <div class="header-search-input"> <label for="header-search-inputarea" class="screen_out">검색어 입력</label> <input type="text" id="header-search-inputarea" class="header-search-inputbox" value="" placeholder="검색어 입력"> </div> <button type="submit" class="header-search-submit"><img src="/apps/DEO/components/global/search/images/icon_search_blue.png" alt="검색"></button>                            </fieldset>
                    </form>
                </div>
                <div class="header-aside">
                    <div class="header-aside-wrap">
                        <div class="header-aside-login aside-design"> <a href="#lnk"><span>로그인</span></a> </div>
                        <div class="header-aside-disclosure aside-design"> <a href="#lnk"><span>공시실</span></a> </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // CONTENT-->
        <script type="text/javascript" charset="utf-8" src="/apps/DEO/components/global/header/scripts.js"></script>
        <script type="text/javascript" charset="utf-8" src="/apps/DEO/components/global/gnb/scripts.js"></script>
    </body>

</html>