/* css folder ##extend/macroButton## */
.btn-basic {
  padding: 13px 30px;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -khtml-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  border: 0 solid transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold; }

.btn-basic.btn-fullsize {
  width: 100%; }

.btn-basic.blue {
  background-color: #66c6ff;
  background: url("./images/bluebg.png");
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66c6ff), to(#3d8fdc));
  background: -webkit-linear-gradient(#66c6ff, #3d8fdc);
  background: -moz-linear-gradient(#66c6ff, #3d8fdc);
  background: -ms-linear-gradient(#66c6ff, #3d8fdc);
  background: -o-linear-gradient(#66c6ff, #3d8fdc); }
  .btn-basic.blue:hover, .btn-basic.blue:focus {
    background: #66c6ff; }

.btn-basic.green {
  background-color: #9bbd20;
  background: url("./images/greenbg.png");
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9bbd20), to(#77900a));
  background: -webkit-linear-gradient(#9bbd20, #77900a);
  background: -moz-linear-gradient(#9bbd20, #77900a);
  background: -ms-linear-gradient(#9bbd20, #77900a);
  background: -o-linear-gradient(#9bbd20, #77900a); }
  .btn-basic.green:hover, .btn-basic.green:focus {
    background: #9bbd20; }

@media all and (min-width: 768px) {
  .btn-basic {
    font-size: 13px;
    padding: 13px 20px; } }

@media all and (min-width: 1024px) {
  .btn-basic {
    font-size: 14px; } }
