<!-- COMPONENT START -->

<div class="file-claim-container">
    {% set innerdata = searchSelect %}
    {% include paths.apps + "/inter-section/search-select/index.html" %}

    {% set fileClaim = fileClaim1 %}
    {% include paths.apps + "/file-a-claim/index.html" %}

    {% set fileClaim = fileClaim2 %}
    {% include paths.apps + "/file-a-claim/index.html" %}

    {% set fileClaim = fileClaim3 %}
    {% include paths.apps + "/file-a-claim/index.html" %}

    {% set fileClaim = fileClaim4 %}
    {% include paths.apps + "/file-a-claim/index.html" %}
</div>

<!-- COMPONENT END -->