.results_pagination {
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}

.pagination > li {
    display: inline;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {

}

.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus,
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus {
    color: #ccc;
    cursor: not-allowed;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    font-weight: 600;
    background-color: #2377C5;
    cursor: default;
}

.pagination .prev a,
.pagination .next a {
    /*font-weight: 600;*/
    /*text-transform: uppercase;*/
}

.pagination .last {
    display: none;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    height: 30px;
    min-width: 30px;
    float: left;
    color: #2377C5;
    font-size: 12px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0 8px;
    margin-left: -1px;
}

@media (min-width: 768px) {
    .results_pagination {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .pagination {
        margin: 10px 0 30px 20px;
    }
}