strong {
    font-weight:600;
}
.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* make bg images clickable via JS */
.clickable {
    cursor: pointer;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.full-width {
    width: 100% !important;
}

.width-10{
    width: 10%;
}

.width-50{
    width: 50%;
}

.width-60{
    width: 60%;
}

.block {
    display: block !important;
}

.relative{
    position: relative;
    overflow: hidden;
}

.newline {
    white-space: pre;
}

.newline:after {
    content: "\A";
}

.padding-0-10 {
    padding: 0 15px;
}

.padding-xs {
    padding: 5px;
}
.padding-sm {
    padding: 10px;
}
.padding-md {
    padding: 20px;
}
.padding-lg {
    padding: 30px;
}
.padding-xl {
    padding: 50px;
}

.no-padding {
    padding: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-left {
    margin-left: 0;
}

.margin-50-0 {
    margin: 50px auto !important;
}

.container.bg-gray-1st.margin-b-50 {
    background-color:#efefef;
}
.container.bg-white.margin-b-100 {
    background-color:#fff;
    margin-bottom:100px;
}

.margin-auto {
    margin: auto;
}

.padding-50-0-sm,
.padding-80-0-sm {
    padding: 0
}

.margin-b-xs {
    margin-bottom: 5px;
}
.margin-b-sm {
    margin-bottom: 10px;
}
.margin-b-md {
    margin-bottom: 20px;
}
.margin-b-lg {
    margin-bottom: 30px;
}
.margin-b-xl {
    margin-bottom: 50px;
}

.margin-b {
    margin-bottom: 20px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.margin-t{
    margin-top: 20px;
}

.margin-t-xs {
    margin-top: 5px;
}

.margin-t-sm {
    margin-top: 10px;
}

.margin-t-md {
    margin-top: 20px;
}

.margin-t-lg {
    margin-top: 30px;
}

.margin-t-xl {
    margin-top: 50px;
}

.padding-t-lg {
    padding-top: 30px;
}
.padding-t-xl {
    padding-top: 50px;
}
.padding-b-md {
    padding-bottom: 20px;
}
.padding-b-xl {
    padding-bottom: 50px;
}

.text-center {
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-bold {
    font-weight: 600;
}

.visible-xs {
     display: inline-block !important;
 }

@media screen and (max-width: 767px) {
    .three-quarters-width{
        width: 75%;
    }
}

@media screen and (min-width: 768px) {
    .half-width{
        width: 50%;
    }

    .margin-b {
        margin-bottom: 40px;
    }

    .margin-t{
        margin-top: 40px;
    }

    .padding-50-0-sm {
        padding: 50px 0 !important;
    }

    .padding-80-0-sm {
        padding: 80px 0 !important;
    }

    .padding-40-0{
        padding-top: 40px;
    }
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.static {
    position: static;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-top-sm {
    border-top: 0px solid #ccc;
}

.border-color-black {
    border-color: black;
}
.border-color-brand-first {
    border-color: #0e5dae;
}

.border-mobile {
    border: 1px solid #ccc;
}
.border-sides {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.border {
    border: 1px solid #ccc;
}

.table {
    display: table !important;
}

.table-fixed {
    table-layout: fixed;
}
.text-overflow {
    overflow: hidden;
    white-space: nowrap;
}


.box-shadow {
    -webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .border-top-sm {
        border-top: 1px solid #ccc;
    }
    .border-bottom-sm{
        border-bottom: 1px solid #ccc;
    }
    .border-mobile {
        border: none;
    }
    .border-sides-nonmobile {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    .border-top-nonmobile {
        border-top: 1px solid #ccc;
    }
    .border-bottom-nonmobile {
        border-bottom: 1px solid #ccc;
    }
}

/* Remove X from input in field IE */
::-ms-clear {
    display: none !important;
    width: 0;
    height: 0;
    color: transparent;
}

input[type=text]::-ms-clear {
    display: none !important;
    width: 0;
    height: 0;
    color: transparent;
}

a[href*='tel'] {
    color:#2377C5;
    text-decoration:none;
}
.disabled-anchor,
.disabled-anchor:hover {
    color:#2377C5;
    text-decoration:none;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
    .visible-xs {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) {

    .width-80{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
