@charset "utf-8";

/* css folder ##promotionCard## */

@import "system/styles/basicset.scss";
@import "system/styles/mixin.scss";

$dtMobSize : 22px;
$ddMobSize : 15px;
$dtTabletSize : 26px;
$ddTabletSize : 14px;
$dtWebSize : 32px;
$ddWebSize : 16px;

$dtMobLine : 26px;
$ddMobLine : 21px;
$dtTabletLine : 30px;
$ddTabletLine : 20px;
$dtWebLine : 40px;
$ddWebLine : 24px;

.promo-card {

	width:100%;
	margin:0 auto;
}

.promo-card-imgbg {
	height:200px;
	background-position: 50% 50%;
	-webkit-background-size:cover;
	background-size:cover;
}

.promo-card-content {
	padding:26px 10px 30px 10px;
	text-align: center;
	background: $pointColor2;
	& dl {
		color: #ffffff;
		padding-bottom:10px;
		& dt {
			font-weight:bold;
			font-size:$dtMobSize;
			line-height:$dtMobLine;
			letter-spacing:-1px;
			margin-bottom:18px;
		}

		& dd {
			font-size:$ddMobSize;
			line-height:$ddMobLine;
			padding:0;
			padding-bottom:15px;
			width:80%;
			margin:0 auto;
			text-align: center;
		}


		& a {
			margin-bottom:10px;
		}
	}
}

@media all and(min-width:768px) {

	.promo-card {
		width:95%;
		padding:20px 0 40px 0;
		&:after {
			clear:both;
			content:'';
			display: block;
		}
		& > div {
			width: 50%;
		}
	}

	.promo-card-imgbg {
		float: right;
		height:260px;
	}

	.promo-card-content {
		float: left;
		display: table;
		height:260px;
		padding:30px 20px;
		.promo-card-wrap {
			display: table-cell;
			vertical-align: middle;
		}
		& dl {

			& dt {
				font-size:$dtTabletSize;
				line-height:$dtTabletLine;
				margin-bottom:15px;
			}

			& dd {
				font-size:$ddTabletSize;
				line-height:$ddTabletLine;
				padding:0 20px;
				margin-bottom:25px;
			}
		}
	}
}


@media all and(min-width:1024px) {

	.promo-card {
		width:85%;
		max-width:1100px;
		padding:50px 0 50px 0;
	}

	.promo-card-imgbg {
		width:100%;
		height:300px;
	}


	.promo-card-content {
		display: table;
		height:300px;
		padding:20px 5%;
		& dl {
			& dt {
				font-size:$dtWebSize;
				line-height:$dtWebLine;
			}

			& dd {
				font-size:$ddWebSize;
				line-height:$ddWebLine;
				padding:0 20px;
			}
		}
	}

}