/* global/gnb css */

.allmenu-container {
  position: relative;
  background: #2377c5;
  height: 100%;
  max-height: 50px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s; }

/* menu button */
.allmenu-control {
  display: inline-block;
  height: 100%;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s; }

.allmenu-control > button {
  width: 19px;
  padding: 0 15px;
  height: 100%;
  /*transition: all .5s ease 0s;*/
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  line-height: 50px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s; }

.allmenu-control > button > .web-view {
  display: block;
  text-indent: -999em; }

.allmenu-control .allmenu-btn-open {
  padding: 0 15px 0 10px;
  background: url("/content/dam/DEO/components/global/gnb/icon_menu.png") 50% 50% no-repeat;
  -webkit-background-size: 19px auto;
  background-size: 19px auto; }

.allmenu-control .allmenu-btn-close {
  display: none;
  padding: 0 15px 0 10px;
  background: url("/content/dam/DEO/components/global/gnb/icon_menu_close.png") 50% 50% no-repeat;
  -webkit-background-size: 19px auto;
  background-size: 19px auto; }

/* menu wrap */
.allmenu-wrap {
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  background: #2377c5; }

.active .allmenu-wrap {
  display: block; }

/* menu list */
.allmenu-wrap .allmenu-list {
  position: relative; }

.allmenu-list-wrap > ul > li {
  width: 100%;
  background: #3d9cdb;
  font-size: 14px;
  border-bottom: 2px solid #2377c5; }

.allmenu-list-wrap > ul > li > a {
  color: #ffffff;
  font-weight: bold;
  padding: 23px 20px;
  display: block;
  position: relative; }

.allmenu-list-wrap > ul > li > a:after {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  right: 20px;
  top: 23px;
  background: url("/content/dam/DEO/components/global/gnb/icon_mob_menu_closed_arrow.png") 0 0 no-repeat;
  -webkit-background-size: 17px 17px;
  background-size: 17px 17px; }

.allmenu-list-wrap > ul > li > a.active:after {
  background: url("/content/dam/DEO/components/global/gnb/icon_mob_menu_open_arrow.png") 0 0 no-repeat;
  -webkit-background-size: 17px 17px;
  background-size: 17px 17px; }

.allmenu-list-wrap .submenu {
  display: none;
  overflow: hidden;
  background: #0e5dae; }

.allmenu-list-wrap .submenu > ul > li > a {
  color: #ffffff;
  display: block;
  padding: 18px 0 18px 30px;
  font-size: 13px; }

.allmenu-list-wrap .submenu > ul > li > a:hover {
  background: #2377c5; }

/* menu banner */
.allmenu-wrap .allmenu-banner {
  display: none; }

@media all and (min-width: 768px) {
  .allmenu-container {
    height: 100%;
    max-height: 70px; }
  /* menu button */
  .allmenu-control {
    height: 100%;
    max-height: 70px; }
  .allmenu-control > button {
    padding: 0 15px;
    height: 100%;
    max-height: 70px;
    background-position: 50% 50%;
    line-height: 70px;
    font-weight: bold; }
  .minisize .allmenu-control > button {
    line-height: 50px; }
  .allmenu-control .allmenu-btn-open {
    padding: 0 15px; }
  .allmenu-control .allmenu-btn-close {
    padding: 0 15px; }
  /* menu wrap */
  .allmenu-wrap {
    overflow: auto;
    padding-top: 30px;
    border-top: 1px solid #0e5dae;
    transition: top .5s ease 0s;
    top: 70px; }
  .allmenu-wrap .allmenu-list {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px; }
  .allmenu-list-wrap {
    border-top: 1px solid #0e5dae;
    padding: 20px 0 50px 0; }
  .allmenu-list-wrap:first-child {
    border-top: none;
    padding: 0 0 30px 0; }
  .allmenu-list-wrap:last-child ul {
    float: left;
    width: 50%; }
    .allmenu-list-wrap:last-child ul li {
      width: 50%; }
  .allmenu-list-wrap > ul:after {
    clear: both;
    content: '';
    display: block; }
  .allmenu-list-wrap > ul > li {
    float: left;
    width: 25%;
    background: none;
    font-size: 18px;
    padding-left: 20px;
    border-bottom: none; }
  .allmenu-list-wrap > ul > li > a {
    padding: 20px 0; }
  .allmenu-list-wrap > ul > li > a:hover {
    text-decoration: underline; }
  .allmenu-list-wrap > ul > li > a:after {
    display: none; }
  .allmenu-list-wrap .submenu {
    display: block;
    background: none;
    overflow: visible; }
  .allmenu-list-wrap .submenu > ul > li > a {
    padding: 0 5px 15px 0;
    color: #c2e7ff; }
  .allmenu-list-wrap .submenu > ul > li > a:hover {
    background: none;
    color: #ffffff; }
  .header-allmenu-bn {
    float: left;
    width: 50%;
    min-height: 110px;
    display: table;
    font-size: 14px;
    background: #f2f2f2; }
    .header-allmenu-bn .header-allmenu-bnimg {
      display: table-cell;
      width: 110px;
      height: 100%;
      background-position: 50% 50%;
      -webkit-background-size: cover;
      background-size: cover; }
    .header-allmenu-bn .header-allmenu-bncontent {
      display: table-cell; }
      .header-allmenu-bn .header-allmenu-bncontent dl {
        padding: 20px 14px; }
        .header-allmenu-bn .header-allmenu-bncontent dl dt {
          font-weight: bold;
          font-size: 14px;
          padding-bottom: 12px;
          color: #000; }
        .header-allmenu-bn .header-allmenu-bncontent dl dd {
          line-height: 18px;
          font-size: 12px;
          color: #333; }
          .header-allmenu-bn .header-allmenu-bncontent dl dd a {
            color: #0e5dae;
            text-decoration: underline;
            font-weight: bold; } }

@media all and (min-width: 1024px) {
  .allmenu-control > button {
    width: auto;
    height: 100%;
    display: inline-block; }
  .allmenu-control > button > .web-view {
    width: auto;
    max-height: 70px;
    text-indent: 0;
    padding-left: 27px;
    vertical-align: middle; }
  .allmenu-control .allmenu-btn-open {
    background-position: 15px 50%; }
  .allmenu-control .allmenu-btn-close {
    display: none;
    background-position: 15px 50%; }
  .allmenu-list-wrap {
    padding: 20px 0 30px 30px; }
  .allmenu-list-wrap:first-child {
    padding: 0 0 30px 30px; }
  .header-allmenu-bn .header-allmenu-bnimg {
    width: 180px; }
  .header-allmenu-bn .header-allmenu-bncontent dl dt {
    padding-bottom: 10px; } }
