
.accordion .accordion__name{
    padding:0 20px 20px;
    font-weight: 600;
    font-size: 1.35em;
}
.accordion .border-top:last-of-type{
    border-bottom: 1px solid #ccc;
}

.accordion .accordion__toggle-all{
    text-align: right;
    cursor: pointer;
    padding:0 20px 20px;
    font-size: 12px;
    line-height: 20px;
}

.accordion .accordion__toggle-all .collapseAll{
    display:none;
}

.accordion__title{
    display: table;
    width: 100%;
    cursor: pointer;
    padding: 15px 40px 15px 20px;
    font-size: 14px;
    line-height:20px;
}

.accordion__link{
    display: none;
}

.accordion__title span:hover{
    color: #429dd9;
}

.accordion__title span{
    display:block;
    width:85%;
    float: left;
}

.accordion__title__icon{
    fill: #2377C5;
    vertical-align: bottom;
    width: 16px;
    height: 18px;
    position: relative;
    top: 3px;
    left: 40px;
}

.accordion__title__icon--hide{
    display: none;
}

.accordion__content{
    width: 100%;
    display: none;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 13px;
    line-height: 20px;
}

.accordion__content p {
    font-size: 13px;
    line-height: 20px;
}

.accordion__content li{
    margin-left: 20px;
    list-style: disc;
}
.accordion__copy{
    padding-bottom: 0;
    padding-top: 20px
}

.accordion__copy p{
    margin-bottom: 0;
}

.microsite-accordion{
    padding-bottom: 40px;
}

@media screen and (min-width: 768px){
    .accordion--50{
        float: left;
    }
}

@media screen and (min-width: 1025px) {
    .microsite-accordion{
        padding-bottom: 50px;
    }

    .accordion__link{
        display:block;
        float: right;
        padding: 20px;
            font-size: 0.9em;
    }
}