
/* line 1, ../../../sass/_blogAlsoLikeDesktop.scss */
.mightAlsoLike {
    padding-bottom: 50px;
}
/* line 3, ../../../sass/_blogAlsoLikeDesktop.scss */
.mightAlsoLike .mightLikeOption {
    display: inline;
    width: 15%;
    margin-right: 2%;
    margin-bottom: 0px;
}
/* line 9, ../../../sass/_blogAlsoLikeDesktop.scss */
.mightAlsoLike .mightLikeOption img {
    width: 100%;
}
/* line 13, ../../../sass/_blogAlsoLikeDesktop.scss */
.mightAlsoLike .mightLikeOption .postImageCaption {
    display: inline;
    margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* line 1, ../../../sass/_blogAlsoLikeTablet.scss */
    .mightAlsoLike {
        padding-bottom: 50px;
    }
    /* line 3, ../../../sass/_blogAlsoLikeTablet.scss */
    .mightAlsoLike .mightLikeOption {
        display: inline-flex;
        width: 15%;
        margin-right: 2%;
        margin-bottom: 0px;
    }
    /* line 9, ../../../sass/_blogAlsoLikeTablet.scss */
    .mightAlsoLike .mightLikeOption img {
        width: 97%;
    }
    /* line 13, ../../../sass/_blogAlsoLikeTablet.scss */
    .mightAlsoLike .mightLikeOption .postImageCaption {
        display: inline;
        margin-top: 20px;
    }
}

@media (min-width: 1025px) {
    /* line 1, ../../../sass/_blogAlsoLikeDesktop.scss */
    .mightAlsoLike {
        padding-bottom: 50px;
    }
    /* line 3, ../../../sass/_blogAlsoLikeDesktop.scss */
    .mightAlsoLike .mightLikeOption {
        display: inline;
        width: 15%;
        margin-right: 2%;
        margin-bottom: 0px;
    }
    /* line 9, ../../../sass/_blogAlsoLikeDesktop.scss */
    .mightAlsoLike .mightLikeOption img {
        width: 100%;
    }
    /* line 13, ../../../sass/_blogAlsoLikeDesktop.scss */
    .mightAlsoLike .mightLikeOption .postImageCaption {
        display: inline;
        margin-top: 20px;
    }
}