.list-filter {
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
}

.list-filter__item {
    width: 100%;
    display: inline-block;
}

.list-filter__item--half {
    width: 49%;
    display: inline-block;
}

.list-filter > div {
    width: auto;
}

.list-filter .form-item__label {
    padding: 0 10px 0 0;
    font-size: 0.7em;
}

.list-filter .form-item {
    width: auto;
}

.list-filter .form-item__field {
    padding: 0;
}

.list-filter .col-xs-6:first-child {
    padding-right: 10px;
}

.list-filter .col-xs-6:last-child {
    padding-left: 10px;
}

.form-item__field--large {
    width: 240px;
}

.list-filter .form-item__label--large span {
    display: inline-block;
    padding-right: 15px;
}

.form-item__field--xl {
    width: 250px;
    margin-bottom: 20px;
}

.forms-library-category-others h2, .list__title {
    padding-bottom: 0;
    border-left: 20px solid transparent;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    color:#333;
    font-weight: 600;
}

.list [data-form-library-msg] {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.list [data-form-library-msg] .list__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.list__item {
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 15px 20px;
    margin-bottom: 15px;
}

.list__item a:hover {
    text-decoration: none;
}

.list__item p {
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 13px;
    line-height: 16px;
}

.list__item--left {
    width: 70%;
    float: left;
}

.list__item__title {
    font-size: 13px;
    line-height: 18px;
    display: block;
}

.list__item--right {
    float: right;
    text-align: center;
}

.list__item__date {
    font-size: 0.7em;
    display: block;
    color: #999;
}

.list__item--no-results {
    border-left: 20px solid transparent;
}

.list__item__tips {
    list-style-type: disc;
    font-size: 0.9em;
    padding-left: 40px;
    margin-bottom: 30px;
}

.list-filter select {
    margin-left: 0;
    font-size: 0.85em;
    width: 100%;
}

.form-item__label--large .form-icon-wrapper {
    display: inline-block;
    margin: 10px auto;
    width: 280px;
}


[data-form-library-msg] {
    display: none;
    font-size: 1em;
}

[data-form-library-msg="all"] {
    display: block;
}

[data-form-library-msg] .list__copy {
    padding: 0px 20px 0px 20px;
    margin-bottom: 10px;
    display: none;
    font-size: 14px;
    line-height: 20px;
}

.list__item:last-of-type {
    margin-bottom: 0;
}

.forms-library-category-others p, .list__footer-copy {
    padding-left: 20px;
    font-size: 13px;
    line-height: 16px;
    list-style-type: disc;
    font-weight: 400;
    color: #666;
}

.forms-library-category-others ul, .other-form {
    font-size: 14px;
    list-style-type: disc;
    margin: 10px 0 20px 60px;
}
.forms-library-category-others ul li b {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    color: #666;
}
.forms-library-category-others ul li .other-form__item {
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.other-form__item h4 {
    margin-bottom: 0;
    font-size: 1em;
}
.section-title .section-title__title{
    font-size: 16px;
    line-height:20px;
    font-weight: 400;
    color: #333
}

.section-title .brand-gray-2nd.hidden-xs{
    font-size: 11px;
    line-height:15px;
    font-weight: 300;
    color: #666
}
@media (min-width: 768px) {
    .section-title .section-title__title{
        font-size: 14px;
        line-height:20px;
    }

    .section-title .brand-gray-2nd.hidden-xs{
        font-size: 11px;
        line-height:16px;
    }
    .forms-library-category-others ul li .other-form__item {
        line-height: 20px;
    }
    .forms-library-category-others p, .list__footer-copy{
        font-size: 14px;
        line-height: 20px;
    }
    .forms-library-category-others h2, .list__title {
        font-size: 16px;
    }
    .list__item p{
        font-size: 13px;
        line-height: 20px;
    }
    .list [data-form-library-msg] .list__title {
        font-size: 18px;
        line-height: 22px;
    }
    [data-form-library-msg] .list__copy{
        display: block;
    }

    .list-filter__container, .list__container {
        width: 80%;
        margin: auto;
    }

    .list-filter {
        max-width: 1040px;
        font-size: 1em;
        margin: 40px auto 0;
        text-align: center;
    }

    .list-filter__item, .list-filter__item--half {
        width: auto;
    }

    .list-filter--microsite .list-filter {
        margin-bottom: 0;
    }

    .list-filter .form-item__label {
        padding-left: 30px;
        font-size: 1em;
        width: auto;
    }

    .form-item__label--large {
        display: inline-block;
        width: auto;
        /*        margin-bottom:20px;*/
        font-size: 1.1em;
    }

    .list__item__title {
        font-size: 16px;
        line-height: 20px;
    }

    .list__item--right {
        text-align: right;
    }

    .form-item__field--xs {
        width: 75px;
    }

    .form-item__field--sm {
        width: 100px;
    }

    .form-item__field--md {
        width: 200px;
    }
}

@media (min-width: 1024px) {
    .section-title .brand-gray-2nd.hidden-xs{
        font-size: 12px;
        line-height:18px;
    }
    .forms-library-category-others ul li .other-form__item {
        font-size: 13px;
        line-height: 20px;
    }

    .list [data-form-library-msg] .list__title{
        font-size: 20px;
        line-height: 24px;
    }
}


