.carousel--microsite {
    max-height: none;
    overflow: visible;
    background-color: #efefef;
}

.carousel--microsite .carousel-indicators--visible {
    bottom: 140px;
}

.carousel--microsite .carousel-control {
    height: 100%;
}

.carousel--microsite .carousel-control svg {
    position: relative;
}
.carousel--microsite .carousel-caption {
    bottom: 0;
}

.carousel-indicators--visible {
    display: block;
}
.carousel-caption--bottom {
    background-color: rgba(35,119,197,0.7);
    top: auto;
    position: relative;
}

.carousel-caption--bottom h2 {
    margin-top: 15px;
}

@media screen and (min-width: 480px) {

    .carousel--microsite {
        max-height: none;
    }

    .carousel-caption--bottom {
        padding: 20px 0 10px;
    }

    .carousel-caption--bottom h2 {
        margin-top: 0;
    }

}

@media screen and (min-width: 768px) {

    .carousel--microsite {
        max-height: none;
        margin-bottom: 30px
    }
    .carousel--microsite:after {
        background-color: #efefef;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        height: 30px;
    }
    .carousel--microsite .carousel-indicators--visible {
        bottom: 10px;
    }
    .item--microsite {
        max-height:425px;
    }
    .carousel-caption--bottom {
        padding: 30px 0 20px;
        position: absolute;
    }
    .carousel--microsite .carousel-control svg {
        top: 0;
    }
    .carousel--microsite .carousel-inner {
        height: 400px;
    }
    .item-microsite img {
        min-height: 400px;
    }
}

@media screen and (min-width: 1024px) {

    .item--microsite {
        max-height:450px;
    }
    .carousel--microsite .carousel-indicators--visible {
        bottom: 15px;
    }
    .carousel-caption--bottom {
        padding: 30px 0 20px;
    }
    .carousel-caption--bottom h2 {
        font-size:1.5em;
    }
}

@media screen and (min-width: 1280px) {
    .carousel-caption--bottom{
        padding: 30px 0 20px;
    }
    .item--microsite{
        max-height:500px;
    }
}

@media screen and (min-width: 1900px) {
    .item--microsite{
        max-height:560px;
    }
}