.carousel--microsite {
    max-height: none;
    overflow: visible;
    background-color: #efefef;
}
.carousel--microsite .carousel-caption{
    display: block;
}
.carousel--microsite .carousel-indicators--visible {
    top:-25px;
}

.carousel--microsite .carousel-control {
    height: 100%;
}

.carousel--microsite .carousel-control .icon {
    width: 24px;
    height: 24px;
}

.carousel--microsite .carousel-caption {
    display: block;
    bottom: 0;
    padding: 15px 0;
}

.carousel--microsite .carousel-indicators--visible li {
    background-color: #fff;
    border-color: #fff;
    opacity: 0.5;
}

.carousel--microsite .carousel-indicators--visible li.active {
    opacity: 1;
}

.carousel-indicators--visible {
    display: block;
}

.carousel-caption--bottom {
    background-color: rgba(35, 119, 197, 1);
    top: auto;
    position: relative;
}

.carousel-caption--bottom h2 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    width: 90%;
}

.carousel-caption--bottom h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    width: 90%;
    margin-bottom: 0;
}

@media screen and (min-width: 480px) {

    .carousel--microsite {
        max-height: none;
    }

    .carousel-caption--bottom {
        padding: 20px 0 10px;
    }

    .carousel-caption--bottom h2 {
        margin-top: 0;
    }

}

@media screen and (min-width: 768px) {
    .carousel-caption--bottom {
        background-color: rgba(35, 119, 197, 0.7);
    }

    .carousel--microsite {
        max-height: none;
        margin-bottom: 30px
    }

    .carousel--microsite:after {
        background-color: #efefef;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        height: 30px;
    }

    .carousel--microsite .carousel-caption {
        padding: 15px 0 30px;
        position: absolute;
    }

    .carousel--microsite .carousel-indicators--visible {
        position: absolute;
        top: 75%;
    }

    .carousel--microsite .carousel-indicators--visible li {
        background: #B6D1EB;
        border-color: #B6D1EB;
    }

    .carousel--microsite .carousel-indicators--visible li.active {
        background: #fff;
        border-color: #fff;
    }

    .item--microsite {
        max-height: 425px;
    }

    .carousel-caption--bottom {
        padding: 30px 0 20px;
        position: absolute;
    }

    .carousel--microsite .carousel-control .icon {
        top: 0;
    }

    .carousel--microsite .carousel-inner {
        height: 400px;
    }

    .item--microsite img {
        min-height: 400px;
    }

    .carousel-caption--bottom h2 {
        width: 80%;
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (min-width: 1024px) {

    .item--microsite {
        max-height: 450px;
    }

    .carousel--microsite .carousel-indicators--visible {
        bottom: 15px;
    }

    .carousel--microsite .carousel-control .icon {
        width: 30px;
        height: 30px;
    }

    .carousel--microsite .carousel-caption {
        padding: 15px 0 35px;
    }

    .carousel-caption--bottom {
        padding: 30px 0 20px;
    }

    .carousel-caption--bottom h2 {
        font-size: 28px;
        line-height: 32px;
    }

    .carousel-caption--bottom h3 {
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (min-width: 1280px) {
    .item--microsite {
        max-height: 500px;
    }
}

@media screen and (min-width: 1900px) {
    .item--microsite {
        max-height: 560px;
    }
}