/* 
** Carousel with Tabs
*/

.carousel--tabs .carousel {
    overflow:initial;
    z-index: 1;
}
.carousel--tabs .carousel-control {
    padding-top: 50px;
}
.wrapper.carousel--tabs {
    margin-bottom:50px;
}
@media screen and (max-width: 1024px) {
    .wrapper.carousel--tabs {
        padding: 0;
    }
}

.carousel--tabs .carousel-control.left,
.carousel--tabs .carousel-control.right {
    background-image: none;
    width: 20px;
    top: 15px;
    color: #7a9816;
}

.carousel--tabs .carousel-control.left {
    left: -5%;
}

.carousel--tabs .carousel-control.right {
    right: -5%;
}

.carousel--tabs .carousel-inner {
    padding-bottom: 10px;
}

.carousel--tabs .carousel-item {
    padding-top: 35px;
    padding-bottom: 35px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #fff;
    font-size: 0.85em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 175px;
}

.carousel--tabs .carousel-item:hover {
    border: 1px solid #edf6ce;
    padding-bottom: 35px;
}

.carousel--tabs .carousel-item.selected {
    background-color: #edf6ce;
    border: 1px solid #edf6ce;
}


.carousel--tabs .carousel-item .arrow-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -13px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.carousel--tabs .carousel-item .item_image {
    display: inline-block;
    margin-bottom: 10px;
    max-width: 100%;
    vertical-align: middle;
    height: 40px;
    width: 40px;
}

.carousel--tabs .carousel--tabs__items {
    display: block;
    text-align: center;
}

.carousel--tabs .carousel--tabs__item {
    display: none;
}

.carousel--tabs__icon {
    position: absolute;
    bottom: -16px;
    font-size: 18px;
    color: #edf6ce;
    display: none;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .carousel--tabs .carousel-control.left {
        left: -2%;
    }
    .carousel--tabs .carousel-control.right {
        right: -2%;
    }

    #lifeStages .carousel-control {
        bottom: inherit;
    }
}

@media screen and (max-width: 767px) {
    .carousel--tabs .carousel-control.left {
        left: 2%;
    }
    .carousel--tabs .carousel-control.right {
        right: 2%;
    }

}
@media screen and (min-width: 728px) {
    .carousel--tabs .carousel-item {
        color: #7a9816;
    }
}
@media screen and (min-width: 1024px) {
    .carousel--tabs .carousel-control.left,
    .carousel--tabs .carousel-control.right {
        display: none;
    }
}
/* 
** Two Column Container in a Carousel with Tabs
*/

.carousel--tabs .two-column-container > div:first-of-type {
    box-sizing: border-box;
    padding: 20px 40px;
}

.carousel--tabs .two-column-container .v-divider-arrow {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    min-height: 190px;
    padding: 0 15px;
    background-image: url('/static/images/life_stage_divider.png');
}

.carousel--tabs .two-column-container .v-divider-arrow .row {
    margin: 20px 0 20px 0;
}

.carousel--tabs .two-column-container h3 {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .carousel--tabs .two-column-container .v-divider-arrow {
        padding: 0 15px;
    }
    .carousel--tabs .two-column-container .v-divider-arrow .row {
        margin: 20px 0 20px 0px;
    }
}
.carousel-item p {
    width:70%;
}

@media screen and (min-width: 1900px) {
    #lifeStages {
        height: inherit;
    }
}

@media screen and (min-width: 768px) {
    #lifeStages .item {
        min-height: inherit;
    }
}

@media screen and (min-width: 768px) {
    #lifeStages {
        min-height: inherit;
    }
}