/* Image size 500x250 */
.carousel-indicators {
    display: none;
}

.carousel {
    max-height: 250px;
    overflow: hidden;
    margin-top: 0;
}

.carousel-caption {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0 5%;
}

.carousel-caption--hero {
    width: 100%;
    display: flex;
    vertical-align: middle;
    margin: 5px auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    align-items: center;
}

.carousel--hero .icon {
    width: 24px;
    height: 24px;
}

/* Image size 800x400 */
@media screen and (min-width: 480px) {
    /* .carousel {
		max-height: 300px;
	 }*/

    .carousel-caption {
        padding: 0 15%;
    }

    .carousel-control {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        /* padding-top: 130px;*/
        z-index: 10;
    }
}

/* Image size 1100x550 */
@media screen and (min-width: 768px) {
    .item{
        max-height: 320px;
        min-height: 240px;
    }
    .carousel {
        min-height: 240px;
        max-height: 320px;
    }

    .carousel-indicators {
        display: block;
        bottom: 25%;
    }

    .carousel-caption {
        padding: 0 15%;
    }

    /*  .carousel-control {
		  padding-top: 100px;
	  }
  */
    .carousel-caption--hero {
        font-size: 3.6vw;
        line-height: 4vw;
        padding-bottom: 55px;
    }

    .carousel-indicators--visible {
        display: block;
        bottom: 30%;
    }
}

/* Image size 1350x675 */
@media screen and (min-width: 1024px) {
    .carousel-caption--hero {
        padding-bottom: 70px;
    }
    .carousel-indicators {
        display: block;
        bottom: 27.5%;
    }
    .carousel-inner > .item > a > img {
        max-height: 400px;
    }

    .carousel {
        max-height: 400px;
    }

    .carousel--hero .icon{
        width: 30px;
        height: 30px;
    }

    .carousel-caption {
        padding: 0 15%;
    }

    /*  .carousel-control {
		  padding-top: 170px;
	  }*/
}

/* Image size 1350x675 */
@media screen and (min-width: 1280px) {
    .carousel--hero, .carousel--hero .carousel-inner, .carousel--hero .carousel-inner .item {
        max-height: 400px;
    }

    .carousel-caption {
        padding: 0 20%;
    }
}

/* Image size 2600*1000 */
@media screen and (min-width: 1900px) {
    .carousel {
        height: 400px;
    }

    .carousel--hero .icon {
        font-size: 3vw;
    }
}