
.content-header__linkTitle{
    display:block;
    margin: 10px 0;
}

.microsite-content-header{
    margin-top:20px;
    margin-bottom: 10px;

}

.content--microsite p{
    line-height: 20px;
}

.content--microsite u{
    border-bottom: 1px solid #add0f0;
    text-decoration: none;
}

.content--microsite u:hover{
    border-bottom: 1px solid #2377c5;

}

.content-header ul{
    list-style: disc;
    margin-bottom: 10px;
    padding-left: 30px;
}

.content-header li{
    font-size: 0.85em;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.content__action .content__action--copy{
    margin-top: 20px;
    margin-bottom:10px;
}

.content--microsite ul{
    padding-left: 25px;
    font-size: 14px;
    list-style-type: disc;
    padding-bottom: 20px;
}

.content-header{
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .content-header{
        padding: 30px 10% 0 10%;
    }
    .content__action .content__action--copy{
        margin-bottom:30px;
    }

    .microsite-content-header{
        margin-top:30px;
        font-size:22px;
    }

    .microsite-page-secondary-header{
        font-size: 16px;
    }

}

@media screen and (min-width: 1024px) {

    .microsite-content-header{
        margin-top:40px;
        margin-bottom: 10px;
        font-size: 1.75em;
        font-weight: 400;
    }
    .microsite-page-secondary-header{
        font-size: 16px;
    }
    .content-header{
        width: 80%;
        margin: auto;
        padding: 40px 10% 10px 10%;
        font-size: 1.75em;
        font-weight: 400;
    }

    .content-header p{
        line-height: 20px;
    }

    .content__action .content__action--copy{
        margin-bottom:40px;
    }
}