.contact-us{
    padding:20px 0;
}

.contact-us__dropdown {
    padding: 40px 0 40px;
}

.contact-us__result {
    padding: 40px 0 0px;
}

.contact-us--medium-size-font {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.contact-us__address_header {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.contact-us--small-size-font,
.contact-results--small-heading {
    font-size: 13px;
    line-height: 26px;
    font-weight: 600;
}
.contact-us--small-size-font{
    line-height: 20px;
}

.contact-results--large-heading {
    font-size: 20px;
    font-weight: 600;
}

.contact-us__result-group {
    margin-bottom: 30px;
}

.contact-us__result-group:last-of-type {
    margin-bottom: 0;
}

.contact-us__listing-row,
.contact-us__address-block {
    margin-bottom: 10px;
}
.contact-results--large-heading{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.contact-us__listing-row a{
    color: #2377C5;
}


@media screen and (min-width: 768px) {
    .contact-us__listing-row a{
        color: #333;
        pointer-events: none;
        cursor: pointer;
    }
}

.contact-us__header {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.contact-us__header--large {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: 400;
}
.contact-us__sub-header{
    color: #999;
    font-size: 13px;
    line-height: 20px;
}
.contact-us__paragraph-header, .contact-us__single-result__paragraph{
    font-size: 14px;
    line-height: 20px;
}
.contact-us__contact-form__sub-header {
    font-weight: 400;
}

.contact-us__sub-header,
.contact-us__paragraph-header,
.contact-us__single-result__paragraph {
    margin-bottom: 20px;
    font-weight: 400;
}

.contact-us__paragraph-header {
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-us__phone-block {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.contact-us__phone-block span {
    clear: left;
    float: left;
}

.contact-us__phone-block .semi-bold {
    font-weight: 600;
}

.contact-us__phone-block a.semi-bold {
    font-weight: 600;
}

.contact-us__phone-block:nth-child(even) {
    clear: left;
}

.contact-us__contact-form__wrapper {
    padding: 40px 25px 0px;
    margin-top: 50px;
    margin-bottom: 10px;
    -webkit-box-shadow: 3px 4px 3px 1px rgba(171, 171, 171, 0.68);
    -moz-box-shadow: 3px 4px 3px 1px rgba(171, 171, 171, 0.68);
    box-shadow: 3px 4px 3px 1px rgba(171, 171, 171, 0.68);
}

.wrapper.wrapper__contact-us__bottom-box,
.wrapper__contact-us__bottom-box--smaller {
    font-weight: 600;
}
.wrapper.wrapper__contact-us__bottom-box{
    display: table;
}
.wrapper__contact-us__bottom-box__links {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
}

.wrapper__contact-us__bottom-box__links .clearfix--margin-top {
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}



.contact-container__contact-us-page .contactOtherDetails {
    display: none;
}

.contact-container__contact-us-page {
    padding-bottom: 40px;
}

.contact-form__footer {
    margin-top: 40px;
}

.content-block__header {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.section-block,
.content-block {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-block.border-bottom,
.content-block.border-bottom {
    margin-top: 0;
    margin-bottom: 0;
}

.section-block .video-text__document,
.content-block .video-text__document {
    margin-bottom: 10px;
}

.section-block__split > div {
    margin-bottom: 20px;
}

.section-block__split:last-child > div:last-child {
    margin-bottom: 0;
}

.section-block__split span {
    display: block;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .wrapper__contact-us__bottom-box--smaller .clearfix--margin-top {
        line-height: 18px;
    }
    .contact-us__dropdown {
        padding: 5px 0px 20px;
    }

    .wrapper.wrapper__contact-us__bottom-box {
        padding: 0px;
        text-align: center;
    }

    .wrapper.wrapper__contact-us__bottom-box--smaller {
        padding-top: 0px;
        text-align: center;
    }

    .container--no-margin-bottom.contact-us a {
        float: left;
        width: 100%;
        padding: 0px 0 20px;
        border-bottom: 1px solid #ccc;
    }
    .wrapper__contact-us__bottom-box__links:last-of-type a{
        border-bottom: none;
    }
    .container--no-margin-bottom:last-of-type.contact-us a  {
        border-bottom: none;
    }

    .container--no-margin-bottom.contact-us .contact-us--medium-size-font {
        padding-top: 20px;
        width: 100%;
        float: left;
    }


    .container--no-margin-bottom.contact-us .wrapper__contact-us__bottom-box__links:first-of-type .contact-us--medium-size-font{
        padding-top: 0px;
    }

    .wrapper.wrapper__contact-us__bottom-box--smaller .clearfix.clearfix--margin-top {
        float: left;
        margin-top: 20px;
    }

    .contact-us__result-group {
        margin-bottom: 20px;
    }

    .wrapper.contact-us__results__wrapper {
        padding-top: 0px;
    }

    .contact-us__result {
        padding-top: 20px;
    }

    .contact-us__header--large {
        margin-bottom: 15px;
    }

    .contact-us__contact-form__wrapper {
        padding-bottom: 20px;
    }

    .contact-us__contact-form__wrapper #headerContactSideBarSumbit {
        width: 100%;
    }
    .contact-us--small-size-font:not(:first-child):not(:last-child) {
         padding-bottom: 0px;
    }
}

@media screen and (min-width: 768px) {

    .contact-us{
        padding:0;
    }

    .wrapper.wrapper__contact-us__bottom-box{
        border-bottom: 1px solid #ccc;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .contact-us__dropdown{
        padding: 40px 0;
    }
    .contact-us--small-size-font,
    .contact-results--small-heading {
        font-size: 14px;
        line-height: 18px;
    }
    .contact-us__address_header {
        font-size: 20px;
        line-height: 24px;
    }


    .contact-us__address-block > div {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper.contact-us__results__wrapper {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    .contact-us__contact-form__wrapper {
        padding: 30px 12.5% 0px;
    }

    .wrapper__contact-us__bottom-box__links {
        width: 50%;
        margin-top: 20px;
        display: inline-block;
    }

    .wrapper__contact-us__bottom-box__links:nth-child(-n+2){
        margin-top: 0px;
    }

    .wrapper__contact-us__links:nth-child(-n+2) {
        margin-top: 40px;
    }

    .wrapper__contact-us__bottom-box__links:nth-child(odd) {
        padding-right: 40px;
        clear: both;
        float: left;
        text-align: right;
    }
    .wrapper__contact-us__bottom-box__links:nth-child(n+1) {
        padding-bottom: 10px;
    }

    .wrapper__contact-us__bottom-box__links:nth-child(n+3) {
        padding-top: 10px;
        padding-bottom: 0px;
    }


    .wrapper__contact-us__bottom-box__links:nth-child(even) {
        border-left: 1px solid #ccc;
        padding-left: 40px;
        text-align: left;
        float: right;
    }

    .wrapper__contact-us__bottom-box__links:last-child:nth-child(odd) {
        width: 100%;
        padding-right: 0;
        border: none;
        text-align: center;
        margin-bottom: 40px;
    }
    .contact-us__header {
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .contact-us__phone-block {
        margin-left: 5%;
        width: 45%;
    }

    .section-block,
    .content-block {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .section-block {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    .content-block__header {
        font-size: 24px;
        line-height: 28px;
    }

    .section-block__split {
        display: table;
        width: 100%;
        margin-bottom: 20px;
    }

    .section-block__split:last-child {
        margin-bottom: 0;
    }

    .section-block__split > div {
        display: table-cell;
        width: 50%;
        padding-left: 5%;
    }
    .contact-us__header--large {
        font-size: 24px;
        line-height: 28px;
    }
    .wrapper__contact-us__bottom-box__links .clearfix--margin-top{
        line-height: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper__contact-us__bottom-box__links{
        margin-top: 30px;
    }
    .wrapper__contact-us__bottom-box__links:nth-child(odd) {
        padding-right: 60px;
    }
    .wrapper__contact-us__bottom-box__links:nth-child(even) {
        padding-left: 60px;
    }
    .contact-us__dropdown{
        padding: 50px 0;
    }
    .wrapper.wrapper__contact-us__bottom-box {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contact-us--small-size-font,
    .contact-results--small-heading {
        line-height: 20px;
    }
    .contact-results--large-heading{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
    .contact-us__results__wrapper > div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-us__header {
        font-size: 20px;
    }

    .contact-us__address_header {
        font-size: 22px;
        line-height: 26px;
    }


    .section-block,
    .content-block {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .content-block {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .content-block__header {
        font-size: 28px;
        line-height: 32px;
    }
    .contact-us__header--large {
        font-size: 28px;
        line-height: 32px;
    }
}

.wrapper__contact-us__bottom-box__links .clearfix:before{
    margin-top: 5px;
}