.cta_header_quote p {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
.cta_header_quote .cta_header_quote_type_of_insurance {
    margin-bottom: 15px;
}
.cta_header_quote .select_wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 2px;
    font-weight: 400;
}
.cta_header_quote .cta_header_quote_type_of_insurance--sub {
    width:100%;
}
.select_wrapper select:disabled{
    background-color: #ccc!important;
}

.cta_header_quote select,  .edit-quote__results select {
    border-radius: 2px;
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    padding: 8px 12px;
    padding-right: 17px;
    background-color: white;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}

.cta_header_quote .state_wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    width: calc(100% - 118px);
}

.cta_header_quote .btn {
    display: inline-block;
    margin-left: 10px;
}

.cta_header_quote .btn_global {
    margin: 0px;
    float: left;
}

.cta_header_quote .quote_tool_form {
    width: 100%;
}

.cta_header_quote .quote_tool_form .birth_month_cta_quote,  .cta_header_quote .quote_tool_form .birth_day_cta_quote {
    float: left;
    width: calc(100% / 3 - 6px);
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 15px;
    height: 40px;
    padding: 8px 12px;
    padding-right: 17px;
}

.cta_header_quote .quote_tool_form .birth_year_cta_quote {
    width: calc(100% / 3);
    margin-right: 0;
    float:right;
}

.cta_header_quote .quote_tool_form .dob_input {
    width: 100%;
    clear: both;
    display: block;
}

.cta_header_quote .quote_tool_form .dob_input .dob_label {
    display: table-cell;
    height: 30px;
    vertical-align: bottom;
    color: #ffffff;
    font-size: 12px;
}

.cta_header_quote .quote_tool_form .dob_wrapper {
    width: 100%;
    overflow-x: hidden;
}

.cta_header_quote .quote_tool_form .gender_select {
    display: block;
    width: 100%;
    clear: none;
}

.cta_header_quote .quote_tool_form .gender_select select {
    background-color: #fff;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 15px;
    height: 40px;
    background-color: white;
    background-position: top 50% right 0px;
    background-size: 18px 40px;
    background-repeat: no-repeat;
}

.cta_header_quote .quote_tool_form .ca_termLife {
    display: block;
    width: 100%;
    clear: none;
}

.cta_header_quote .quote_tool_form .ca_termLife select {
    width: 90%;
    width: calc(100% - 29px);
    margin-bottom: 15px;
}

.cta_header_quote .quote_tool_form .ca_termLife svg  {
    cursor: pointer;
}

.cta_header_quote .quote_tool_form .ca_gawli {
    display: block;
    width: 100%;
    clear: none;
}

.cta_header_quote .quote_tool_form .ca_gawli select {
    width: 90%;
    width: calc(100% - 29px);
    margin-bottom: 15px;
}

.cta_header_quote .quote_tool_form .ca_gawli svg  {
    cursor: pointer;
}

.cta_header_quote .quote_tool_form .term_length {
    display: block;
}

.cta_header_quote .quote_tool_form .term_length select {
    margin-bottom: 15px;
}

.cta_header_quote .quote_tool_form .tobacco_nicotine_users {
    display: block;
}

.cta_header_quote .quote_tool_form .tobacco_nicotine_users select {
    margin-bottom: 15px;
}

.cta_header_quote .quote_tool_form .your_health {
    width: 100%;
    display: block;
}

.cta_header_quote .quote_tool_form .your_health select {
    width: 90%;
    width: calc(100% - 29px);
    margin-bottom: 15px;
}

.cta_header_quote .quote_tool_form .your_health .open_health_overlay {
    /*position: absolute;*/
    height: 40px;
}

.cta_header_quote .quote_tool_form .your_health .open_health_overlay svg  {
    position: absolute;
    margin-left: 5px;
    margin-top: 7.5px;
    vertical-align: middle;
    cursor: pointer;

}

.cta_header_quote .quote_tool_form .coverage_amount span {
    /*position: absolute;*/
    height: 40px;
}

.cta_header_quote .quote_tool_form .coverage_amount span svg  {
    position: absolute;
    margin-left: 5px;
    margin-top: 8px;
    vertical-align: middle;

}

.cta_header_quote .quote_tool_form .apply_option {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
}

.cta_header_quote .quote_tool_form .apply_type {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 13px;
}

.cta_header_quote .quote_tool_form .apply_type .apply_radio {
    margin-right: 5px;
}

.cta_header_quote .quote_tool_form .apply_type img {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-left: 50px;
}

.cta_header_quote .quote_tool_form .apply_type img {
    cursor: pointer;
}

.cta_header_quote .quote_tool_form .apply_type input[type="radio"] {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.cta_header_quote .quote_tool_form .apply_type .radio_online {
    cursor: pointer;
}

.cta_header_quote .quote_tool_form .apply_type .radio_online img {
    margin-left: 0px;
    margin-bottom: 5px;
}

.cta_header_quote .quote_tool_form .apply_type .radio_online span {
    font-size: 14px;
    font-weight: 300;
}

.cta_header_quote .quote_tool_form .apply_type .radio_rep {
    cursor: pointer;
}

.cta_header_quote .quote_tool_form .apply_type .radio_rep img {
    margin-left: 10px;
    margin-bottom: 5px;
}

.cta_header_quote .quote_tool_form .apply_type .radio_rep span {
    font-size: 14px;
    font-weight: 300;
}

.cta_header_quote .quote_tool_form .btn {
    margin-left: 0px;
    display: inline-block;
}

.cta_header_quote .quote_tool_form .quoteBottom {
    display: none;
}

.cta_header_quote .quote_tool_form {
    display: none;
}

.cta_header_quote .errorSpan {
    position: relative;
    clear: both;
    background-color: #eb4646;
    color: #fff;
    white-space: normal;
    left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px;
    display: none;
    z-index: 2;
    border: 1px solid #eb4646;
}

.cta_header_quote .errorSpan .error_arrow_img {
    position: absolute;
    top: -24px;
    height: 30px;
}

.cta_header_quote .errorSpan .errorSpanImg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.cta_header_quote .errorField {
    border: 1px solid #eb4646 !important;
    color: #db3535 !important;
    background-color: #f5d0d0 !important;
}

.cta_header_quote .errorArrow {
    background-position: top 50% right 0px !important;
    background-size: 18px !important;
    background-repeat: no-repeat !important;
}

.life-quote-form {
    padding: 0;
    margin:0;
    width: auto;
    background-color: transparent;
}

.life-quote-form .quote_tool_form {
    display:block;
}

.life-quote-form  select:disabled {
    background-color: #ccc;
    opacity: 1;
}

.life-quote-form .quote_tool_form .gender_select select:disabled {
    background-color: #ccc;
    opacity: 1;
}

.image_radio {
    margin-right: 10px;
}

.image_radio .icon {
    width: 25px;
    height: 25px;
    fill: #fff;
    position: relative;
    margin-right: 5px;
    vertical-align: bottom;
}
.cta_header_quote .modified-margin-quote-insurance {
    margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
    .cta_header_quote .cta_header_quote_type_of_insurance--sub {
        margin-bottom: 15px;
    }
    .life-insurance-quote-right .life-quote-form .btn_global {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .cta_header_quote .cta_header_quote_type_of_insurance--sub {
        width:80%;
    }
    .cta_header_quote .btn_global {
        margin: 0px;
        float: right;
    }
    .cta_header_quote .dob_cta_quote {
        display: none;
    }
    .cta_header_quote .quote_tool_form .your_health select {
        width: 90%;
        width: calc(100% - 29px);
    }
    .cta_header_quote .errorSpan .error_arrow_img {
        position: absolute;
        top: 99px;
        height: 30px;
    }
    .life-insurance-quote-right .cta_header_quote .btn_global {
        float: left;
    }
    .cta_header_quote .coverage_amount span svg use {
        right: 34px;
    }

    .life-quote-form {
        padding: 0;
        width: auto;
        margin:0;
        background-color: transparent;
    }

}

@media screen and (min-width: 1024px) {

    .cta_header_quote .state_wrapper {
        float: left;
        width: 45%;
    }

    .cta_header_quote .dob_cta_quote {
        color: white;
        font-size: 12px;
        margin-left: 49%;
        display: none;
    }

    .cta_header_quote .quote_tool_form .dob_input {
        text-align: right;
        padding-left: 15px;
        width: 55%;
        display: inline-block;
    }

    .cta_header_quote .quote_tool_form .dob_input select {
        width: calc(100% / 3 - 6px);
        float: left;
    }

    .cta_header_quote .quote_tool_form .dob_input select:last-of-type {
        width: calc(100% / 3);

    }

    .cta_header_quote .quote_tool_form .gender_select {
        width: 45%;
        display: inline-block;
        clear: both;
        float: left;
        padding-right: 0px;
    }

    .cta_header_quote .quote_tool_form .ca_termLife {
        position: relative;
        padding-left: 15px;
        display: inline-block;
        width: 55%;
        clear: none;
    }

    .cta_header_quote .quote_tool_form .ca_termLife select {
        width: 100%;
        margin-bottom: 15px;

    }

    .cta_header_quote .quote_tool_form .ca_termLife span a svg  {
        position: absolute;
        top: 0px;
        right: -25px;
    }

    .cta_header_quote .quote_tool_form .ca_gawli {
        padding-left: 10px;
        display: inline-block;
        width: 55%;
        clear: none;
    }

    .cta_header_quote .quote_tool_form .ca_gawli select {
        width: 80%;
        margin-bottom: 15px;
        font-size: 11px;
        background-position: 90% 50%;
    }

    .cta_header_quote .quote_tool_form .term_length {
        display: inline-block;
        float: left;
        width: 45%;
    }

    .cta_header_quote .quote_tool_form .tobacco_nicotine_users {
        padding-left: 15px;
        display: inline-block;
        width: 55%;
    }

    .cta_header_quote .quote_tool_form .your_health {
        position: relative;
    }

    .cta_header_quote .quote_tool_form .your_health select {
        width: 100%;
    }

    .cta_header_quote .quote_tool_form .your_health svg  {
        position: absolute;
        right: -28px;
        top: 0px;
    }

    .cta_header_quote .quote_tool_form .apply_type .radio_online span {
        font-size: 16px;
    }

    .cta_header_quote .quote_tool_form .apply_type .radio_rep span {
        font-size: 16px;
    }

    .cta_header_quote .submit_quote_cta_form {
        clear: both;
    }

    .cta_header_quote .errorSpan .error_arrow_img {
        position: absolute;
        top: 97px;
        height: 30px;
    }

    .life-quote-form {
        padding: 0;
        width:auto;
        margin:0;
        background-color: transparent;
    }
}

.quote-tool-form{
    display: none;
}
.quote-tool-form .form-focus, .quote-tool-form .generic-form .floatContentLeft {
    width: 50%;
    float: left;
}

.quote-tool-form .form-focus:last-child, .quote-tool-form .generic-form .form-focus:nth-last-child(2):nth-child(odd), .quote-tool-form .floatContentLeft:last-child, .quote-tool-form .floatContentLeft:nth-last-child(2):nth-child(odd) {
    padding-right: 0;
    clear: both;
    width: 100%;
}

.quote-tool-form .form-focus:nth-child(odd), .quote-tool-form .floatContentLeft:nth-child(odd) {
    padding-right: 5px;
}
.quote-tool-form .form-focus:nth-child(even), .quote-tool-form .floatContentLeft:nth-child(even) {
    padding-left: 5px;
}

.quote-tool-form > div > form > div:nth-last-child(2){
    margin-bottom: 10px;
}
