/* line 3, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote {
    background-color: #0e5dae;
    width: 100%;
    padding: 30px 20px;
}
.cta_header_quote > .btn_global{
    float: right;
}

    /* line 11, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote p {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

 .cta_header_quote input[type="text"]:disabled{
    opacity:0.5;
}
 .cta_header_quote select:disabled{
    opacity:0.5;

}

/* line 17, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .cta_header_quote_type_of_insurance {
    margin-bottom: 15px;
}


/* line 21, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .select_wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 2px;
    font-weight: 400;
}
.cta_header_quote .cta_header_quote_type_of_insurance--sub {
    width:80%;
}

/* line 31, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote select,  .edit-quote__results select {
    border-radius: 2px;
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    padding: 8px 12px;
    padding-right: 17px;
    border: 0px solid #000000;
    color: #666666;
    background-color: white;

    background-position: top 50% right 0px;
    background-size: 18px 40px;
    background-repeat: no-repeat;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}

/* line 51, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .state_wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    width: calc(100% - 118px);
}

/* line 56, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .btn {
    display: inline-block;
    margin-left: 10px;
}

 .cta_header_quote .btn_global {
    margin: 0px;
}

/* line 61, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form {
    width: 100%;
}

/* line 64, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .birth_month_cta_quote,  .cta_header_quote .quote_tool_form .birth_day_cta_quote {
    float: left;
    width: calc(100% / 3 - 6px);
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 15px;
    height: 40px;
    padding: 8px 12px;
    padding-right: 17px;
}

/* line 79, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .birth_year_cta_quote {
    width: calc(100% / 3);
    margin-right: 0;
    float:right;
}

/* line 84, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .dob_input {
    width: 100%;
    clear: both;
    display: block;
}

/* line 92, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .dob_input .dob_label {
    display: table-cell;
    height: 30px;
    vertical-align: bottom;
    color: #ffffff;
    font-size: 12px;
}

/* line 101, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .dob_wrapper {
    width: 100%;
    overflow-x: hidden;
}

/* line 106, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .gender_select {
    display: block;
    width: 100%;
    clear: none;
}

/* line 111, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .gender_select select {
    background-color: #fff;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 15px;
    height: 40px;
    background-color: white;
    background-position: top 50% right 0px;
    background-size: 18px 40px;
    background-repeat: no-repeat;
}

/* line 130, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .ca_termLife {
    display: block;
    width: 100%;
    clear: none;
}

/* line 133, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .ca_termLife select {
    width: 90%;
    width: calc(100% - 29px);
    margin-bottom: 15px;
}

/* line 141, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .ca_termLife svg  {
    cursor: pointer;
}

/* line 145, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .ca_gawli {
    display: block;
    width: 100%;
    clear: none;
}

/* line 148, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .ca_gawli select {
    width: 90%;
    width: calc(100% - 29px);
    margin-bottom: 15px;
}

/* line 154, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .ca_gawli svg  {
    cursor: pointer;
}

/* line 159, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .term_length {
    display: block;
}

/* line 161, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .term_length select {
    margin-bottom: 15px;
}

/* line 165, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .tobacco_nicotine_users {
    display: block;
}

/* line 167, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .tobacco_nicotine_users select {
    margin-bottom: 15px;
}

/* line 171, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .your_health {
    width: 100%;
    display: block;
}

/* line 174, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .your_health select {
    width: 90%;
    width: calc(100% - 29px);
    margin-bottom: 15px;
}

/* line 179, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .your_health .open_health_overlay {
    /*position: absolute;*/
    height: 40px;
}

/* line 182, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .your_health .open_health_overlay svg  {
    position: absolute;
    margin-left: 5px;
    margin-top: 7.5px;
    vertical-align: middle;
    cursor: pointer;

}

/* line 193, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .coverage_amount span {
    /*position: absolute;*/
    height: 40px;
}

/* line 196, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .coverage_amount span svg  {
    position: absolute;
    margin-left: 5px;
    margin-top: 8px;
    vertical-align: middle;

}

/* line 205, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_option {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
}

/* line 213, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 13px;
}

/* line 218, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type .apply_radio {
    margin-right: 5px;
}

/* line 221, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type img {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-left: 50px;
}

/* line 226, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type img {
    cursor: pointer;
}

/* line 231, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type input[type="radio"] {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* line 239, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type .radio_online {
    cursor: pointer;
}

/* line 241, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type .radio_online img {
    margin-left: 0px;
    margin-bottom: 5px;
}

/* line 245, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type .radio_online span {
    font-size: 14px;
    font-weight: 300;
}

/* line 250, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type .radio_rep {
    cursor: pointer;
}

/* line 252, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type .radio_rep img {
    margin-left: 10px;
    margin-bottom: 5px;
}

/* line 256, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .apply_type .radio_rep span {
    font-size: 14px;
    font-weight: 300;
}

/* line 262, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .btn {
    margin-left: 0px;
    display: inline-block;
}

/* line 267, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form .quoteBottom {
    display: none;
}

/* line 272, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .quote_tool_form {
    display: none;
}

/* line 277, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .errorSpan {
    position: relative;
    clear: both;
    background-color: #eb4646;
    color: #fff;
    white-space: normal;
    left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px;
    display: none;
    z-index: 2;
    border: 1px solid #eb4646;
}

/* line 291, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .errorSpan .error_arrow_img {
    position: absolute;
    top: -24px;
    height: 30px;
}

/* line 296, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .errorSpan .errorSpanImg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

/* line 305, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .errorField {
    border: 1px solid #eb4646 !important;
    color: #db3535 !important;
    background-color: #f5d0d0 !important;
}

/* line 311, ../../../sass/_ctaHeaderToolMobile.scss */
 .cta_header_quote .errorArrow {
    background-position: top 50% right 0px !important;
    background-size: 18px !important;
    background-repeat: no-repeat !important;
}

 .life-quote-form {
    padding: 0;
    margin:0;
    width: auto;
    background-color: transparent;
}

 .life-quote-form .quote_tool_form {
    display:block;
}

 .life-quote-form  select:disabled {
    background-color: #ccc;
    opacity: 1;
}

 .life-quote-form .quote_tool_form .gender_select select:disabled {
    background-color: #ccc;
    opacity: 1;
}

.image_radio {
    margin-right: 10px;
}

.image_radio .icon {
    width: 25px;
    height: 25px;
    fill: #fff;
    position: relative;
    margin-right: 5px;
    vertical-align: bottom;
}

@media screen and (min-width: 768px) {

     .cta_header_quote {
        width: 48%;
        margin-bottom: 0;
    }

    /* line 16, ../../../sass/_ctaHeaderToolTablet.scss */
     .cta_header_quote .dob_cta_quote {
        display: none;
    }

    /* line 23, ../../../sass/_ctaHeaderToolTablet.scss */
     .cta_header_quote .quote_tool_form .your_health select {
        width: 90%;
        width: calc(100% - 29px);
    }



    /* line 40, ../../../sass/_ctaHeaderToolTablet.scss */
     .cta_header_quote .errorSpan .error_arrow_img {
        position: absolute;
        top: 99px;
        height: 30px;
    }

    /* line 48, ../../../sass/_ctaHeaderToolTablet.scss */
     .cta_header_quote .coverage_amount span svg use {
        right: 34px;
    }

     .life-quote-form {
        padding: 0;
        width: auto;
        margin:0;
        background-color: transparent;
    }
}

@media screen and (min-width: 1025px) {
     .cta_header_quote {
        margin-bottom: 0;
        width: 45%;
        padding: 30px 35px;
        margin-left: 3.5%;
    }

   /* /!* line 20, ../../../sass/_ctaHeaderToolDekstop.scss *!/
     .cta_header_quote .select_wrapper {
        margin-bottom: 15px;
    }*/

    /* line 23, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .state_wrapper {
        float: left;
        width: 45%;
    }

    /* line 27, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .dob_cta_quote {
        color: white;
        font-size: 12px;
        margin-left: 49%;
        display: none;
    }

    /* line 42, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .dob_input {
        text-align: right;
        padding-left: 15px;
        width: 55%;
        display: inline-block;
    }

    /* line 48, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .dob_input select {
        width: calc(100% / 3 - 6px);
        float: left;
    }

     .cta_header_quote .quote_tool_form .dob_input select:last-of-type {
        width: calc(100% / 3);

    }

    /* line 55, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .gender_select {
        width: 45%;
        display: inline-block;
        clear: both;
        float: left;
        padding-right: 0px;
    }

    /* line 63, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .ca_termLife {
        position: relative;
        padding-left: 15px;
        display: inline-block;
        width: 55%;
        clear: none;
    }

    /* line 68, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .ca_termLife select {
        width: 100%;
        margin-bottom: 15px;

    }

    /* line 81, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .ca_termLife span a svg  {
        position: absolute;
        top: 0px;
        right: -25px;
    }

    /* line 89, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .ca_gawli {
        padding-left: 10px;
        display: inline-block;
        width: 55%;
        clear: none;
    }

    /* line 93, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .ca_gawli select {
        width: 80%;
        margin-bottom: 15px;
        font-size: 11px;
        background-position: 90% 50%;
    }

    /* line 102, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .term_length {
        display: inline-block;
        float: left;
        width: 45%;
    }

    /* line 107, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .tobacco_nicotine_users {
        padding-left: 15px;
        display: inline-block;
        width: 55%;
    }

    /* line 112, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .your_health {
        position: relative;
    }

    /* line 114, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .your_health select {
        width: 100%;
    }

    /* line 117, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .your_health svg  {
        position: absolute;
        right: -28px;
        top: 0px;
    }

    /* line 126, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .apply_type .radio_online span {
        font-size: 16px;
    }

    /* line 131, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .quote_tool_form .apply_type .radio_rep span {
        font-size: 16px;
    }

    /* line 139, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .submit_quote_cta_form {
        clear: both;
    }

    /* line 144, ../../../sass/_ctaHeaderToolDekstop.scss */
     .cta_header_quote .errorSpan .error_arrow_img {
        position: absolute;
        top: 97px;
        height: 30px;
    }

     .life-quote-form {
        padding: 0;
        width:auto;
        margin:0;
        background-color: transparent;
    }
}

.quote-tool-form{
    display: none;
}
.quote-tool-form .form-focus, .quote-tool-form .generic-form .floatContentLeft {
    width: 50%;
    float: left;
}

.quote-tool-form .form-focus:last-child, .quote-tool-form .generic-form .form-focus:nth-last-child(2):nth-child(odd), .quote-tool-form .floatContentLeft:last-child, .quote-tool-form .floatContentLeft:nth-last-child(2):nth-child(odd) {
    padding-right: 0;
    clear: both;
    width: 100%;
}

.quote-tool-form .form-focus:nth-child(odd), .quote-tool-form .floatContentLeft:nth-child(odd) {
    padding-right: 5px;
}
/* line 249, ../../../sass/_formVariationsDesktop.scss */
.quote-tool-form .form-focus:nth-child(even), .quote-tool-form .floatContentLeft:nth-child(even) {
    padding-left: 5px;
}

.quote-tool-form > div > form > div:nth-last-child(2){
    margin-bottom: 10px;
}

.noFao{
    margin-left: 26%;
}
