.disclaimer {
    color: #999;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 0;
}
.disclaimer:last-child {
    padding-bottom: 0;
}



.disclaimer--product-module {
    padding-top: 20px;
    padding-bottom: 0;
}

.disclaimer--product-module .disclaimer {
    padding-bottom: 0;
    margin-bottom: 0;
}

.product-comparison-chart-disclaimer .disclaimer {
    padding-top: 0;
}

@media screen and (min-width: 768px) {


    .product-comparison-chart-disclaimer {
        margin: 15px auto 0;
    }

    .product-comparison-chart-disclaimer .disclaimer {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {

    .disclaimer--product-module .disclaimer {
        width: 65%;
    }


    .product-comparison-chart-disclaimer {
        margin: 20px auto 0;
    }

}