.disclaimer {
    color: #999;
    padding-top: 20px;
    font-size: 11px;
    margin-bottom: 0;
    line-height: 15px;
}

.disclaimer--microsite {
    padding-top: 20px;
}

.disclaimer--product-module {
    padding-top: 20px;
    padding-bottom: 0;
}

.disclaimer--product-module .disclaimer {
    padding-bottom: 0;
    margin-bottom: 0;
}

.product-comparison-chart-disclaimer .disclaimer {
    padding-top: 0;
}

@media screen and (max-width: 767px) {
    .disclaimer--main {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .disclaimer {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .disclaimer:first-of-type {
        padding-top: 35px;
    }

    .disclaimer:last-of-type {
        margin-bottom: 30px;
        padding-bottom: 0;
    }

    .disclaimer--microsite {
        padding-top: 40px;
    }

    .product-comparison-chart-disclaimer {
        margin: 15px auto 30px;
    }

    .product-comparison-chart-disclaimer .disclaimer {
        padding-bottom: 0;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1024px) {
    .disclaimer {
        font-size: 12px;
    }

    .disclaimer--product-module .disclaimer {
        width: 65%;
    }

    .disclaimer--microsite {
        padding-top: 50px;
    }

    .product-comparison-chart-disclaimer {
        margin: 20px auto 40px;
    }
}