.divider--scroll {
    margin-top: 30px;
    border-top: 1px solid #cccccc;
    text-align: center;
    padding: 20px 0 0 0;
    height: 1px;
}

.divider--scroll__link {
    position: relative;
    top: -10px;
    margin: -30px auto 0;
    position: relative;
    display: inline-block;
    background-color: #fff;
    font-size: 0.8em;
    padding: 0 20px;
    line-height: 1.25em;
    text-align: center;
}

.divider--scroll__link--gray {
    background-color: #efefef;
}

.microsite__divider--scroll .divider--scroll {
    margin: 40px auto 20px;
}

.scroll-form-more-container {
    position: absolute;
    left: 90%;
    top: 675px;
}

.scroll-form-more-container .scroll-more {
    display: inline-block;
    text-align: center;
}

.scroll-form-more-container .scroll-more a {
    color: black;
}

.scroll-form-more-container .scroll-more a:hover {
    color: black;
    text-decoration: none;
}

.scroll-form-more-container .scroll-more img {
    height: 50px;
    width: 65px;
}

.microsite__divider--scroll .divider--scroll__link{
    background-color: #efefef;
}