.email--unsubscribe{
    padding: 20px;
}
.email--unsubscribe-message{
    display: none;
}

.email--unsubscribe p{
    font-size: 14px;
    line-height: 20px;
}
.email--unsubscribe p:last-of-type{
    margin-bottom: 40px;
}

.email--unsubscribe__form-fields{
    display: inline-block;
    width: 100%;
}

.email--unsubscribe__form-fields input{
    display: inline-block;
    width:100%;
}
.email--unsubscribe__form-fields button{
    display: inline-block;
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .email--unsubscribe{
        padding:30px 30px 40px;
        margin-left: 0;
    }
    .email--unsubscribe__form-fields{
        width: 50%;
        display: inline-block;
    }

    .email--unsubscribe__form-fields input{
        display: inline-block;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .email--unsubscribe{
        width: 80%;
        padding-top: 40px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 767px) {
    .email--unsubscribe__form-fields input {
        margin-bottom: 10px;
    }
}