/********************************* search container css ***************************************/
.fax__container .contact-container--form-card{
    box-shadow: none;
}



.find-an-x-search__container{
    padding-top: 25px;
    position: relative;
    padding-bottom: 20px;
}

.find-an-x-search__container .mobile_expand_close{
    display: none;
    position:absolute;
    top: 4px;
    right: 2px;
}
.find-an-x-search__container .mobile_expand_close svg{
    height: 16px;
}

.cta_search__container{
    position: relative;
    text-align: center;
}

.cta_search__container .find-an-x-input__container{
    display: block;
    position: relative;
    padding: 0px 20px;
    margin-bottom: 10px;
}



.cta_search__container .find-an-x-input__container .search_location_image, .find-office__zip-city-state-container .search_location_image{
     position:absolute;
     right: 25px;
     top: 7px;
 }

.find-office__zip-city-state-container .search_location_image{
    right: 5px;
}

.cta_search__container .find-an-x-input__container .search_location_image svg , .find-office__zip-city-state-container .search_location_image svg{
    height: 26px;
    width: 26px;
}

.cta_search__container .find-an-x-search--expand{
    display:none;
    padding: 0 20px;
}

.cta_search__container .find-an-x-search--expand .directions_button{
    width: 100%;
    display:inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

/************************************* end search container css ******************************/
/************************ Begin Google Maps css ********************************/
.google-maps-container{
    margin-bottom: 5%;
    min-height: 150px;
}
.google-maps-container .googleMarkerInfo{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    letter-spacing: normal;
    min-height: 50px;
}

.google-maps-container .googleMarkerInfo .markerInfoOfficeName{
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    color: #2377C5;
    text-align: left;
}

.google-maps-container .googleMarkerInfo .markerInfoAddress{
    display: block;
}

.google-maps-container .googleMarkerInfo .markerInfoDrivingDirections{
    margin-top: 3px;
}

.google-maps-container .googleMarkerInfo .markerInfoDrivingDirections a{
    margin-top: 2px;
    text-decoration: underline;
}

.google-maps-container .my_label{
    color:white;
}
/************************ End Google Maps css ********************************/



/**************************** Begin Results containcer css ****************************/
.fax-results__container{
    padding: 0;
}



.fax-results__container .maps-contact-form-container{
    text-transform: capitalize;
    position: relative;
}

.fax-results__container .maps-contact-form-container .maps-button{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: white;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}

.fax-results__container .results_list_container{
    padding: 0;
    margin-bottom: 0;
}

.fax-results__container .results_list_container .display_container{
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #ccc;
}

.fax-results__container .results_list_container .display_container .display-text{
    display: inline-block;
    padding-top: 6px;
    float: left;
    height: 34px;
}

.fax-results__container .results_list_container .default_results_text{
    padding: 20px 0px;
    font-size: 14px;
    line-height: 20px;
}

.fax-results__container .results_list_container .page-count{
    display:inline-block;
    width: auto;
    padding-right: 25px;
}

.fax-results__container .results_list_container .results_office_result p{
    margin: 0;
    font-size: 12px;
    width: auto;
    line-height: 22px;
}

.fax-results__container .results_list_container  .find_an_office_radius{
    display: inline-block;
    float: right;
    width: auto;
    padding-right: 30px;
    padding-left: 15px;
}

.fax-results__container .results_list_container  .results_office_result{
    font-weight: 600;
    text-transform: capitalize;
    position:relative;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.fax-results__container .results_list_container .results_office_result .results_office_count{
    display:inline-block;
    padding-left: 3%;
    position: absolute;
    font-size:12px;
}
.fax-results__container .results_list_container .results_office_result .results_office_name{
    display: inline-block;
    padding: 0 0 0 10%;
    font-size: 16px;
    color: #2377C5;
    text-align: left;
    font-weight: 600;
    width: 65%;
    cursor: pointer;
}

.fax-results__container .results_list_container .results_office_result  .results_office_mileage{
    float: right;
    padding-right: 3%;
    display: inline-block;
}

.fax-results__container .results_list_container .results_office_result .results_office_distance{
    display: inline-block;
    font-size: 20px;
    bottom: 0;
}

.fax-results__container .results_list_container .results_office_result  .results_office_mi{
    display: inline-block;
    font-size: 10px;
    text-transform: lowercase;
    vertical-align: bottom;
}
.fax-results__container .results_list_container .results_office_result .results_office_type{
    padding: 0 0 0 10%;
    display: block;
    text-align: left;
    font-weight: 600;
    float: left;
}
.fax-results__container .results_list_container .results_office_result .results_office_get_directions{
    display: none;
    padding-right: 3%;
    position: absolute;
    right: 0;
}
.fax-results__container .results_list_container .results_office_result .results_office_get_directions a{
    text-decoration: underline;
}
@media screen and (max-width: 767px) {
    .fax-results__container .results_list_container .results_office_result .results_office_get_directions a{
        display: none;
    }
}

.fax-results__container .results_list_container .results_office_result .results_office_street_address, .results_office_education, .results_office_languages, .results_office_gender{
    padding: 0 0 0 10%;
    font-size: 12px;
    font-weight: normal;
    display: block;
    clear: both;
}
.fax-results__container .results_list_container .results_office_result  div{
    text-align: center;
    padding-left: 8%;

    padding-right: 3%;
}
.fax-results__container .results_list_container .results_office_result  div .btn-brand-2nd{

    margin:0;
    margin-top: 10px;
}

.fax-results__container .results_list_container .results_office_result .results_office_city_state_zip{
    padding: 0 0 0 10%;
    font-size: 12px;
    font-weight: normal;
}

.fax-results__container .results_list_container .results_office_result .results_office_phone{
    padding: 0 0 0 10%;
    font-size: 12px;
    font-weight: normal;
    display: block;
}

.fax-results__container .results_list_container .results_office_result .results_office_fax{
    padding: 0 0 0 10%;
    font-size: 12px;
    font-weight: normal;
    display: none;
}

/**************************** End Results containcer css ****************************/

/****************** Begin Directions Container css *******************/
.fax-directions__container{
    margin-bottom: 30px;
}
.fax-directions__container .driving-direction-container{
    overflow: hidden;
    padding: 3% 0 3% 0;
    margin-top: 60px;
}

.fax-directions__container .driving-direction-container .back-click{
    display: inline-block;
    font-size: 12px;
    text-decoration: underline;
    vertical-align: top;
    margin-top: 10px;
}

.fax-directions__container .driving-direction-container span:first-of-type{
    margin-top: 10px;
    float: left;
}

.fax-directions__container .driving-direction-container .get-directions-text{
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.fax-directions__container .driving-direction-container .get-directions-buttons{
    width: calc(100% - 60px);
    float: right;
}

.fax-directions__container .driving-direction-container .get-directions-buttons .fax-btn.active,
.fax-directions__container .driving-direction-container .get-directions-buttons .fax-btn:active{
    background-color: #666666;
}

.fax-directions__container .driving-direction-container .get-directions-buttons .fax-btn:focus{
    outline: none;
}


.fax-directions__container .driving-direction-container .get-directions-buttons button:not(.active) {
    background-color: white;
    border: 1px solid #cccccc;
    background-image: none;
}

.fax-directions__container .driving-direction-container .get-directions-buttons .icon{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.fax-directions__container .driving-direction-container .get-directions-buttons button:not(.active) .icon{
    fill: #666;
}

.fax-directions__container .driving-direction-container .get-directions-form{
    clear:both;
}

.fax-directions__container .driving-direction-container .get-directions-form .get-directions-from-address{
    overflow: hidden;
    width: 100%;
}

.fax-directions__container .driving-direction-container .get-directions-form .get-directions-from-address .from-address-label{
    display: inline-block;
    height: 38px;
    width: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
    font-size: 12px;
}

.fax-directions__container .driving-direction-container .get-directions-form .get-directions-from-address .from-address{
    height: 38px;
    padding: 8px 12px;
    display: inline-block;
    float: right;
    width: calc(100% - 60px);
    border: 1px solid #ccc;
}

.fax-directions__container .driving-direction-container .get-directions-form .get-directions-to-address{
    margin-top: 20px;
}

.fax-directions__container .driving-direction-container .get-directions-form .get-directions-to-address .to-address-label{
    display: inline-block;
    height: 38px;
    width: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
    font-size: 12px;
}

.fax-directions__container .driving-direction-container .get-directions-form .get-directions-to-address .to-address{
    height: 38px;
    padding: 8px 12px;
    width: calc(100% - 60px);
    float: right;
    background-color: white;
    border: none;
}

.fax-directions__container .driving-direction-container .get-directions-form .btn-brand-2nd{
    display: inline-block;
    float: left;
    margin: 3% auto auto;
    cursor: pointer;
}

.fax-directions__container .driving-directions-panel{


}
.fax-directions__container .driving-directions-panel .adp-text,
.fax-directions__container .driving-directions-panel .adp-summary{
    font-size: 12px;
}

.fax-directions__container .driving-directions-panel .adp-placemark,
.fax-directions__container .driving-directions-panel .adp-legal{
    display:none;
}

.fax-directions__container .driving-directions-panel .adp-substep{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.fax-directions__container .driving-directions-panel .adp-marker{
    display:none;
}

.fax-directions__container .driving-directions-panel .adp-placemark::before{
    display: inline-block;
    left: 12px;
    top: 8px;
    position: absolute;
    color: white;
    font-size: 14px;
    content: "A";
}

.fax-directions__container .driving-directions-panel .adp-placemark{
    background-size: 30px 40px;
    display: inline-block;
    background-image: url("../images/icon_locpin_blue.png");
    background-repeat: no-repeat;
    height: 42px;
    padding-left: 50px;
    padding-top: 10px;
    position: relative;
    width: 100%;
}

.driving-directions-panel > div > div > div:nth-child(3) > div:nth-child(3) .adp-placemark::before{
    content: "B";
}
/****************** End Directions Container css *******************/
.fax-results__container .contact-container--form-card{
    /*width: 100%;*/
}
.googleMarkerInfo p{
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {

    /***************************** search container css ***********************************/

    .find-an-x-search__container{
        margin: auto;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .find-an-x-search__container .mobile_expand_close{
        display: none !important;
    }

    .find-an-x-search__container .cta_search__container{
        font-size: 0;
    }

    .cta_search__container .find-an-x-input__container{
        padding: 0;
        margin-right: 15px;
        display: inline-block;
        position:relative;
        margin-bottom: 0;
        font-size: 13px;
    }

    .cta_search__container .find-an-x-input__container .cta_search{
        width: 250px;
    }

    .cta_search__container .find-an-x-input__container .search_location_image{
        right: 5px;
    }

    .cta_search__container .find-an-x-search--expand{
        display: inline-block !important;
        width: inherit;
        padding: 0;
    }

    .cta_search__container .find-an-x-search--expand .different_services_dropdown{
        display: inline-block !important;
        width: auto;
        margin-right: 10px;
        font-size: 13px;
    }

    .cta_search__container .find-an-x-search--expand .directions_button{
        width: inherit;
        margin-bottom: 0;
        margin-top: 0;
    }
    /******************************* End search container css **********************************/

    .fax__container .contact-container--form-card{
        padding: 40px;
    }

    /************************ Begin Google Maps css ********************************/
    .google-maps-container{
        margin-bottom: 5%;
        min-height: 150px;
        height: 600px;
    }
    .fax-results__container .maps-contact-form-container{
        width: 40%;
        float:right;
    }



    /************************ End Google Maps css ********************************/



    /**************************** Begin Results containcer css ****************************/

    .fax-results__container  .results_list_container{
        padding: 0 5% 0 5%;
        margin-bottom: 0;
        padding-left: 30px;
        width: 60%;
        float:left;
    }

    .fax-results__container  .results_list_container .default_results_text{
        padding: 20px 10px;
        font-size: 14px;
    }

    .fax-results__container  .results_list_container .find_an_office_radius{
        width: auto;
        padding-right: 27px;
        padding-left:15px;
    }

    .fax-results__container  .results_list_container .results_office_result div .btn-brand-2nd{
        display:none;
    }

    .fax-results__container  .results_list_container .results_office_result .results_office_get_directions{
        display:block;
    }




    /**************************** End Results containcer css ****************************/

    /**************************** Begin Directions containcer css ****************************/

    .fax-directions__container{
        padding-top: 60px;
        margin-bottom: 40px;
    }

    .fax-directions__container .maps-contact-form-container{
        width: 40%;
        float: right;
    }

    .fax-directions__container .maps-contact-form-container .google-maps-container{
        height: 400px;
        visibility: visible;
    }

    .fax-directions__container .driving-direction-container{
        margin-top: 0;
        padding: 0 3% 0 3%;
        width: 60%;
    }

    .fax-directions__container .driving-direction-container .driving-directions-panel .adp-placemark:before{
        left: 12px;
    }
    .fax-directions__container .driving-direction-container .driving-directions-panel #adp-placemark:before{
        left: 12px;
    }

    .fax-directions__container .driving-direction-container .adp-directions{
        float:left;
    }
    /**************************** End Directions containcer css ****************************/

}
.cta_search__container .find-an-x-input__container .cta_search{
    padding-right: 20%;
}

@media screen and (min-width: 1024px) {
    /************************** search container css ********************************************/
    .find-an-x-search__container{
        max-width: 761px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    /*******************end  search container css *******************************************/

    /**************************** Begin Results containcer css ****************************/

    .fax-results__container  .results_list_container .results_office_result .results_office_street_address{
        display:block;
    }
    /**************************** End Results containcer css ****************************/
}

.fax-results__container .results_list_container .results_office_result .results_office_get_directions_dentist {
    display: block;
    width: 100%;
    text-align: right;
}

.fax-results__container .results_list_container .results_office_result .results_office_type_dentist{
    width: 100%;
}

.fax-results__container .results_list_container .results_office_result .dentist_left{
    width: 100%;
    display: inline-block;
    clear: both;
}

.fax-results__container .results_list_container .results_office_result .dentist_right{
    display: inline-block;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .fax-results__container .results_list_container .results_office_result .results_office_get_directions_dentist {
        width: 50%;
    }

    .fax-results__container .results_list_container .results_office_result .results_office_type_dentist{
        width: 50%;
    }
    .fax-results__container .results_list_container .results_office_result .dentist_left{
        width: 51%;
    }

    .fax-results__container .results_list_container .results_office_result .dentist_right{
        width: 47%;
    }
}