
.generic_content{
    background-color: #fff;
}
.generic-content__img__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.generic-content__img__container img {
    margin-bottom: 20px;
}
.generic_content .video_container {
    margin-left: auto;
    margin-right: auto;
}
.generic_content .videoWrapper {
    position: relative;
    height: auto;
    padding-bottom: 0;
}
.generic_content .videoWrapper object {
    position: static;
}
.wrapper-general {
    width: 100%;
}
.wrapper-general .table-title {
    margin-bottom: 20px;
}
.wrapper-general .overlay-table-layout {
    margin-bottom: 20px;
}
.generic_content > p, .generic-content__img__container > p {
     margin-bottom: 40px !important;
 }
.generic-content__img__container > p {
    text-align: left;
}
@media (min-width: 768px) {

    .generic-content__img__container {
        width: 75%;
    }
    .generic_content .video_container {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .generic_content .videoWrapper {
        height: 400px;
    }
}

.wrapper-general h6{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.rich-text-component ul{
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: 13px;
    line-height:16px;
}
.rich-text-component ul li{
    list-style: disc;
    margin-bottom:10px;
}
.generic__content--center--link{
    display: block;
    align-items: baseline;
    width: 22%;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration: underline;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px) {
    .generic__content--center--link{
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.5px;
    }
}
@media screen and (min-width: 1024px) {
    .wrapper-general ul{
        font-size: 14px;
        line-height:18px;
    }
    .generic__content--center--link{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .rich-text-component ul{
        font-size: 14px;
        line-height:18px;
    }
}


.generic_content {
    background-color: #ffffff;
    padding-top: 20px;
    margin-bottom: 30px;
}
.generic_content h1 {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 15px;
}
.generic_content .expanded, .generic_content .unexpanded {
    padding: 0 10px;
}
.generic_content .expanded > div, .generic_content .unexpanded > div {
    margin-bottom: 20px;
    text-align: left;
}
.generic_content .unexpanded {
    display: none;
    margin-top: 20px;
}
.generic_content .expand_button {
    display: block;
    height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-top: 1px solid #cccccc;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}

.expand_button .icon{
    fill:  #8caa0a;
}

.generic_content .expand_button .expand_button_open, .generic_content .expand_button .expand_button_close {
    display: inline-block;
    height: 100%;
}
.generic_content .expand_button .expand_button_open div, .generic_content .expand_button .expand_button_close div {
    display: table;
    height: 100%;
}
.generic_content .expand_button .expand_button_open div img, .generic_content .expand_button .expand_button_close div img {
    display: table-cell;
    vertical-align: middle;
    float: left;
    width: 11px;
    margin-right: 10px;
}
.generic_content .expand_button .expand_button_open div span, .generic_content .expand_button .expand_button_close div span {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.generic_content .expand_button:active, .generic_content .expand_button:hover {
    background-color: #edf6ce;
}