.glossary {
    padding: 20px 0;
}

.glossary-group span {
    display: block;
}

.glossary-group span {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    border-bottom: solid 1px #cccccc;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.glossary-group dt,
.glossary-group dd {
    padding-left: 20px;
}

.glossary-group dt {
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.glossary-group dd {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

.glossary-selector {
    display: none;
}

.selector {
    position: fixed;
    top: 50px;
    width: 100%;
    text-align: center;
    height: 50px;
    z-index: 1;
    background-color: #3D9CDB;
    overflow: hidden;
}

.selector-container {
    position: relative;
    padding: 0;
    font-size: 0;
    margin-right: auto;
    margin-left: auto;
}

.selector a {
    color: #ADD0F0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    cursor: text;
    padding: 10px 0;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.selector a:not(:last-child) {
    border-right: 1px solid #0a3c6e;
}

.selector a.active {
    color: #ffffff;
    cursor: pointer;
}

.glossary-height {
    height: 0;
}

.glossary-top {
    margin-top: 50px;
}

.parent {
    display: table;
    min-height: 1px;
    width: 100%;
}

.celly1 {
    float: left;
    display: table-cell;
    width: 50%;
    height: 100%;
}

.celly2 {
    float: right;
    display: table-cell;
    width: 50%;
    height: 100%;
}

@media (min-width: 768px) {
    .glossary {
        padding: 30px 0 40px;
    }

    .glossary-group {

        width: 95%;
        margin: auto;
    }

    .glossary-group dt {
        margin-bottom: 10px;
    }

    .glossary-group dd {
        line-height: 18px;
        margin-bottom: 20px;
    }

    .glossary-group span {
        padding-bottom: 10px;
    }

    .selector {
        position: static;
        top: auto;
        border-bottom: solid 1px #CCCCCC;
        background-color: #FFFFFF;
    }

    .selector.fixed {
        position: fixed;
        top: 50px;
    }

    .selector-container {
        right: 0 !important;
        width: 95%;
    }

    .selector a {
        color: #CCCCCC;
    }

    .selector a.active {
        color: #2C77C5;
    }

    .selector a:not(:last-child) {
        border: none;
    }

    .selector.active {
        color: #2C77C5;
    }

    .glossary-height {
        height: 50px;
    }

    .glossary-top {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .glossary {
        padding: 40px 0 50px;
    }

    .glossary-group {
        width: 85%;
        max-width: 1300px;
        margin: auto;
    }

    .glossary-group span {
        font-size: 20px;
        line-height: 24px;
    }

    .glossary-group dd:last-of-type {
        margin-bottom: 40px;
    }

    .selector-container {
        width: 85%;
        max-width: 1300px;
    }

    .selector-letters {
        width: 80%;
        margin: auto;
    }
}