/***** header stuff *****/

.search-trigger.pull-right{
    float: left !important;
}

.login-trigger--minimized + .search-trigger > .search-trigger__label {
    margin-top: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.login-trigger{
    background-color: inherit;
}


.login-trigger--minimized + .search-trigger > .search-trigger__icon {
    top: 15px;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}

.login-trigger--minimized + .search-trigger > .search-trigger__icon {
    top: 15px;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}
.login-trigger--minimized + .search-trigger > .search-trigger__container {
    top: 0;
}


/***** Endheader stuff *****/

.promocard__content{
    background-color: #FCA700;
}


.btn-brand-hompage4_5{
    background-color: transparent;
    background: inherit;
    color: #ffffff;
    border: 1px solid #fff;
}

.btn-brand-hompage4_5:hover{
    background-color: white;
    background: white;
    color: #FCA700;
    border: 1px solid #FCA700;
}

.btn-brand-hompage4_5_1{
    background-color: transparent;
    background: inherit;
    color: #ffffff;
    border: 1px solid #fff;
}

.btn-brand-hompage4_5_1:hover{
    background-color: white;
    background: white;
    color: #333;
    border: 1px solid #333;
}

/**** new full promo component ****/
.full-promo{
    background-size: cover;
    background-position: 50% 50%;
    height: 250px;
    margin-bottom: 30px;
}
.full-promo__background{
    background: black;
    opacity: .5;
    height: 100%;
    width: 100%;

}

.full-promo__description--title{
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 400;
}
.full-promo__description--subTitle{
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 30px;
}

.full-promo__description{
    position: absolute;
    margin: auto;
    position: absolute;
    height:150px;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
}


/**** End full promo component ****/


.more-content__title{
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.more-content__section img{
    height: 250px;
}
.more-content{
    background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {

    /***** header stuff *****/
    .search-trigger{
        width: 130px;
    }

    .search-trigger.pull-right{
        float: left !important;
    }

    /***** Endheader stuff *****/


    /**** new full promo component ****/
    .full-promo{

        height: 300px;
    }

    .full-promo__description--title{
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .full-promo__description--subTitle{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 30px;
    }


    /**** End full promo component ****/


    .more-content .carousel{
        max-height: none;
    }

    .more-content__section{
        width: 32%;
    }
    .more-content__section img{
        height: 185px;
    }

    .more-content .carousel-control{
        padding-top: 150px;
    }

    .more-content__title{
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

}

@media screen and (min-width: 1024px) {

    /***** header stuff *****/
    .search-trigger.pull-right{
        float: right !important;
    }
    .search-trigger__container--open{
        width: 130px;
    }

    .search-trigger__icon--open{
        left: 100px;
    }

    /***** Endheader stuff *****/


    .promocard{
        min-height: 350px;
    }

    /**** new full promo component ****/
    .full-promo{

        height: 400px;
    }

    .full-promo__description--title{
        font-size: 38px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .full-promo__description--subTitle{
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 30px;
    }


    /**** End full promo component ****/

    .more-content__title{

        font-size: 38px;
        line-height: 42px;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .more-content .carousel-control{
        padding-top: 200px;
    }
}