.more-content {
    padding-bottom: 20px;
    background-color: white;
}

.more-content__title {
    color: #333;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    text-align:center;
}
.more-content__section{
    border-bottom: 1px solid #333;
    margin-top: 10px;

}

.more-content__section:first-of-type{
    margin-top: 0;
}


.more-content__section img {

    width:100%;
    height:auto;
    padding-bottom: 15px;
    background-color: #00A9E0;

}


.more-content__section p {
    font-size: 18px;
    line-height:24px;
    color: #333;
    display: inline-block;
    padding: 15px 20px 15px 0px;
    text-decoration: none;
    margin-bottom: 0;
}

.more-content__section a:last-of-type{
    display:block;
    color: #00A9E0;
    font-weight:700;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.more-content__section a:hover {
    color: #00A9E0;
}

.more-content__section a:last-of-type:hover{
    color: #00A9E0;
}

.more-content__view--more{
    display:block;
    float:right;
    padding-right:20px;
    font-weight: 800;
    color: #2C77C5;
    font-size: 16px;
    text-decoration: underline;
    margin-top:10px;
    cursor: pointer;
}


.more-content__view--more:hover{
    text-decoration: underline;
    color: #2C77C5;
}

.view-more-hidden{
    display:none;
}
@media screen and (min-width: 768px) {

    .contextual-links-carousel{
        height: auto !important;
    }

    .carousel-control .icon{
        fill: #333;
    }

    .carousel-control.right{
        right: -6%;
    }
    .carousel-control.left{
        left: -6%;
    }

    .view-more-hidden{
        display:inline-block;
    }
    .more-content {
        padding: 30px 0;
        position: relative;
    }

    .more-content__section {
        width: 23.5%;
        display:inline-block;
        float:left;
        margin: 0 2% 0 0;
        background-color: transparent;
        border-bottom: none;

    }
    .more-content__section p {
        font-size: 14px;
        line-height:18px;
        font-weight: 400;
        padding-top: 10px;
    }

    .more-content__section:last-of-type {
        margin-right: 0;
    }

/*
    .more-content__section:first-of-type:nth-last-of-type(2),
    .more-content__section:first-of-type:nth-last-of-type(2) ~ .more-content__section {
        width: 48%;
    }

    .more-content__section:first-of-type:nth-last-of-type(3),
    .more-content__section:first-of-type:nth-last-of-type(3) ~ .more-content__section {
        width: 32%;
    }*/

}

@media screen and (min-width: 1024px) {
    .more-content {
        padding-bottom: 50px;
    }
    .more-content__section p {
        font-size: 16px;
        line-height:20px;
    }

    .carousel-control.right{
        right: -10%;
    }
    .carousel-control.left{
        left: -10%;
    }
}