.related-link {
    margin-bottom: 50px;
}
.media-card {
    margin-bottom: 10px;
}
.media-card__tag{
    position: absolute;
    margin-top: 20px;
    padding: 10px 25px;
}
.media-card__content{
    padding: 20px;
}
.media-card__content__title:hover{
    color: #2377c5;
    text-decoration: none;
}
.media-card__content__title{
    color: black;
    margin-bottom: 10px;
    font-size: 1.5em;
    line-height: 1.1em;
}
.media-card__content__learn-more {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}
.media-card__content__link {
    display:block;
    font-size: 14px;
}
.media-card__content p {
    margin-bottom: 5px;
}
/*Added class for adding top padding to related links when product-tile-container is before related-links within a parsys*/
.related-content--dynamic-added-margin-top {
    margin-top: 20px;
}
@media screen and (min-width: 768px) {
    .media-card {
        width: 32%;
        display: inline-block;
        float: left;
        box-shadow: none;
        vertical-align: top;
        margin-right: 1.6%;
    }
    .media-card:last-of-type {
        margin-right: 0;
    }

    .media-card__content{
        padding-left: 0;
        padding-bottom:0;
    }
    .media-card__content a:hover{
        text-decoration: none;
    }
    .media-card__content--link-list{
        border: 0 solid transparent;
        border-top: 1px solid #ccc;
    }
    .related-content--dynamic-added-margin-top {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .related-content--dynamic-added-margin-top {
        margin-top: 50px;
    }
}
