.related-link {
    margin-bottom: 50px;
}

.media-card__tag{
    position: absolute;
    margin-top: 20px;
    padding: 10px 25px;
}

.media-card__content{
    padding: 20px;
}

.media-card__content__title{
    color: black;
    margin-bottom: 10px;
    font-size: 1.5em;
    line-height: 1.1em;
}

.media-card__content__link{
    display:block;
    font-size: 14px;
}

.media-card__content.media-card__content--link-list {
    font-weight: 600;
}
.media-card__content.media-card__content--link-list h2 {
    font-size: 1.5em;
    line-height: 1.1em;
    font-weight: 400;
}
.media-card__content p{
    margin-bottom: 5px;
}


@media screen and (min-width: 768px) {
    .media-card {
        width: 32%;
        display: inline-block;
        float: left;
        box-shadow: none;
        vertical-align: top;
        margin-right: 1.6%;
    }

    .media-card:last-of-type {
        margin-right: 0;
    }

    .media-card__content{
        padding-left: 0;
        padding-bottom:0;
    }

    .media-card__content--link-list{
        border: 0 solid transparent;
        border-top: 1px solid #ccc;
    }
}