.microsite-header {
    height: 50px;
    display: table;
    width: 95%;
    padding: 0;
}

.microsite-header div {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.microsite-header h1 {
    margin-bottom: 0;
}

.microsite-header .megamenu-trigger {
    width: 41px;
    display: block;
}

.microsite-header__logos {
    width: 100%;
    text-align: center;
}

.microsite-header__logos__img img {
    width: 100px;
}

.microsite-header__logos__img:first-child:nth-last-child(1) {
    margin-left: auto;
    margin-right: auto;

}

.microsite-header .microsite-header__logos .microsite-header__logos__img:first-child:nth-last-child(2):first-child,
.microsite-header .microsite-header__logos .microsite-header__logos__img:first-child:nth-last-child(2) ~ .microsite-header__logos__img:first-child {
    float: left;
    vertical-align: middle;
}

.microsite-header .microsite-header__logos .microsite-header__logos__img:first-child:nth-last-child(2):last-child,
.microsite-header .microsite-header__logos .microsite-header__logos__img:first-child:nth-last-child(2) ~ .microsite-header__logos__img:last-child {
    float: right;
    vertical-align: middle;
}

.microsite-header .megamenu-trigger__icon {
    fill: #2c77c5;
}

.microsite-trigger__icon {
    height: 17px;
    width: 19px;
}

.microsite-trigger__icon--close {
    height: 16px;
    width: 16px;
}

html.megamenu--open--microsite {
    overflow-y: visible;
}

@media screen and (min-width: 768px) {

    .microsite-header {
        width: 95%;
        height: 85px;
    }

    .microsite-header .microsite-header__logos {
        position: relative;
        margin: auto;
    }

    .microsite-header .megamenu-trigger {
        display: none;
    }

    .microsite-header__logos__img img {
        width: 103px;
    }
}

@media screen and (min-width: 1024px) {
    .microsite-header {
        width: 85%;
        height: 100px;
    }

    .microsite-header .microsite-header__logos {
        max-width: 1300px;
    }

    .microsite-header__logos__img img {
        width: 164px;
    }

    .microsite-header div {
        height: 70px;
    }
}