.office-search{
    position: relative;
    text-align: center;
}
.office-search__label{
    font-size: 16px;
    line-height: 20px;
}
.office-search__icon svg{
    vertical-align: middle;
    height:40px;
    width: 40px;
}
.office-search__label, .office-search__icon,.office-search__input, .office-search__action{
    display: inline-block;
    width:auto;
}
@media screen and (max-width: 767px) {
    .office-search__icon{
        position: absolute;
        left: 8px;
        top: -5px;
    }
    .office-search__label{
        width: 90%;
        float: right;
        text-align: center;
    }
    .office-search__input{
        width: 100%;
        margin-bottom: 10px;
    }
    .office-search__action{
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .office-search{
        margin-top: 40px;
    }
    .office-search__label, .office-search__icon,.office-search__input, .office-search__action{
        display: inline-block;
        width:auto;
    }
    .office-search__icon{
        vertical-align: middle;
    }
    .office-search__label{
        padding-right: 10px;
        font-size: 18px;
        line-height: 40px;
    }
}
@media screen and (min-width: 1024px) {
    .office-search__label{
        font-size: 20px;
    }
    .office-search__icon svg{
        height:60px;
        width: 60px;
    }
    .office-search {
        margin-top: 50px;
    }
}