.office-search {
    padding: 20px 30px 10px;
}

.office-search .wrapper {
    padding: 0;
}

.office-search__top {
    text-align: left;
    height: auto;
}

.office-search__icon {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    margin-right: 5px;
}

.office-search__label {
    font-size: 14px;
    line-height: 20px;
}

.office-search__input-container {
    text-align: left;
}

.office-search__input {
    height: 40px;
    margin-bottom:10px;
}

.office-search__action {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .office-search {
        text-align: center;
        padding: 25px 0 20px;
    }

    .office-search__top {
        display: inline-block;
        text-align: right;
        padding-right: 10px;
    }

    .office-search__icon {
        vertical-align: sub;
    }

    .office-search__label {
        font-size: 18px;
        line-height: 40px;
    }

    .office-search__input {
        display: inline-block;
        width: 250px;
    }

    .office-search__action {
        width: 70px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 768px) {
    .office-search {

    }

    .office-search__label {
        font-size: 20px;
        top: -12px;
        position: relative;
    }
}

@media screen and (min-width: 1024px){
    .office-search{
        padding-top: 50px;
        padding-bottom: 0px;
    }
}

