.options-small-component {
    text-align: center;
    padding: 20px 10px 30px 10px;
}
.options-small-component svg{
    fill:#333;
    top:5px;
}
.options-small-component div{
    display:inline-block;
}

.options-small-component .options-small-component-link{
   padding-left:10px;
}

@media screen and (min-width: 768px) {
    .options-small-component {
        margin-bottom: 40px;
    }

}

@media screen and (min-width: 1024px) {
    .options-small-component {
        margin-bottom: 50px;
    }
}