.optional-image__img {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .optional-image__img, .optional-image__description {
        display: block;
        width: 60%;
        margin: auto;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1024px) {
}

