.product-card {
    display: block;
    background: #fff;
    -webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 5px 0 #ccc;
}

.product-card__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 188px;
    min-height: 120px;
}

.product-card .title {
    display: block;
    padding: 20px;
}

.product-card .content {
    display: block;
}

.product-card .content-body {
    padding: 20px;
}

.action {
    display: block;
    padding: 20px;
}

.product-card .title h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 0;
}

.product-card .content-body .intro {
    display: block;
}

.product-card .content span,
.product-card .content p,
.product-card .content ul {
    margin-bottom: 20px;
}

.product-card .content span:last-child,
.product-card .content p:last-child,
.product-card .content ul:last-child {
    margin-bottom: 0;
}

.product-card__content-body--margin {
    margin-bottom: 0 !important;
}

.product-card .content ul {
    padding-left: 15px;
    text-indent: -16px;
}

.product-card .content li {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.product-card .content li:last-child {
    margin-bottom: 0;
}

.product-card .content li:before {
    content: "\0387";
    font-size: 26px;
    vertical-align: top;
    line-height: 16px;
    padding-right: 9px;
}

.product-card .content .intro,
.product-card .content .expand-content__intro {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}

.product-card .content span,
.product-card .content p {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.product-card .action {
    padding-top: 0;
}

.content-body__action {
    text-align: center;
}

.product-card .action p,
.product-card .action a {
    margin-bottom: 10px;
}

.product-card .action p:last-child,
.product-card .action a:last-child {
    margin-bottom: 0;
}

.product-card .action p a {
    color: #337ab7;
    text-decoration: underline;
}

.product-card .action p a[href*='tel'] {
    border-bottom: none;
    cursor: pointer;
    color: #337ab7;
    text-decoration: underline;
}

.product-card .action p a[href*='tel']:hover {
    text-decoration: underline;
    color: black;
}

.product-card .action p a:hover {
    text-decoration: underline;
    color: #2c77c5;
}

.product-card .read-more {
    text-decoration: underline;
}

.product-card .read-more:hover {
    color: #2c77c5;
    text-decoration: underline;
}

.pc-tel-number {
    display: block;
    margin-bottom: 20px;
    color: #2377C5;
    text-decoration: none;
    font-weight: 700;
}

.company-search-label {
    width: 100%;
    text-align: center;
    margin-bottom: 0 !important;
}

.company-search-input-container button {
    margin-left: 5px;
}

.company-search-input-container {
    text-align: center;
}

.content-body input {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px 12px;
}

.content-body b,
.expand-content b {
    font-weight: 600;
}

.expand-open-close {
    font-size: 11px;
    line-height: 16px;
    font-weight: 600;
}

.expand-content {
    display: block;
    font-weight: 400;
    padding: 0 20px 20px;
}

.expand-content__intro {
    display: block;
    margin-bottom: 10px;
}

.expand-content__list {
    list-style-position: inside;
    list-style-type: none;
    text-indent: -16px;
    padding-left: 18px;
    margin-bottom: 20px;
}

.expand-content__contact {
    display: block;
    margin-bottom: 10px;
}

.expand-open .icon,
.expand-close .icon {
    fill: #8caa0a;
    top: 7px;
    right: 5px;
}

.company-search-container {
    position: relative;
    text-align: center;
}

.company-search-container button {
    padding-top: 14px !important;
}

.shadow {
    background: #fff;
    top: 68px !important;
    position: absolute;
    display: table-row-group !important;
}

.shadow .output {
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    line-height: 16px;
    margin-top: -1px;
    z-index: 900;
    position: absolute;
}

.shadow .output div {
    font-size: 13px;
    padding: 5px 10px;
}

.shadow .output {
    text-align: left;
}

.product-row__tile--img-tile.box-shadow.skinny-promo-tile.product-card__skinny-promo--margin {
    margin-top: 0;
}

.product-card__promo--margin-bottom {
    margin-top: 0px;
    margin-bottom: 15px;
}

.product-card .action .btn-brand-2nd + p a[href*='tel'] {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

@media screen and (min-width: 768px) {

    .product-card {
        display: table;
        margin-bottom: 20px;
    }

    .product-card .title, .product-card .content, .product-card .action {
        display: table-cell;
        vertical-align: middle;
    }

    .product-card .title {
        width: 25%;
        padding: 30px 10px;
    }

    .product-card .content {
        width: 55%;
    }

    .product-card .content-body {
        padding: 30px 10px 30px 30px;
    }

    .product-card .action {
        width: 20%;
        padding: 30px 10px;
    }

    .product-card__content-body--margin {
        margin-bottom: 20px !important;
    }

    .pc-tel-number {
        pointer-events: none;
        color: #333;
    }

    .company-search-label {
        text-align: left;
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 40px;
    }

    .company-search-container {
        text-align: left;
    }

    .expand-content {
        display: none;
        font-weight: 300;
        padding: 0 30px 20px;
    }

    .expand-open,
    .expand-close {
        display: table;
        width: 100%;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        border: #cccccc;
        border-top-style: solid;
        border-top-width: 1px;
        cursor: pointer;
    }

    .product-card .content .expand-open span,
    .product-card .content .expand-close span {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .expand-close {
        display: none;
    }

    .shadow {
        top: 68px !important;
    }

    .company-search-input-container {
        text-align: left;
    }

    .content-body__action {
        text-align: left;
    }

    .product-card .action p a[href*='tel'] {
        pointer-events: none;
        color: black;
        border-bottom: none;
        cursor: default;
        text-decoration: none;
    }

    .product-card .action p a[href*='tel']:hover {
        text-decoration: none;
        color: #2c77c5;
        text-decoration: none;
    }

    .expand-open-close .visible-xs {
        display: block !important;
    }

    .product-card--last-margin-bottom {
        margin-bottom: 20px;
    }

    .product-card__promo--margin-bottom {
        margin-bottom: 30px;
    }

    .shadow {
        left: 0 !important;
    }

    .product-row__tile--img-tile.box-shadow.skinny-promo-tile.product-card__skinny-promo--margin {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1024px) {

    .product-card .title {
        padding: 40px 10px;
    }

    .product-card .content-body {
        padding: 40px 10px 40px 40px;
    }

    .product-card .action {
        padding: 40px 10px;
    }

    .product-card .content .intro,
    .product-card .content .expand-content__intro {
        font-size: 18px;
        line-height: 22px;
    }

    .product-card .content li {
        font-size: 14px;
        line-height: 18px;
    }

    .product-card .content li:before {
        line-height: 18px;
    }

    .product-card .content span,
    .product-card .content p {
        font-size: 14px;
        line-height: 18px;
    }

    .company-search-label {
        display: inline;
        width: 30%;
        text-align: left;
        font-size: 14px;
    }

    .content-body input {
        margin-top: 20px;
        width: 40%;
    }

    .expand-content {
        padding: 0 40px 20px;
    }

    .shadow {
        left: 162px !important;
        top: 62px !important;
    }

    .company-search-input-container {
        display: inline;
    }

    .company-search-input-container input {
        margin-left: 5px;
    }

    .product-card--last-margin-bottom {
        margin-bottom: 40px;
    }

    .product-card__promo--margin-bottom {
        margin-bottom: 50px;
    }

    .product-row__tile--img-tile.box-shadow.skinny-promo-tile.product-card__skinny-promo--margin {
        margin-bottom: 40px;
    }
}