.product-module {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.product-module--table {
    margin-bottom: 20px;
}

.product-module--last {
    margin-bottom: 20px;
}

.product-module__large {
    margin-bottom: 10px;
    padding-bottom: 20px;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    vertical-align: top;
}

.product-module__large h3 {
    font-size: 22px;
    line-height: 26px;
    padding: 20px 0 5px;
}

.product-module__action {
    display: inline-block;
    color: #2c77c5;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 5px;
}

.product-module__action:hover {
    text-decoration: underline;
}

.product-module__action--tel {
    color: #333333;
    text-decoration: none;
}

.product-module__action--tel:hover {
    text-decoration: none;
}

.product-module__list {
    width: 90%;
    padding-left: 20px;
    padding-right: 5px;
    margin: 5px auto 15px;
}

.product-module__list ul {
    list-style: disc;
    text-align: left;
}

.product-module__list ul li {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 5px 0;
}

.product-module__list--medium {
    width: 90%;
    padding-left: 20px;
    padding-right: 10px;
    margin: 20px auto 15px;
}

.product-module__list--medium ul li {
    font-size: 13px;
    line-height: 16px;
}

product-module__list ul:last-child, p:last-child {
    margin-bottom: 0;
}

.product-module__top {
    margin-bottom: 15px;
}

.product-module__top h3 {
    font-weight: 400;
}

.product-module__top h3 a:hover {
    color: #2377c5;
}

.product-module__medium__header:hover {
    color: #2377C5;
}

.product-module__top p {
    width: 80%;
}

.product-module__medium {
    text-align: center;
    padding: 20px;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    margin: 0 0 10px;
}

.product-module__medium img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.product-module__medium__header {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}

.product-module__small {
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product-module__small--main {
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
}

.product-module__small--main h2 {
    width: 90%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.product-module__small--main p {
    width: 90%;
    font-size: 13px;
    line-height: 16px;
}

.product-module__small--product {
    border-bottom: 1px solid #e3e3e3;
    width: 50%;
    float: left;
    display: table;
}

.product-module__small--product:nth-child(even) {
    border-right: 1px solid #e3e3e3;
}

.product-module__small--product__wrapper {
    vertical-align: bottom;
    padding: 20px 20px 15px;
    display: table-cell;
    height: 130px;
}

.product-module__small__imagewrapper {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -20px;
}

.product-module__small__img {
    height: 40px;
    width: auto;
    margin: auto;
}

.product-module__small--product__wrapper__label {
    position: static;
    top: auto;
    left: auto;
    margin-left: 0;
    display: inline-block;
}

.product-module--microsite-wrapper .product-module {
    margin-bottom: 0;
    margin-top: 40px;
}

.product-module--microsite-wrapper .product-module__large .product-module__top a:hover {
    color: #2377C5;
}

.product-module__small--min-height {
    min-height: 170px;
}

@media screen and (min-width: 768px) {
    .product-module {
        margin-bottom: 30px;
    }

    .product-module--table {
        display: table;
        margin-bottom: 40px;
    }

    .product-module--last {
        margin-bottom: 40px;
    }

    .product-module__large {
        width: 32%;
        text-align: center;
        display: inline-block;
        margin-bottom: 0;
    }

    .product-module__large:not(:last-of-type) {
        margin-right: 2%;
    }

    .product-module__large--xl {
        width: 49%;
    }

    .product-module__large--xl:not(:last-of-type) {
        margin-right: 1%;
    }

    .product-module__large:nth-last-child(3),
    .product-module__large:nth-last-child(3) ~ .product-module__large {
        float: left;
    }

    .product-module__medium {
        width: 25%;
        float: left;
        margin: 0;
    }

    .product-module__medium:not(:first-child) {
        border-left: 1px solid #e3e3e3;
    }

    .product-module__small {
        display: table-cell;
        float: none;
        height: 130px;
        vertical-align: bottom;
    }

    .product-module__small--main {
        vertical-align: middle;
    }

    .product-module__small--main h2 {
        width: 85%;
        font-size: 22px;
        line-height: 26px;
    }

    .product-module__small--main p {
        width: 85%;
    }

    .product-module__small--product {
        width: 16.66667%;
        border-right: none !important;
        border-left: 1px solid #e3e3e3;
    }

    .product-module__small--product__wrapper {
        display: block;
        height: auto;
        padding: 20px 20px 30px;
    }

    .product-module--microsite-wrapper {
        padding-bottom: 30px;
        background-color: #efefef;
    }

    .product-module--microsite-wrapper .product-module {
        padding-bottom: 0;
    }

    .product-module__list {
        min-height: 105px;
    }

    .product-module__list ul li {
        font-size: 12px;
        line-height: 16px;
        padding: 3px 0 5px 0;
    }

    .product-module__list--medium {
        width: 95%;
        margin: 20px auto 10px;
    }

    .product-module__list--medium ul li {
        font-size: 12px;
        line-height: 15px;
    }

    .product-module__bottom {
        display: table;
        margin: 0 auto;
    }

    .product-module__action {
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.5px;
    }

    .product-module__action--medium {
        display: table-cell;
        vertical-align: bottom;
    }

}

@media screen and (min-width: 1024px) {
    .product-module {
        margin-bottom: 40px;
    }

    .product-module__large {
        width: 32%;
        text-align: center;
        display: inline-block;
        margin-bottom: 0;
    }

    .product-module__large:not(:last-of-type) {
        margin-right: 2%;
    }

    .product-module__large:nth-last-child(3),
    .product-module__large:nth-last-child(3) ~ .product-module__large {
        float: left;
    }

    .product-module__large--xl {
        width: 49%;
    }

    .product-module__large--xl:not(:last-of-type) {
        margin-right: 1%;
    }

    .product-module__medium {
        width: 25%;
        float: left;
    }

    .product-module__medium:not(:first-child) {
        border-left: 1px solid #e3e3e3;
    }

    .product-module__medium__header {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .product-module__list {
        width: 80%;
        min-height: 90px;
        padding-left: 30px;
        padding-right: 10px;
    }

    .product-module__list ul li {
        font-size: 13px;
        line-height: 16px;
    }

    .product-module__list--medium {
        width: 100%;
    }

    .product-module--table {
        margin-bottom: 50px;
    }

    .product-module--last {
        margin-bottom: 50px;
    }

    .product-module__small {
        display: table-cell;
        float: none;
        height: 160px;
        vertical-align: bottom;
    }

    .product-module__small--main {
        vertical-align: middle;
    }

    .product-module__small--product {
        width: 16.66667%;
        border-right: none !important;
        border-left: 1px solid #e3e3e3;
    }

    .product-module__small--product__wrapper {
        display: block;
        height: auto;
        padding: 20px 20px 30px;
    }

    .product-module--microsite-wrapper {
        padding-bottom: 40px;
        background-color: #efefef;
    }

    .product-module__bottom {
        display: table;
        margin: 0 auto;
    }

    .product-module__action {
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 1px;
    }

    .product-module__action--medium {
        display: table-cell;
        vertical-align: bottom;
    }
}

.product-row__tile--img-tile.skinny-promo-tile {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-row--margin {
    clear: both;
    margin: 30px 0;
}

@media screen and (max-width: 1024px) {
    .product-module__medium:not(:last-child) {
        border-bottom: 1px solid #e3e3e3;
    }
}