.wrapper__quote-card {
    width: 100%;
    margin-bottom: 35px;
}
.page-title--no-breadcrumb {
    padding: 40px 0 0 0;
}
.results-card__premium-card__container {
    background-color: #ffffff;
    padding: 0 0 20px 0;
}
.results-card__premium-card--inactive {
    -webkit-filter: opacity(35%);
    -moz-filter: opacity 35%;
    -o-filter: opacity(35%);
    filter: opacity(35%);
    pointer-events: none;
}
.results-card__premium-card__title {
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
}
.results-card__premium-card__error {
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
}
.results-card__quoteinfo {
    background-color: #edf6ce;
    margin: 0 20px;
    text-align: center;
    padding: 20px;
}
.results-card__quoteinfo__currency {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    vertical-align: top;
}
.results-card__quoteinfo__value {
    font-size: 42px;
    line-height: 46px;
    font-weight: 700;
}
.results-card__quoteinfo__frequency {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.results-card__coverageinfo__value{
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
}
.results-card__quoteinfo__error {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding: 52px 0;
}
.results-card__quoteinfo__viewrates{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #7a9816;
    cursor: pointer;
}
.results-card__quoteinfo__edit {
    font-size: 12px;
    font-weight: 700;
    color: #2c77c5;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.results-form__wrapper {
    padding: 30px;
}
.results-form__text h1{
    font-weight: 400;
}
.results-form__text__list {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    list-style: disc;
    padding-left: 1em;
    margin-bottom: 40px;
}
.results-form__header {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
.form-user-grp-location {
    padding: 5px 0;
}
.form-user-grp-location--state {
    width: 48%;
    margin-right: 2%;
    display: inline-block;
}
.form-user-grp-location--state select{
    background-color: #ffffff;
    width: 100%;
}
.form-user-grp-location--zip {
    width: 48%;
    display: inline-block;
    margin-bottom: 10px;
}
.form-user-grp-location input {
    width: 100%;
}
.apply-disclaimer {
    color: #A4D8F1;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    width: 100%;
}

.apply-disclaimer p {
    margin-top: 10px;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    color: #a4d8f1;
}

.apply-disclaimer a {
    color: #ffffff;
    text-decoration: underline;
    margin-top: 10px;
}

.results-form__button {
    padding-top: 20px;
    text-align: center;
}

.edit-quote__form__wrapper {
    background-color: #0e5dae;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50px;
    z-index: 662;
}

.form-close {
    padding: 20px 10px 0 0;
}

.form-close .icon-close {
    cursor: pointer;
}

.edit-quote__form__actual-form {
    padding: 15px 20px 10px 20px;
}
.edit-quote__form__title {
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: #ffffff;
    line-height: 20px;
    padding: 40px 0 10px 20px;
}
.form-user-grp-edit-form {
/*    background-color: #ffffff;*/
}
.form-user-grp__dob {
    float: left;
/*    width: calc((100% - 10px)/3);*/
    width:90%;
    border: none;
/*    background-color: #ffffff;*/
}
.form-user-grp__dob:not(:last-child) {
    margin-right: 5px;
}
.results-form-arrows {
    top: -30px;
    z-index: 500;
    left: 460px;
}

/*Apply by phone css...Make note to refactor if we get claification on whether this will
continue to be generated through the vendor script of whether it will be used in a different
manner*/

.hider {
    display:block !important
}
 .wrapper__quote-card #lpButtonDiv {
    display:block;
}
.ctcShort {
    height:50px;
    background-color:#0e5dae;
    color:#fff;
    line-height:20px;
    position:relative;
    text-align:center;
    margin:0;
}
.ctcTall {
    display:none;
}
.ctcShortCTA {
    font-size:12px;
    font-weight:400;
    margin-right:10px;
    display:inline-block;
}
.ctcShortNum {
    font-size:18px;
    font-weight:600;
    display:inline-block;
    margin-top:13px;
}
.ctcShortNum a {
    color:#fff;
    text-decoration:none;
}
.ctcOffline{
    display:block;
    background-color:#0e5dae;
    color:#fff;
    line-height:20px;
    position:relative;
    text-align:center;
    margin:0 -15px;
}
.ctcOffline.untopped,
.ctcOffline.topped {
    height:50px;
}
#tcpa_c2c {
    display:none
}
@media screen and (min-width: 768px) {
    .page-title--no-breadcrumb {
        padding: 90px 0 0 0;
    }
    .wrapper__quote-card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 65px;
        display: table;
    }
    .results-card__premium-card {
        margin: 20px;
        display: table-cell;
        width: 41.66666667%;
    }
    .results-card__premium-card__title {
        padding-top: 30px;
    }
    .results-card__premium-card__error {
        padding-top: 30px;
    }
    .results-form__wrapper {
        width: 58.33333333%;
        display: table-cell;
        vertical-align: top;
    }
    .results-form__inputs {
        padding-bottom: 20px;
    }
    .results-form__button {
        text-align: left;
        padding-top: 5px;
    }
    .results-disclaimer__wrapper {
        padding: 100px 0 0 0;
    }
    .edit-quote__form__wrapper {
        display: table-cell;
        width: 66.6666667%;
        position: static;
        vertical-align: top;
    }
    .global-footer--no-border {
        border-top: none;
    }
    /*Apply by phone css...Make note to refactor if we get claification on whether this will
continue to be generated through the vendor script of whether it will be used in a different
manner*/

    .hider {
        display: block !important;
    }
    .wrapper__quote-card  #lpButtonDiv {
        position: fixed;
        top: 0;
        z-index: 1000;
        right: 328px;
    }
    .ctcTall {
        display: block;
    }
    .ctcTall.untopped {
        height: 0px;
        transition:  height 500ms ease 0s;
    }
    .ctcTall.topped {
        height: 137px;
        transition:  height 500ms ease 0s;
    }
    .ctcOffline.untopped {
        height: 50px;
        transition:  height 500ms,  line-height 500ms,  ease 0s;
    }
    .ctcOffline.topped {
        height: 70px;
        transition:  height 500ms,  line-height 500ms,  ease 0s;
        line-height: 40px;
    }
    .ctcShort {
        height: 50px;
        width: 328px;
        background-color: #0e5dae;
        color: #fff;
        line-height: 20px;
        position: absolute;
        text-align: center;
    }
    .ctcShortCTA {
        font-size: 12px;
        font-weight: 400;
        margin-right: 10px;
        display: inline-block;
    }
    .ctcShortNum {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        margin-top: 13px;
    }
    .ctcShortNum a {
        color: #fff;
        text-decoration: none;
    }
    .ctcTall {
        width: 328px;
        background-color: #0e5dae;
        color: #fff;
        line-height: 20px;
        position: absolute;
        overflow: hidden;
    }
    .ctcOffline {
        display: block;
        width: 328px;
        background-color: #0e5dae;
        color: #fff;
        line-height: 20px;
        position: absolute;
        text-align: center;
    }
    .ctcRow1 {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        text-align: center;
        margin-top: 11px;
    }
    .ctcRow2 {
        text-align: center;
        margin-top: 14px;
    }
    .ctcRow2Text {
        font-size: 12px;
        line-height: 40px;
        font-weight: 400;
        text-align: center;
        margin: 0 3px 0 0;
        display: inline;
    }
    .ctcPhoneField {
        width: 130px;
        padding: 0 12px;
        font-size: 13px;
        border-radius: 2px;
        border: 1px solid #0e5dae;
        height: 40px;
        display: inline;
        color: #999;
    }
    .ctcPhoneField.error {
        background: #f5d0d0;
        border: 1px solid #eb4646;
        color: #db3535;
    }
    .ctcPhoneField:focus {
        color: #333;
    }
    .ctcButton {
        width: 40px;
        height: 40px;
        margin: 0 0 2px 3px;
        display: inline-block;
        border-radius: 5px;
        vertical-align: middle;
        background: #96b717;
        background-image: url(https://www.metlife.com/assets/c2c/btn_phone.png);
        background-repeat: no-repeat;
        background-position: 8px;
        background: url(https://www.metlife.com/assets/c2c/btn_phone.png) no-repeat 8px,  -webkit-linear-gradient(#a0c323,  #8caa0a);
        background: url(https://www.metlife.com/assets/c2c/btn_phone.png) no-repeat 8px,  -moz-linear-gradient(#a0c323,  #8caa0a);
        background: url(https://www.metlife.com/assets/c2c/btn_phone.png) no-repeat 8px,  -o-linear-gradient(#a0c323,  #8caa0a);
        background: url(https://www.metlife.com/assets/c2c/btn_phone.png) no-repeat 8px,  linear-gradient(#a0c323,  #8caa0a);
    }
    .ctcRow3 {
        margin-top: 11px;
    }
    .ctcRow3Text {
        font-size: 12px;
        line-height: 30px;
        font-weight: 400;
        margin: 0 19px 0 20px;
        display: inline-block;
        vertical-align: top;
    }
    .ctcPhoneNum {
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        display: inline-block;
    }
    .ctcPhoneNum a {
        color: #fff;
        text-decoration: none;
    }
    #tcpa_c2c {
        background-color: #0e5dae;
        color: #fff;
        display: none;
        font-family: Arial;
        font-size: 10px;
        height: 83px;
        line-height: 12px;
        padding: 0 15px 15px;
        position: absolute;
        top: 137px;
        width: 328px;
        z-index: 50;
    }
    #tcpa_c2c p {
        color: #fff;
        font-family: Arial;
        font-size: 10px;
        padding-top: 3px;
    }
    #tcpa_c2c a:link {
        color: #fff;
        font-family: Arial;
        font-size: 10px;
        text-decoration: underline;
    }
    #tcpa_c2c a:visited {
        color: #fff;
    }
}


@media (min-width: 1024px) {
    
    .global-footer .wrapper.quote {
        border:0;
    }

    .edit-quote__form__title{
        padding: 40px 75px 0px 75px;
    }
    .wrapper__quote-card {
        max-width: 1300px;
    }
    .results-card__premium-card {
        width: 33.3333333%
    }
    .results-card__premium-card__container {
        padding: 0 0 50px 0;
    }
    .results-card__premium-card__title {
        padding-top: 50px;
        font-size: 1.5em;
        line-height: 1.2em;
    }
    .results-card__premium-card__error {
        padding-top: 50px;
        font-size: 1.5em;
        line-height: 1.2em;
    }
    .results-form__wrapper {
        padding: 50px 30px 30px 30px;
        width: 66.6666667%;
    }
    .results-card__quoteinfo {
        margin: 0 20px 40px 20px;
    }
    .results-form__text {
        text-align: left;
        display: inline-block;
        float: left;
        width: 50%;
        padding-bottom: 10px;
    }
    .results-form__text__list {
        margin: 30px 0 0 0;
        font-size: 20px;
        line-height: 26px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .results-form__inputs {
        width: 50%;
        padding: 0px 15px 14px 20px;
        display: inline-block;
        margin-bottom: 0px;
    }
    .results-disclaimer__wrapper {
        padding: 100px 0 0 0;
        width: 66.6666667%;
    }
    .edit-quote__form__actual-form .form-user-grp {
        width: 50%;
        float:left;
    }
    .edit-quote__form__actual-form .form-user-grp:nth-child(odd) {
        padding-right: 5px;
    }
    .edit-quote__form__actual-form .form-user-grp:nth-child(even) {
        padding-left: 5px;
    }
    .edit-quote__form__actual-form .form-user-grp::nth-last-child(3):nth-child(odd) {
        padding-right: 0;
        clear:both;
        width: 100%;
    }
    .result-form__image {
        width: 180px;
        margin-left: -40px;
        margin-bottom: -40px;
    }
    .results-form__header {
        padding-bottom: 5px;
    }
    .results-form__button {
        clear: both;
    }
    .contact-thanks, .contact-error {
        padding: 0 10%;
    }
    .contact-thanks .thanks-header {
        padding-left: 20%;
        padding-right: 20%;
        font-size: 28px;
        line-height: 34px;
    }
    .contact-thanks .thanks-subheader {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 16px;
        line-height: 22px;
        padding-top: 20px;
    }
    .contact-thanks .thanks-content {
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        padding-top: 20px;
    }
    .contact-error .error-header {
        padding-left: 20%;
        padding-right: 20%;
    }
    .contact-error .error-subheader {
        padding-left: 10%;
        padding-right: 10%;
    }
    .results-card__quoteinfo__arrow-down {
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 14px solid #ffffff;
        margin: -20px auto 10px;
    }
    .results-form__text__error__title {
        font-size: 28px;
        line-height: 34px;
        padding-bottom: 50px;
        font-weight: 400;
        color: #ffffff;
    }
    .results-form__text__error__desc {
        font-size: 20px;
        line-height: 26px;
        font-weight: 300;
    }
    .wrapper__quote-card {
        margin-bottom: 50px;
    }
    /*.wrapper-footer-quote {*/
        /*padding-top: 25px;*/
        /*border-top: 1px solid #ccc;*/
        /*width: 80%;*/
        /*max-width: 1300px;*/
        /*margin: 0 auto;*/
    /*}*/

    /*Apply by phone css...Make note to refactor if we get claification on whether this will
continue to be generated through the vendor script of whether it will be used in a different
manner*/

    .wrapper__quote-card #lpButtonDiv {
        right: 371px;
    }
    .ctcShort {
        width: 371px;
    }
    .ctcShortNum {
        font-size: 20px;
    }
    .ctcTall {
        width: 371px;
    }
    .ctcOffline {
        width: 371px;
    }
    .ctcRow1 {
        font-size: 16px;
    }
    .ctcPhoneField {
        width: 170px;
    }
    .ctcPhoneNum {
        font-size: 22px;
    }
    #tcpa_c2c  {
        width: 371px;
    }

}
.results-card__quoteinfo__edit svg {
    fill: #2c77c5;
}


.edit-quote__form__wrapper .error_age_coverage{
    position: relative;
    right: auto;
    left: 0;
    margin-bottom: 10px;
    bottom: auto;
    margin-top: -5px;

}