.phoneLocal {
    width: 57%;
    margin-left: 3%;
}

.no-results {
    margin: 20px 0 20px 20px;
    display: block;
}

.no-results span {
    display: block;
    margin-bottom: 15px;
    color: #333;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.no-results ul {
    list-style: disc !important;
    margin-left: 10px;
}

.no-results li {
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.search-results-container .results_pagination {
    border-top: 1px solid #ccc;
}

.contact-lead-form_heading__header {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-lead-form__heading__subheader {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-style: italic;
}

.form-item--search-filter {
    margin-top: 5px;
}

.form-item__search {
    width: 100%;
    margin-right: 15px;
}

.form-item__display {
    color: #333;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.search-results-container__correction-text {
    margin: 20px 15px 20px;
}

.page-title__heading .icon {
    width: 60px;
    height: 60px;
    fill: green;
    position: relative;
    top: 10px;
}

#frm_refineSearchResult fieldset {
    margin: 0;
    border: none;
    position: relative;
    padding: 0;
}

#frm_refineSearchResult input:last-of-type {
    text-align: start;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    color: #999;
    z-index: 0;
}

#form-refineSearchQuery_sr {
    z-index: 2;
    position: relative;
}

.search-filter__button {
    vertical-align: top;
}

@media screen and (max-width: 767px) {
    .search-filter__button {
        position: absolute;
        right: 0;
        top: 5px;
        background: none;
        box-shadow: none;
    }

    .search-filter__button:hover, .search-filter__button:active, .search-filter__button:focus {
        background: none;
        box-shadow: none;
    }

    .form-item--search-filter .icon-search {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .form-item--search-filter .icon-search {
        display: none;
    }

    .form-item--search-filter {
        margin-top: 30px;
    }

    .form-item__search {
        width: 450px;
        margin-right: 10px;
    }

    .contact-lead-form {
        width: 40%;
        float: right;
        margin-top: 20px
    }

    .search-results-container {
        width: 60%;
        float: left;
        padding-right: 15px;
        margin-top: 20px;
    }

    .form-item__display__page-count {
        width: 50px;
        display: inline-block;
        background-size: 18px 40px;
        border-radius: 2px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #ccc;
        padding: 0 0 0 10px;
    }

}

@media screen and (min-width: 1024px) {
    .form-item--search-filter {
        margin-top: 40px;
    }

    .form-item__search {
        margin-right: 10px;
    }

    .search-results-container {
        padding-right: 30px;
    }

    .search-results-container__correction-text {
        margin: 20px 15px 30px;
    }

    .list__item--no-border:first-of-type {
        margin-top: 20px;
    }

    .list__item--no-border {
        margin-bottom: 30px;
    }

    .contact-lead-form {
        margin-top: 30px;
    }

    .search-results-container {
        margin-top: 0;
    }

    .pagination {
        margin: 20px 0 50px 0;
    }
}
