.suggestionsbox {
    cursor: pointer;
}


.suggestionsbox table {
    visibility: visible;
    width: 346px;
    position: fixed;
    top: 97px;
    left: 10px;
    z-index: 999999999;
    border-radius: 0px 0px 2px 2px;
    background: white;
    border: none;
}

.suggestionsbox table tbody {
    visibility: visible;
    font-size: 13px;
    line-height: 15px;
}
.suggestionsbox table tbody tr:hover {
    background-color: #f2f2f2;
}
.suggestionsbox table tbody tr:first-child td {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.suggestionsbox table tbody tr:last-child td {
    font-weight: 600;
    text-transform: uppercase;
}

.suggestionsbox table tbody tr td {
    padding: 10px 10px;
}

.suggestionsbox table tbody tr:first-child td:first-child {
    padding: 0px;
}
.suggestionsbox table tbody tr:first-child {
     display: none;
 }
.suggestionsbox table tbody tr:last-child {
    display: none;
}
@media (min-width: 768px) {
    .suggestionsbox table {
        width: 170px;
        top: 52px;
        left: 133px;
    }

}

@media (min-width: 1024px) {
    .suggestionsbox table {
        width: 170px;
        left: 222px;
    }

}



