.section h1{
    font-size: 18px;
    line-height:22px;
    font-weight: 400;
}
.section-header h2{
    font-size: 18px;
    line-height:22px;
    font-weight: 400;
    color: #333;
}
.section-header ul{
    list-style: disc;
    padding-left:20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.section-header li{
    font-weight: 400;
    font-size: 13px;
    line-height:16px;
    margin-bottom: 10px;
}

.section-header p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.section__number{
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .section h2{
        font-size: 20px;
        line-height:24px;
    }
    .section-header{

        margin-left: auto;
        margin-right: auto;
    }
    .section-header ul{
        width: 45%;
        display:inline-block;
        float:left;
        margin-left: 5%;
    }
}

@media screen and (min-width: 1024px) {
    .section h2{
        font-size: 22px;
        line-height: 26px;
    }

    .section-header{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .section-header ul{
        width: 45%;
        display:inline-block;
        float:left;
        margin-left: 5%;
    }
    .section-header li{
        font-size: 14px;
        line-height:18px;
    }
}