/* line 1, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar {
    border: 1px solid #cccccc;
    padding: 15px 20px 20px;
    background-color: #ffffff;
}
/* line 6, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar .blog-sidebar-header {
    font-size: 16px;
    margin-bottom: 15px;
}
/* line 10, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar .blog-sidebar-header span {
    color: #2377c5;
    cursor: pointer;
}
/* line 14, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar .blog-sidebar-header span::after {
    content: "|";
    margin: 0 10px;
    color: #333333;
}
/* line 19, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar .blog-sidebar-header span:last-child::after {
    content: "";
}
/* line 24, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar .blog-sidebar-header .selected-category {
    color: #333333;
    cursor: default;
}
/* line 30, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar .recent-content {
    display: none;
}
/* line 34, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar .sidebar-item {
    border-top: 1px solid #cccccc;
    padding: 15px 0;
}
/* line 38, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar .sidebar-item .sidebar-item-text {
    display: inline-block;
    width: 63%;
}
/* line 42, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar .sidebar-item .sidebar-item-text span {
    display: block;
}
/* line 48, ../../../sass/_blogSidebarMobile.scss */
.blog-sidebar img {
    width: 60px;
    height: auto;
    float: left;
    margin-right: 10px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    /* line 1, ../../../sass/_blogSidebarTablet.scss */
    .blog-sidebar {
        margin-top: 20px;
    }

}

@media (min-width: 1025px) {
    /* line 1, ../../../sass/_blogSidebarDesktop.scss */
    .blog-sidebar {
        margin-top: 40px;
    }

}