.subnav {
    position: absolute;
    top: 50px;
    z-index: 999;
    display: none;
    height: 100%;
    width: 100%;
    background: #2c77c5;
    text-transform: none;
}

.subnav__list {
    width: 100%;
    height: 100%;
    margin: auto;
}

.subnav__list__item {
    float: none;
    width: 100%;
    display: block;
}

.subnav__list__item__anchor {
    text-decoration: none;
    display: block;
    background-color: #3D9CDB;
    padding: 20px 30px 20px 20px;
    letter-spacing: 1px;
    border-top: 1px solid #2c77c5;
    color: white;
}


.subnav__list__item__anchor:hover {
    text-decoration: none;
    background-color: #2c77c5;
    color: white;
}

.subnav__list__item__anchor svg{
    vertical-align: bottom;
}

.subnav__list__item:last-child {
    border-bottom: 1px solid #2c77c5;
}

.subnav-mobile--open{
    display:block;
}



@media screen and (min-width: 768px){
    .subnav{
        text-align: center;
        min-height:60px;
        position: static;
        background: #3D9CDB;
        display:block;
    }

    .subnav--microsite{
        background: none;
        background-image: linear-gradient(rgba(0, 0, 0, 0.34) 10%, transparent 50%);
        position:absolute;
        top: 85px;
        height: auto;
    }

    .subnav--microsite .subnav__list__item__anchor{
        background-color: transparent;
    }

    .subnav--microsite:hover{
        background: #3D9CDB;
    }

    .subnav__list{
        margin: auto;
    }

    .subnav__list__item{
        width: 20%;

        display: inline-table;
        height: 100%;
    }

    .subnav__list__item:last-child {
        border-bottom: none;
    }

    .subnav__list__item__anchor{
        min-height: 60px;
        display:table;
        color: white;
        width: 100%;
        height: 100%;
        padding: 0;
        border-top: none;
    }

    .subnav__list__item__anchor:hover{
        background: #2c77c5;
        color: white;
    }

    .subnav__list__item__anchor__label{
        display: table-cell;
        vertical-align: middle;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 1px;
    }

    .subnav__list__item:first-child:nth-last-child(5),
    .subnav__list__item:first-child:nth-last-child(5) ~ .subnav__list__item {
        float: left;
    }

    .subnav__list__item:first-child:nth-last-child(6),
    .subnav__list__item:first-child:nth-last-child(6) ~ .subnav__list__item {
        float: left;
        width: 16.66667%
    }

    .subnav__list__item:first-child:nth-last-child(7),
    .subnav__list__item:first-child:nth-last-child(7) ~ .subnav__list__item {
        float: left;
        width: 14.2857%;
    }

    .subnav__list__item:first-child:nth-last-child(8),
    .subnav__list__item:first-child:nth-last-child(8) ~ .subnav__list__item {
        float: left;
        width: 12.5%;
    }
}

@media screen and (min-width: 1025px) {

    .subnav{
        position: static;
    }

    .subnav--microsite{
        position:absolute;
        top: 100px;
    }

    .subnav__list {
        width: 85%;
        margin: auto;
    }
    .subnav__list__item__anchor__label{

        font-size: 12px;
        line-height:15px;
        letter-spacing: 1px;
    }

}
.subnav-icon{
    width:19px;
    margin-top:-3px;
    margin-right: 3px;
}