/* Mobile */
.column-component {
    padding: 10px 0;
}

.column-component__content-block {
    margin-bottom: 20px;
}
.column-component__content-block:last-child {
    margin-bottom: 0;
}
.column-component__content-block-title {
    margin-bottom: 10px;
}
.column-component__content-block-text {
    margin-bottom: 10px;
}

.column-component__content-block-text .column-component__content{
    top:5px;
}
.column-component__content-block-text a{
    font-size: 14px;
}
.column-component__content-block-text:last-child {
    margin-bottom: 0;
}
.column-component__content-block-download {
    background-image: url("../../images/asset-blue.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 30px
}
.column-component__text-block-title {
    text-align: center;
    margin-bottom: 10px;
}
.column-component__icon-container {
    margin-bottom: 30px;
}
.column-component__iconography-icon {
    width: 15%;
    margin: 3%;
}
.column-component__iconography-icon--twelve {
    width: 15%;
    margin: 3%;
}
.column-component__iconography-icon--six {
    width: 18%;
    margin: 4%;
}
.column-component__iconography-icon--four {
    fill: #2377C5;
    width: 15%;
    margin: 3%;
}
.column-component__iconography-icon--four:nth-child(2) {
    margin-right: 4%;
    margin-left: 8%;
}
.column-component__iconography-icon--four:nth-child(3) {
    margin-right: 4%;
    margin-left: 8%;
}
.column-component__iconography-img-container {
    width: 35px;
    height: 30px;
    display: inline-block;
}
.column-component__iconography-img-container--bg-blue {
    background-color: #2c77c5;
    width: 35px;
    height: 30px;
    display: inline-block;
}

.column-component__iconography-img-container:nth-child(2),
.column-component__iconography-img-container:nth-child(4),
.column-component__iconography-img-container--bg-blue:nth-child(2),
.column-component__iconography-img-container--bg-blue:nth-child(4) {
    margin-left: 6%;
    margin-right: 6%;
}
.column-component__iconography-img-container--bg-blue img {
    width: 55%;
}
.column-component__iconography-img-container img {
    width: 55%;
}
.column-component__font-block-item {
    padding: 5px 5px 10px;
    margin: 0;
}
.column-component__font-block-title {
    margin-bottom: 10px;
}

.color-palette {
    max-height: 300px;
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
}
.color-palette__row {
    border: 2px solid white;
}
.color-palette__box {
    height: 25%;
    width: 25%;
    padding-top: 25%;
    border: 2px solid white;
}

.image-box {
    text-align: center;
}
.image-box__background {
    width: 80%;
    padding: 10% 15%;
    margin: 0 auto 10px;
}
.image-box__title {
    color: #aaa;
    margin-bottom: 10px;
}

.column-breadcrumb {
    display: block;
    position: relative;
    height: auto;
    padding: 0;
}


.bullet:before {
    content: "\2022";
    margin-right: 10px;
}

.vertical-align__child--top{
    vertical-align: top;
}

.two-column-list{
    padding: 20px 0 20px;
    display: none;
}

.two-column-list .vertical-align{
    margin-bottom: 5px;
}

.two-column-list__left{
    text-align:right;
    padding-right: 20px;
}

.column-component__content-block--box-shadow{
    -webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.column-component-content-block--pd-left {
    padding-left: 0px;
}

.column-component__actions{
    position: relative;
}

.column-component__actions a{
    padding: 0 10px;
    font-size: 12px;
    vertical-align: sub;
}

.column-component__expand-action{
    cursor: pointer;
    padding: 10px;
}

.column-component__actions--right{
    position: absolute;
    right: 0;
}

/* Tablet */
@media (min-width: 768px) {
    .column-component {
        padding: 10px 0;
    }
    .column-component__content-block--font {
        margin: 0;
    }
    .column-component__content-block--text {
        padding-left: 60px !important;
    }

    .column-component__text-block-title {
        text-align: left;
    }

    .column-component__font-block-item {
        padding-bottom: 20px;
        margin-bottom: -1px;
    }

    .column-component__expand-action{
        display: none;
    }

    .column-component__actions a{
        padding: 0 5px;
    }

    .gutter-center {
        padding-left: 10px;
        padding-right: 10px;
    }
    .gutter-center:last-child {
        padding-left: 20px;
        padding-right: 0;
    }
    .gutter-center:first-child {
        padding-left: 0;
        padding-right: 20px;
    }
    .vertical-align {
        display: table;
        width: 100%;
    }
    .vertical-align__child {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }

    .vertical-align__child--top{
        vertical-align: top;
    }

    .column-swap {
        direction: rtl;
    }
    .column-swap__child {
        direction: ltr;
    }
    .column-swap__child--gutter {
        padding-left: 10px;
        padding-right: 10px;
    }
    .column-swap__child--gutter:last-child {
        padding-left: 0;
        padding-right: 20px;
    }
    .column-swap__child--gutter:first-child {
        padding-left: 20px;
        padding-right: 0;
    }
    .two-column-list{
        display: block !important;
        margin: 30px 0 10px;
    }
	.column-component__icon-container {
        margin-bottom: 0;
    }
    .column-component__iconography-icon--four:nth-child(2) {
        margin-right: 3%;
        margin-left: 6%;
    }
    .column-component__iconography-icon--four:nth-child(3) {
        margin-right: 3%;
        margin-left: 6%;
    }
    .column-component-content-block--pd-left {
        padding-left: 60px;
    }
}
/* Desktop */
@media (min-width: 1025px) {
    .column-component__content-block--text {
        padding-left: 80px !important;
    }
    .column-component__font-block-item {
        padding-bottom: 30px;
    }
    .two-column-list {
        margin: 40px 0 10px;
    }
    .column-component-content-block--pd-left {
        padding-left: 180px;
    }
}