.content-block{
	padding-top: 25px;
}
.padding-top{
	padding-top: 225px;
}
.content-block h2, .content-block h3{
	font-weight: 500;
}
.content-block b{
	font-weight: 600;
}
.content-block p{
	width: 80%;
}
.content-block div h3{
	width: 30%;
}

@media screen and (max-width: 767px) {
	.content-block div h3{
		width: 100%;
	}
	.content-block{
		padding-top: 10px;
	}
}

.element-title{
	font-size: 24px;
	font-weight: 300;
}
.component-title{
	padding-left: 20px;
	font-weight: 500;
	font-size: 1.5em;
	text-align: left;
}

.element-text{
	padding-top: 25px;
	font-size: 12px;
	font-weight: 400;
	text-align:justify;
}