.download-farm {
    padding: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.download-farm__items {
    padding-left: 15px;
}

.download-farm__item {
    padding-top: 10px;
    font-size: 12px;
}

.download-farm__image {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
    .download-farm__main-text {
        text-align: left;
    }

    .download-farm__items {
        padding-left: 45px;
    }

    .download-farm__item {
        padding-top: 25px;
    }
}