.idea-submit__container{
    padding: 0px 0px;
}

.idea-submit__container form{
    position: relative;
}

.idea-submit__container form input[type=text]{
    border: 1px solid #e3e3e3;
}

.idea-submit__container div p{
    font-size: 10px;
}

.idea-submit__container form input[type=text]{
    margin-bottom: 10px;
}

.idea-submit__container form input[type=submit]{
    display: block;
}


@media screen and (min-width: 768px) {
    .idea-submit__container form input[type=text]{
        width: 400px;
    }

}

@media (min-width: 1024px) {

}