<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/file-a-claim/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/common/extend/macro-button/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="comp-container">
            <div class="comp-file-claim">
                <h3 class="file-claim-heading">펀드투자자교육</h3>
                <ul>
                    <li>
                        <div class="file-claim-con"> <span class="screen_out">제목 : </span> <span class="title">
                        
                        전국 투자자 교육협의회
                        

                    </span> </div>
                        <div class="file-claim-btn"> <a href="#lnk" class="btn-basic green">바로가기</a> </div>
                    </li>
                    <li>
                        <div class="file-claim-con"> <span class="screen_out">제목 : </span> <span class="title">
                        
                        금융투자협회
                        

                    </span> </div>
                        <div class="file-claim-btn"> <a href="#lnk" class="btn-basic green">바로가기</a> </div>
                    </li>
                    <li>
                        <div class="file-claim-con"> <span class="screen_out">제목 : </span> <span class="title">
                        
                        <a href="#lnk">펀드투자 이것은 알고합시다.</a>
                        

                    </span> </div>
                        <div class="file-claim-files"> <a href="#lnk" class="ico-pdf">양식<span class="down">다운로드</span></a> <span class="file-claim-kb">(PDF -128kb)</span> </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // CONTENT-->
    </body>

</html>