/* css folder ##announcement/announcement-select-tab## */
.announcement-select-tab {
  padding: 20px 0; }
  .announcement-select-tab .faq-search {
    overflow: hidden;
    padding: 0 20px 20px; }
    .announcement-select-tab .faq-search label {
      display: block;
      font-size: 16px;
      line-height: 40px;
      text-align: center; }
    .announcement-select-tab .faq-search .slt-area {
      position: relative;
      padding-right: 80px; }
      .announcement-select-tab .faq-search .slt-area .btn-basic {
        position: absolute;
        right: 0;
        top: 0;
        padding: 13px 21px 12px; }

.announcement-select-sec {
  display: none; }
  .announcement-select-sec.active {
    display: block; }

@media all and (min-width: 768px) {
  .announcement-select-tab {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0; }
    .announcement-select-tab .faq-search {
      width: 54%;
      margin: 0 auto;
      padding: 0 0 28px; }
      .announcement-select-tab .faq-search label {
        float: left;
        display: inline-block;
        width: auto;
        padding-right: 10px; }
      .announcement-select-tab .faq-search .slt-area {
        float: left;
        width: 80%; }
        .announcement-select-tab .faq-search .slt-area .btn-basic {
          top: 0;
          padding: 13px 21px; } }

@media all and (min-width: 1024px) {
  .announcement-select-tab {
    width: 100%;
    max-width: 880px;
    padding: 20px 0; }
    .announcement-select-tab .faq-search {
      padding-bottom: 40px; } }
