/* general-content/general-content-vision css */

/*$TabletWidth: 95%;*/
.general-content-vision {
  margin: 0 auto;
  padding: 20px;
  color: #333; }

.general-vision-img {
  overflow: hidden;
  width: 100%;
  font-size: 0;
  padding-bottom: 40px; }
  .general-vision-img .base-img {
    display: inline-block;
    padding-bottom: 5px;
    width: 100%; }
    .general-vision-img .base-img .img-container {
      width: 100%; }

.general-tiles-wrap ul {
  display: table;
  vertical-align: top;
  font-size: 0; }
  .general-tiles-wrap ul li {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding-bottom: 25px; }
    .general-tiles-wrap ul li:last-child {
      padding-bottom: 0; }
    .general-tiles-wrap ul li .general-tiles dl {
      display: table;
      width: 100%;
      -webkit-background-size: 50px;
      background-size: 50px;
      background-repeat: no-repeat;
      background-position: 3px 0; }
      .general-tiles-wrap ul li .general-tiles dl dt {
        padding-bottom: 10px;
        height: 60px;
        padding-left: 75px; }
        .general-tiles-wrap ul li .general-tiles dl dt .general-title {
          font-size: 16px;
          font-weight: bold;
          line-height: 22px; }
          .general-tiles-wrap ul li .general-tiles dl dt .general-title .txt-eng {
            display: block;
            font-size: 14px;
            line-height: 21px;
            font-weight: normal; }
      .general-tiles-wrap ul li .general-tiles dl dd {
        vertical-align: top;
        font-size: 15px;
        line-height: 21px; }

@media all and (min-width: 768px) {
  .general-content-vision {
    padding: 30px 20px 40px; }
  .general-vision-img:not(:last-child) {
    padding-bottom: 40px; }
  .general-vision-img .base-img {
    width: 33.333%;
    padding-bottom: 0; }
  .general-tiles-wrap ul {
    padding-left: 25px;
    padding-right: 25px; }
    .general-tiles-wrap ul li {
      width: 50%;
      padding-bottom: 30px; }
      .general-tiles-wrap ul li:nth-child(odd) {
        padding-right: 25px; }
      .general-tiles-wrap ul li:nth-child(even) {
        padding-left: 25px; }
      .general-tiles-wrap ul li:nth-child(3), .general-tiles-wrap ul li:last-child {
        padding-bottom: 0; }
      .general-tiles-wrap ul li .general-tiles dl {
        -webkit-background-size: 40px;
        background-size: 40px;
        background-position: 3px 0; }
        .general-tiles-wrap ul li .general-tiles dl dt {
          padding-left: 65px; }
          .general-tiles-wrap ul li .general-tiles dl dt .general-title {
            font-size: 18px;
            font-weight: bold;
            line-height: 24px; }
            .general-tiles-wrap ul li .general-tiles dl dt .general-title .txt-eng {
              display: block;
              font-size: 13px;
              line-height: 20px;
              font-weight: normal; }
        .general-tiles-wrap ul li .general-tiles dl dd {
          padding-left: 65px;
          font-size: 14px; } }

@media all and (min-width: 1024px) {
  .general-content-vision {
    width: 100%;
    max-width: 880px;
    padding: 40px 0 50px; }
    .general-content-vision:not(:last-child) {
      padding: 40px 0 50px; }
  .general-tiles-wrap ul li .general-tiles dl {
    -webkit-background-size: 50px;
    background-size: 50px; }
    .general-tiles-wrap ul li .general-tiles dl dt {
      padding-left: 75px; }
      .general-tiles-wrap ul li .general-tiles dl dt .general-title {
        font-size: 20px; }
    .general-tiles-wrap ul li .general-tiles dl dd {
      padding-left: 75px;
      font-size: 14px; } }
