/* css folder ##global/breadcrumb## */
.breadcrumb {
  display: none; }

@media all and (min-width: 768px) {
  .breadcrumb {
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    width: 100%;
    min-height: 40px;
    padding: 22px 0 0 30px; }
    .breadcrumb span {
      color: #666; }
      .breadcrumb span a {
        color: #2377c5;
        border-bottom: 1px solid #2377c5; }
      .breadcrumb span::after {
        content: "\203A";
        display: inline;
        margin: 0 5px; }
      .breadcrumb span:last-child::after {
        display: none; } }
