@charset "utf-8";

/* css folder ##global/breadcrumb## */


@import "system/styles/basicset.scss";

.breadcrumb {
	display: none;
}


@media all and (min-width:768px) {
	.breadcrumb {
		position: absolute;
		left:0;
		top:0;
		display: table;
		width: 100%;
		min-height: 40px;
		padding:22px 0 0 30px;
		
		& span {
			color: #666;
			& a {
				color: $pointColor1;
				border-bottom:1px solid $pointColor1;
			}

			&::after {
				content:"\203A";
				display: inline;
				margin:0 5px;
			}

			&:last-child::after {
				display: none;
			}
		}
	}
}