<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/test/list-style/styles.css -->


<div class="list-style">
	<div class="disc">
		<h3>List Style Type : disc</h3>
		<ol>
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
			<li>list4</li>
		</ol>
	</div>
	<div class="circle">
		<h3>List Style Type : circle</h3>
		<ol>
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
			<li>list4</li>
		</ol>
	</div>
	<div class="square">
		<h3>List Style Type : square</h3>
		<ol>
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
			<li>list4</li>
		</ol>
	</div>
	<div class="decimal">
		<h3>List Style Type : decimal</h3>
		<ol>
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
			<li>list4</li>
		</ol>
	</div>
	<div class="decimal-leading-zero">
		<h3>List Style Type : decimal-leading-zero</h3>
		<ol>
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
			<li>list4</li>
		</ol>
	</div>
	<div class="lower-roman">
		<h3>List Style Type : lower-roman</h3>
		<ol>
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
			<li>list4</li>
		</ol>
	</div>
	<div class="upper-roman">
		<h3>List Style Type : upper-roman</h3>
		<ol>
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
			<li>list4</li>
		</ol>
	</div>
	<div class="lower-latin">
		<h3>List Style Type : lower-latin</h3>
		<ol>
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
			<li>list4</li>
		</ol>
	</div>
	<div class="upper-latin">
		<h3>List Style Type : upper-latin</h3>
		<ol>
			<li>list1</li>
			<li>list2</li>
			<li>list3</li>
			<li>list4</li>
		</ol>
	</div>
</div>

<!-- COMPONENT END -->


