<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/common/extend/macro-button/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/common/layout/share-call/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="share-call">
            <div class="share-sns"> <button type="button" class="btn-basic share-white ico-share">공유하기</button>
                <div class="share-sns-listwrap">
                    <div class="share-sns-list"> <span>공유하기</span>
                        <!--<a href="#lnk" class="share-print"><img src="/apps/DEO/components/common/layout/share-call/images/icon_pr.png" alt="프린트"></a>-->
                        <a href="#lnk" class="tablet-view"><img src="/apps/DEO/components/common/layout/share-call/images/icon_fb.png" alt="페이스북"></a>
                        <a href="#lnk" class="tablet-view"><img src="/apps/DEO/components/common/layout/share-call/images/icon_tw.png" alt="트위터"></a>
                        <a href="#lnk" class="mobile-view"><img src="/apps/DEO/components/common/layout/share-call/images/icon_kakao.png" alt="카카오톡"></a>
                        <a href="#lnk" class="tablet-view"><img src="/apps/DEO/components/common/layout/share-call/images/icon_mail.png" alt="이메일"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- // CONTENT-->
        <script type="text/javascript" charset="utf-8" src="/apps/DEO/components/common/layout/share-call/scripts.js"></script>
    </body>

</html>