<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/global/share-ClicktoCall/styles.css -->

{% set titleComp = pageTitleComp %}

<div class="comp-container bg-gray">
    {% include paths.apps + "/global/breadcrumb/index.html" %}
    <div class="share-title">
        <div class="share-head">
            <!-- h2 ~ h6 선택가능 -->
            {% import paths.apps + "/extend/heading/index.html" as heading %}
            {% set level = titleComp.levelTag %}
            {% set title = titleComp.title %}
            {{ heading.headtag(level, title, "share-heading") }}
            {% if titleComp.titleCopy %}<p>{{ titleComp.titleCopy }}</p>{% endif %}
        </div>
        {% if titleComp.shareComp %}
            {%  set shareCall = titleComp.shareComp  %}
            {% include paths.apps + "/global/shareCall/index.html" %}
        {% endif %}
    </div>
</div>

<!-- COMPONENT END -->
