/* find-an-office/find-map-content css */

.find-map {
  padding-bottom: 30px; }
  .find-map .map-area {
    width: 100%;
    height: 210px;
    margin-bottom: 20px; }
  .find-map .map-con-info {
    display: block;
    padding-bottom: 13px;
    font-size: 15px;
    font-weight: bold; }
  .find-map .map-con-list li {
    padding-left: 10px;
    background: url("/content/dam/DEO/components/find-an-office/find-map-content/ico-product-dot.svg") 0 8px no-repeat;
    background-size: 4px 4px;
    font-size: 13px;
    line-height: 18px; }

@media all and (min-width: 768px) {
  .find-map {
    padding-bottom: 0; }
    .find-map .map-area {
      width: 100%;
      height: 450px; }
    .find-map .map-con-info {
      font-size: 16px; }
    .find-map .map-con-list li {
      font-size: 13px;
      line-height: 20px; } }

@media all and (min-width: 1024px) {
  .find-map .map-con-list li {
    font-size: 14px;
    line-height: 21px; } }
