<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/recruit/list-table/styles.css -->

<div class="list-table">
    <div class="tbl">
        <div class="tbl-head">
            <span class="col col-1">모집부문</span>
            <span class="col col-2">모집기간</span>
            <span class="col col-3">진행상태</span>
            <span class="col col-4">진행상황</span>
        </div>
        <ul class="tbl-body">
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">[계리분석팀] 본사 대졸 신입 모집</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">진행중</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">서류접수</span>
                    </span>
                </div>
            </li>
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">[계약심사팀] 본사 대졸 신입 모집</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">진행중</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">서류접수</span>
                    </span>
                </div>
            </li>
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">[본사 Legal &amp; CA] Intern 모집</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">진행중</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">서류접수</span>
                    </span>
                </div>
            </li>
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">[Compliance Specialist] 본사 대졸신입 모집</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">접수마감</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">인적성검사</span>
                    </span>
                </div>
            </li>
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">[본사 Legal &amp; CA] Intern 모집</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">접수마감</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">1차면접</span>
                    </span>
                </div>
            </li>
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">[클레임서비스팀] 계약직 모집</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">접수마감</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">1차면접</span>
                    </span>
                </div>
            </li>
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">[보험금 심사 담당] 본사 대졸 신입 모집</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">채용종료</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">채용종료</span>
                    </span>
                </div>
            </li>
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">[보험계약 유지 관리팀] 본사 대졸 신입 모집</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">채용종료</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">채용종료</span>
                    </span>
                </div>
            </li>
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">2014 Summer Internship(채용연계)모집안내</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">채용종료</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">채용종료</span>
                    </span>
                </div>
            </li>
            <li class="tbl-row">
                <div class="tbl-inbody">
                    <span class="col col-1">
                        <span class="colhead">모집부문</span>
                        <span class="colbody"><a href="#lnk">[클레임서비스팀] 계약직 모집</a></span>
                    </span>
                    <span class="col col-2">
                        <span class="colhead">모집기간</span>
                        <span class="colbody">2016-02-02 ~ 2016-02-15</span>
                    </span>
                    <span class="col col-3">
                        <span class="colhead">진행상태</span>
                        <span class="colbody">채용종료</span>
                    </span>
                    <span class="col col-4">
                        <span class="colhead">진행상황</span>
                        <span class="colbody">채용종료</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    {% include paths.apps + "/inter-section/paging/index.html" %}
</div>

<!-- COMPONENT END -->