<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/recruit/list-table/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/inter-section/paging/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="list-table">
            <div class="tbl">
                <div class="tbl-head"> <span class="col col-1">모집부문</span> <span class="col col-2">모집기간</span> <span class="col col-3">진행상태</span> <span class="col col-4">진행상황</span> </div>
                <ul class="tbl-body">
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">[계리분석팀] 본사 대졸 신입 모집</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">진행중</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">서류접수</span> </span>
                        </div>
                    </li>
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">[계약심사팀] 본사 대졸 신입 모집</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">진행중</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">서류접수</span> </span>
                        </div>
                    </li>
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">[본사 Legal &amp; CA] Intern 모집</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">진행중</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">서류접수</span> </span>
                        </div>
                    </li>
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">[Compliance Specialist] 본사 대졸신입 모집</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">접수마감</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">인적성검사</span> </span>
                        </div>
                    </li>
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">[본사 Legal &amp; CA] Intern 모집</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">접수마감</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">1차면접</span> </span>
                        </div>
                    </li>
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">[클레임서비스팀] 계약직 모집</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">접수마감</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">1차면접</span> </span>
                        </div>
                    </li>
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">[보험금 심사 담당] 본사 대졸 신입 모집</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">채용종료</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">채용종료</span> </span>
                        </div>
                    </li>
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">[보험계약 유지 관리팀] 본사 대졸 신입 모집</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">채용종료</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">채용종료</span> </span>
                        </div>
                    </li>
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">2014 Summer Internship(채용연계)모집안내</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">채용종료</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">채용종료</span> </span>
                        </div>
                    </li>
                    <li class="tbl-row">
                        <div class="tbl-inbody"> <span class="col col-1">
                        <span class="colhead">모집부문</span> <span class="colbody"><a href="#lnk">[클레임서비스팀] 계약직 모집</a></span> </span> <span class="col col-2">
                        <span class="colhead">모집기간</span> <span class="colbody">2016-02-02 ~ 2016-02-15</span> </span> <span class="col col-3">
                        <span class="colhead">진행상태</span> <span class="colbody">채용종료</span> </span> <span class="col col-4">
                        <span class="colhead">진행상황</span> <span class="colbody">채용종료</span> </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="paging web-view"> <a href="#lnk" class="page-prev default">이전</a>
                <div> <a href="#lnk" class="active">1</a> <a href="#lnk">2</a> <a href="#lnk">3</a> <a href="#lnk">4</a> <a href="#lnk">5</a> <a href="#lnk">6</a> <a href="#lnk">7</a> <a href="#lnk">8</a> <a href="#lnk">9</a> <a href="#lnk">10</a> </div>
                <a
                    href="#lnk" class="page-next">다음</a>
            </div>
            <div class="paging mobile-view"> <a href="#lnk" class="page-prev default">이전</a>
                <div> <a href="#lnk" class="active">1</a> <a href="#lnk">2</a> <a href="#lnk">3</a> <a href="#lnk">4</a> </div> <a href="#lnk" class="page-next">다음</a> </div>
        </div>
        <!-- // CONTENT-->
    </body>

</html>