/* home/related-contents css */

.related-contents {
  -webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1); }

.related-contents-img img {
  width: 100%; }

.related-contents-con {
  padding: 20px;
  text-align: left;
  background-color: #fff; }
  .related-contents-con dl dt {
    padding-bottom: 15px;
    font-size: 22px;
    line-height: 21px;
    color: #000; }
  .related-contents-con dl dd {
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 23px;
    color: #333; }
  .related-contents-con ul a {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    color: #0061a0; }
    .related-contents-con ul a:hover, .related-contents-con ul a:focus {
      text-decoration: underline; }

@media all and (min-width: 768px) {
  .related-contents {
    -webkit-box-shadow: 0 0 0 0 transparent;
    -khtml-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 0 transparent;
    -o-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent; }
  .related-contents-con {
    padding: 20px 0 40px; }
    .related-contents-con dl dt {
      font-size: 20px;
      font-weight: bold;
      line-height: 27px; }
    .related-contents-con dl dd {
      font-size: 14px;
      line-height: 21px; } }

@media all and (min-width: 1024px) {
  .related-contents-con {
    padding: 25px 0 50px; }
    .related-contents-con dl dt {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px; }
    .related-contents-con dl dd {
      font-size: 14px;
      line-height: 21px; } }
