<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/find-an-office/find-search-content/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/common/extend/macro-select/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/common/extend/macro-input/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/common/extend/macro-button/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <form action="?">
            <fieldset>
                <legend class="screen_out">지점위치 검색</legend>
                <div class="map-search">
                    <div class="slt-half">
                        <div class="half"> <label class="screen_out" for="stateSlt">도 선택</label>
                            <div class="slt-wrap"> <select id="stateSlt" name="name" data-select-design="false">
    <option value="1">서울특별시</option>
    <option value="2">경기도</option>
    
</select> </div>
                        </div>
                        <div class="half"> <label class="screen_out" for="suburbSlt">구 선택</label>
                            <div class="slt-wrap"> <select id="suburbSlt" name="name" data-select-design="false">
    <option value="1">강남구</option>
    <option value="2">성동구</option>
    
</select> </div>
                        </div>
                    </div>
                    <div class="input-extend">
                        <div class="input-wrap"> <label for="branchInput">지점명을 입력하세요</label> <input type="text" id="branchInput" value=""> </div>
                        <div> <button type="submit" class="btn-basic green">검색</button> </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <!-- // CONTENT-->
        <script type="text/javascript" charset="utf-8" src="/apps/DEO/components/common/extend/macro-input/scripts.js"></script>
    </body>

</html>