.carousel-caption--hero {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: 5px auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        text-align: left;
        width: 51%;
        max-width: 1300px;
        margin-left: 5.5%;
        padding: 0;
    }

    .carousel-caption--hero {
        font-size: 3vw;
        line-height: 3.2vw;
        padding-bottom: 95px;
        height: 400px;
        width: 60%;
        position: relative;
        margin: 0;
    }
    .carousel--hero .icon {
        width: 30px;
        height: 30px;
    }
    .carousel--hero .left .icon {
        right: 15px;
    }

    .carousel--hero .right .icon {
        left: 15px;
    }
}
@media screen and (min-width: 1024px) {
    .carousel-caption {
        margin-left: 7.5%;
    }

}