.carousel-caption--hero {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: 5px auto;
    font-weight: 600;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        text-align: left;
        width: 51%;
        max-width: 1300px;
        margin-left: 7.5%;
        padding: 0;
    }

    .carousel-caption--hero {
        padding-bottom: 95px;
        height: 400px;
        width: 60%;
        position: relative;
        margin: 0;
    }
}