.get-quote__container, .find-office__container {
    background-color:#E3E3E3;
    color:#333;
    margin-bottom: 15px;

}

.cta_header_quote p, .quote-office__heading{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #333;
}

.find-office__dental-container a, .find-office__vision-container a{
    color: #2377C5;
    font-weight: 300;
}

.find-office__dental-container a:hover, .find-office__dental-container a:focus,
.find-office__vision-container a:hover, .find-office__vision-container a:focus{
    color: #2377C5;

}

.get-quote, .find-office{
    padding: 20px;
}

.btn-group:first-of-type{
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {

    .get-quote, .find-office{
        padding: 30px 20px;
    }


    .cta_header_quote p, .quote-office__heading{
        font-size: 20px;
        margin-bottom: 20px;

    }
    .quote-office {
        margin: -85px auto 20px;
        width: 95%;

    }
    .get-quote__container {
        width: calc(50% - 10px);
        margin-right: 10px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .find-office__container {
        width: calc(50% - 10px);
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 0;
    }


}

@media screen and (min-width: 1024px) {
    .get-quote, .find-office {
        padding: 30px 35px;
    }

    .quote-office {
        margin-bottom: 30px;
        width: 85%;
        max-width: 1300px;
    }

}

.find-office .btn-group .btn {
    height: 40px;
}