.quote-office--left, .quote-office--right{
    background-color:#E3E3E3;
    color:#333;
    margin-bottom: 15px;

}

.cta_header_quote p, .quote-office__heading{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #333;
}

.find-office__dental-container a, .find-office__vision-container a{
    color: #2377C5;
    font-weight: 300;
}

.find-office__dental-container a:hover, .find-office__dental-container a:focus,
.find-office__vision-container a:hover, .find-office__vision-container a:focus{
    color: #2377C5;

}

.btn-group:first-of-type{
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {

    .cta_header_quote p, .quote-office__heading{
        font-size: 20px;
        margin-bottom: 20px;

    }
    .quote-office {
        margin: -70px auto 20px;
        width: 95%;
    }
    .quote-office--left, .quote-office--right {
        width: calc(50% - 10px);
    }
}

@media screen and (min-width: 1024px) {

    .quote-office > .row{
        margin-right: 0px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .quote-office {
        margin-bottom: 30px;
        width: 85%;
        max-width: 1300px;
    }

}

.find-office .btn-group .btn {
    height: 40px;
}

.btn-group__icon {
    top: 34px;
}
@media screen and (min-width: 768px) {
    .btn-group__icon {
        top: 33px;
    }
}

@media screen and (min-width: 1024px) {
    .btn-group__icon {
        top: 33px;
    }
}