.hp--contextual--links{
   
}

.more-content__section a:nth-child(2) {
    padding: 20px 20px 0 20px;
}
.more-content__section a:nth-child(3) {
    font-size: 14px;
    line-height: 18px;
    color: #7A9816;
    text-decoration: underline;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}

.more-content {
    background-color: inherit;
}

.more-content__section {
    background-color: inherit;
}

.more-content__title {
    font-size: 20px;
}

.more-content__section a:nth-child(3):active, .more-content__section a:nth-child(3):hover  {
    color: #A0C323;
}

@media screen and (min-width: 768px) {
    .more-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .more-content__section a:nth-child(2) {
        padding: 20px 0 0 0;
    }
    .more-content__section a:nth-child(3) {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        margin-left: 0px;
        padding-bottom: 0px;
    }
    .more-content__section {
        width: 32%;
        margin-right: 2%;
    }
    .more-content__section:last-child {
        margin-right: 0;
    }
    .more-content__title {
        line-height: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .more-content__title {
        font-size: 26px;
    }

    .more-content {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .more-content__section a:nth-child(3) {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
    }
    .more-content__title {
        line-height: 50px;
    }
}