.product-row__tile--img-tile.skinny-promo-tile-homepage{
	width: 100%;
	margin-top:initial;
	margin-bottom:initial;
}
.skinny-promo-tile-homepage .product-row__tile--img-tile__text .product-row__tile--img-tile__text--left .product-row__tile__promo{
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	font-weight: 400;
}
.skinny-promo-tile-homepage .product-row__tile--img-tile__text .product-row__tile--img-tile__text--left p{
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}
@media screen and (max-width: 767px) {
	.skinny-card{
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 10px;
		padding-top: 0px;
	}
}

@media screen and (min-width: 768px) {

	.skinny-promo-tile-homepage .product-row__tile--img-tile__text .product-row__tile--img-tile__text--left .product-row__tile__promo{
		font-size: 18px;
		line-height: 22px;
	}
	.skinny-promo-tile-homepage .product-row__tile--img-tile__text .product-row__tile--img-tile__text--left p{
		font-size: 13px;
		line-height: 16px;
		padding-bottom: 2px;
	}
}

@media screen and (min-width: 1024px) {

	.skinny-promo-tile-homepage .product-row__tile--img-tile__text .product-row__tile--img-tile__text--left .product-row__tile__promo{
		font-size: 22px;
		line-height: 26px;
	}
}
.product-row__tile__img-tile__img {
	background-position: center;
}