.opt-text28,
.opt-text24,
.opt-text20,
.opt-text16,
.ol-decimal > .opt-text16 > li,
.ol-decimalZero > .opt-text16 > li,
.opt-bult01 > .opt-text16 > li,
.opt-bult02 > .opt-text16 > li,
.opt-bult03 > .opt-text16 > li,
.opt-text14,
.ol-decimal > .opt-text14 > li,
.ol-decimalZero > .opt-text14 > li,
.opt-bult01 > .opt-text14 > li,
.opt-bult02 > .opt-text14 > li,
.opt-bult03 > .opt-text14 > li,
.opt-text13,
.ol-decimal > .opt-text13 > li,
.ol-decimalZero > .opt-text13 > li,
.opt-bult01 > .opt-text13 > li,
.opt-bult02 > .opt-text13 > li,
.opt-bult03 > .opt-text13 > li {
  color: #333;
  font-weight: normal;
  text-indent: 0; }

.opt-text28.opt-text-bold,
.opt-text24.opt-text-bold,
.opt-text20.opt-text-bold,
.opt-text16.opt-text-bold,
.ol-decimal > .opt-text16 > li.opt-text-bold,
.ol-decimalZero > .opt-text16 > li.opt-text-bold,
.opt-bult01 > .opt-text16 > li.opt-text-bold,
.opt-bult02 > .opt-text16 > li.opt-text-bold,
.opt-bult03 > .opt-text16 > li.opt-text-bold,
.opt-text14.opt-text-bold,
.ol-decimal > .opt-text14 > li.opt-text-bold,
.ol-decimalZero > .opt-text14 > li.opt-text-bold,
.opt-bult01 > .opt-text14 > li.opt-text-bold,
.opt-bult02 > .opt-text14 > li.opt-text-bold,
.opt-bult03 > .opt-text14 > li.opt-text-bold,
.opt-text13.opt-text-bold,
.ol-decimal > .opt-text13 > li.opt-text-bold,
.ol-decimalZero > .opt-text13 > li.opt-text-bold,
.opt-bult01 > .opt-text13 > li.opt-text-bold,
.opt-bult02 > .opt-text13 > li.opt-text-bold,
.opt-bult03 > .opt-text13 > li.opt-text-bold {
  font-weight: bold; }

.opt-text14.opt-pointColor1, .ol-decimal > .opt-text14 > li.opt-pointColor1, .ol-decimalZero > .opt-text14 > li.opt-pointColor1, .opt-bult01 > .opt-text14 > li.opt-pointColor1, .opt-bult02 > .opt-text14 > li.opt-pointColor1, .opt-bult03 > .opt-text14 > li.opt-pointColor1,
.opt-text13.opt-pointColor1,
.ol-decimal > .opt-text13 > li.opt-pointColor1,
.ol-decimalZero > .opt-text13 > li.opt-pointColor1,
.opt-bult01 > .opt-text13 > li.opt-pointColor1,
.opt-bult02 > .opt-text13 > li.opt-pointColor1,
.opt-bult03 > .opt-text13 > li.opt-pointColor1 {
  color: #666; }

.opt-text28 {
  font-size: 22px;
  line-height: 28px; }

.opt-text24 {
  font-size: 22px;
  line-height: 28px; }

.opt-text20 {
  font-size: 20px;
  line-height: 26px; }

.opt-text16, .ol-decimal > .opt-text16 > li, .ol-decimalZero > .opt-text16 > li, .opt-bult01 > .opt-text16 > li, .opt-bult02 > .opt-text16 > li, .opt-bult03 > .opt-text16 > li {
  font-size: 16px;
  line-height: 22px; }

.opt-text14, .ol-decimal > .opt-text14 > li, .ol-decimalZero > .opt-text14 > li, .opt-bult01 > .opt-text14 > li, .opt-bult02 > .opt-text14 > li, .opt-bult03 > .opt-text14 > li {
  font-size: 15px;
  line-height: 21px; }

.opt-text13, .ol-decimal > .opt-text13 > li, .ol-decimalZero > .opt-text13 > li, .opt-bult01 > .opt-text13 > li, .opt-bult02 > .opt-text13 > li, .opt-bult03 > .opt-text13 > li {
  font-size: 14px;
  line-height: 20px; }

@media all and (min-width: 768px) {
  .opt-text28 {
    font-size: 24px;
    line-height: 32px; }
  .opt-text24 {
    font-size: 22px;
    line-height: 30px; }
  .opt-text20 {
    font-size: 18px;
    line-height: 26px; }
  .opt-text16, .ol-decimal > .opt-text16 > li, .ol-decimalZero > .opt-text16 > li, .opt-bult01 > .opt-text16 > li, .opt-bult02 > .opt-text16 > li, .opt-bult03 > .opt-text16 > li {
    font-size: 16px;
    line-height: 24px; }
  .opt-text14, .ol-decimal > .opt-text14 > li, .ol-decimalZero > .opt-text14 > li, .opt-bult01 > .opt-text14 > li, .opt-bult02 > .opt-text14 > li, .opt-bult03 > .opt-text14 > li {
    font-size: 14px;
    line-height: 21px; }
  .opt-text13, .ol-decimal > .opt-text13 > li, .ol-decimalZero > .opt-text13 > li, .opt-bult01 > .opt-text13 > li, .opt-bult02 > .opt-text13 > li, .opt-bult03 > .opt-text13 > li {
    font-size: 13px;
    line-height: 20px; } }

@media all and (min-width: 1024px) {
  .opt-text28 {
    font-size: 28px;
    line-height: 36px; }
  .opt-text24 {
    font-size: 24px;
    line-height: 31px; }
  .opt-text20 {
    font-size: 20px;
    line-height: 28px; } }

.ol-decimal .opt-text-bold > li,
.ol-decimalZero .opt-text-bold > li,
.opt-bult01 .opt-text-bold > li,
.opt-bult02 .opt-text-bold > li,
.opt-bult03 .opt-text-bold > li {
  font-weight: bold; }

.ol-decimal > ol, .ol-decimal > ol > li {
  list-style-position: outside;
  padding-left: 5px;
  margin-left: 15px;
  list-style: decimal; }

.ol-decimalZero > ol, .ol-decimalZero > ol > li {
  list-style-position: outside;
  text-indent: 10px;
  margin-left: 11px;
  list-style: decimal-leading-zero; }

.opt-bult01 > ul > li {
  font-weight: normal;
  background-image: url("/content/dam/DEO/author/common_ico/opt-bult-dot.svg");
  background-repeat: no-repeat; }

.opt-bult01 > .opt-text16 > li, .ol-decimal > .opt-text16.opt-bult01 > li > li, .ol-decimalZero > .opt-text16.opt-bult01 > li > li, .opt-bult01 > .opt-text16.opt-bult01 > li > li, .opt-bult02 > .opt-text16.opt-bult01 > li > li, .opt-bult03 > .opt-text16.opt-bult01 > li > li {
  background-position: 0 10px;
  -webkit-background-size: 5px 5px;
  background-size: 5px 5px;
  padding-left: 15px; }

.opt-bult01 > .opt-text14 > li, .ol-decimal > .opt-text14.opt-bult01 > li > li, .ol-decimalZero > .opt-text14.opt-bult01 > li > li, .opt-bult01 > .opt-text14.opt-bult01 > li > li, .opt-bult02 > .opt-text14.opt-bult01 > li > li, .opt-bult03 > .opt-text14.opt-bult01 > li > li {
  background-position: 0 9px;
  -webkit-background-size: 5px 5px;
  background-size: 5px 5px;
  padding-left: 15px; }

.opt-bult01 > .opt-text13 > li, .ol-decimal > .opt-text13.opt-bult01 > li > li, .ol-decimalZero > .opt-text13.opt-bult01 > li > li, .opt-bult01 > .opt-text13.opt-bult01 > li > li, .opt-bult02 > .opt-text13.opt-bult01 > li > li, .opt-bult03 > .opt-text13.opt-bult01 > li > li {
  background-position: 0 8px;
  -webkit-background-size: 4px 4px;
  background-size: 4px 4px;
  padding-left: 10px; }

.opt-bult02 > ul > li {
  font-weight: normal;
  background-image: url("/content/dam/DEO/author/common_ico/opt-bult-dash.svg");
  background-repeat: no-repeat; }

.opt-bult02 > .opt-text16 > li, .ol-decimal > .opt-text16.opt-bult02 > li > li, .ol-decimalZero > .opt-text16.opt-bult02 > li > li, .opt-bult01 > .opt-text16.opt-bult02 > li > li, .opt-bult02 > .opt-text16.opt-bult02 > li > li, .opt-bult03 > .opt-text16.opt-bult02 > li > li {
  background-position: 0 9px;
  -webkit-background-size: 5px 1px;
  background-size: 5px 1px;
  padding-left: 15px; }

.opt-bult02 > .opt-text14 > li, .ol-decimal > .opt-text14.opt-bult02 > li > li, .ol-decimalZero > .opt-text14.opt-bult02 > li > li, .opt-bult01 > .opt-text14.opt-bult02 > li > li, .opt-bult02 > .opt-text14.opt-bult02 > li > li, .opt-bult03 > .opt-text14.opt-bult02 > li > li {
  background-position: 0 10px;
  -webkit-background-size: 5px 1px;
  background-size: 5px 1px;
  padding-left: 15px; }

.opt-bult02 > .opt-text13 > li, .ol-decimal > .opt-text13.opt-bult02 > li > li, .ol-decimalZero > .opt-text13.opt-bult02 > li > li, .opt-bult01 > .opt-text13.opt-bult02 > li > li, .opt-bult02 > .opt-text13.opt-bult02 > li > li, .opt-bult03 > .opt-text13.opt-bult02 > li > li {
  background-position: 0 9px;
  -webkit-background-size: 4px 1px;
  background-size: 4px 1px;
  padding-left: 10px; }

.opt-bult03 > ul > li {
  font-weight: normal;
  background-image: url("/content/dam/DEO/author/common_ico/opt-bult-info.svg");
  background-repeat: no-repeat; }

.opt-bult03 > .opt-text16 > li, .ol-decimal > .opt-text16.opt-bult03 > li > li, .ol-decimalZero > .opt-text16.opt-bult03 > li > li, .opt-bult01 > .opt-text16.opt-bult03 > li > li, .opt-bult02 > .opt-text16.opt-bult03 > li > li, .opt-bult03 > .opt-text16.opt-bult03 > li > li {
  background-position: 0 5px;
  -webkit-background-size: 10px 10px;
  background-size: 12px 12px;
  padding-left: 18px; }

.opt-bult03 > .opt-text14 > li, .ol-decimal > .opt-text14.opt-bult03 > li > li, .ol-decimalZero > .opt-text14.opt-bult03 > li > li, .opt-bult01 > .opt-text14.opt-bult03 > li > li, .opt-bult02 > .opt-text14.opt-bult03 > li > li, .opt-bult03 > .opt-text14.opt-bult03 > li > li {
  background-position: 0 4px;
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
  padding-left: 18px; }

.opt-bult03 > .opt-text13 > li, .ol-decimal > .opt-text13.opt-bult03 > li > li, .ol-decimalZero > .opt-text13.opt-bult03 > li > li, .opt-bult01 > .opt-text13.opt-bult03 > li > li, .opt-bult02 > .opt-text13.opt-bult03 > li > li, .opt-bult03 > .opt-text13.opt-bult03 > li > li {
  background-position: 0 4px;
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
  padding-left: 18px; }
