<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/inter-section/paging/styles.css -->

<div class="paging web-view">
    <a href="#lnk" class="page-prev default">이전</a>
    <div>
        <a href="#lnk" class="active">1</a>
        <a href="#lnk">2</a>
        <a href="#lnk">3</a>
        <a href="#lnk">4</a>
        <a href="#lnk">5</a>
        <a href="#lnk">6</a>
        <a href="#lnk">7</a>
        <a href="#lnk">8</a>
        <a href="#lnk">9</a>
        <a href="#lnk">10</a>
    </div>
    <a href="#lnk" class="page-next">다음</a>
</div>

<div class="paging mobile-view">
    <a href="#lnk" class="page-prev default">이전</a>
    <div>
        <a href="#lnk" class="active">1</a>
        <a href="#lnk">2</a>
        <a href="#lnk">3</a>
        <a href="#lnk">4</a>
    </div>
    <a href="#lnk" class="page-next">다음</a>
</div>

<!-- COMPONENT END -->