<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/inter-section/small-product-module/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="small-product-module">
            <div class="bg-gray">
                <div class="product-table">
                    <div class="module-title"> <strong>기타 상품 관련 안내</strong> <span>기타 상품에 대한 더 자세한 정보를 확인하실 수 있습니다.</span> </div>
                    <div class="module-box">
                        <a href="#lnk"> <span class="module-text" style="background-image:url(/content/dam/DEO/author/common_ico/ico_death.svg)">
                        공지사항
                    </span> </a>
                    </div>
                    <div class="module-box">
                        <a href="#lnk"> <span class="module-text" style="background-image:url(/content/dam/DEO/author/common_ico/ico_death.svg)">
                        고객신용 정보관리
                    </span> </a>
                    </div>
                    <div class="module-box">
                        <a href="#lnk"> <span class="module-text" style="background-image:url(/content/dam/DEO/author/common_ico/ico_death.svg)">
                        펀드매매(WTS)
                    </span> </a>
                    </div>
                    <div class="module-box">
                        <a href="#lnk"> <span class="module-text" style="background-image:url(/content/dam/DEO/author/common_ico/ico_death.svg)">
                        수익증권문의
                    </span> </a>
                    </div>
                    <div class="module-box">
                        <a href="#lnk"> <span class="module-text" style="background-image:url(/content/dam/DEO/author/common_ico/ico_death.svg)">
                        펀드FAQ
                    </span> </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- // CONTENT-->
    </body>

</html>