<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/global/aside/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="header-aside-wrap">
            <div class="header-aside-login aside-design"> <a href="#lnk"><span>로그인</span></a> </div>
            <div class="header-aside-disclosure aside-design"> <a href="#lnk"><span>공시실</span></a> </div>
        </div>
        <!-- // CONTENT-->
    </body>

</html>