<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/common/layout/main-category/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="main-category" data-cat-type="main">
            <div class="main-cat-list">
                <ul class="main-cat-listwrap">
                    <li><a href="#lnk1" class="main-menu"><span>상품소개</span></a>
                        <div class="main-cat-submenu">
                            <div class="main-cat-submenu-list">
                                <ul class="cat-prd">
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">사망보장보험</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">건강보장보험</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">연금보험</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">기타상품</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">퇴직연금</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">가입상담문의</span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#lnk1" class="main-menu"><span>혜택서비스</span></a>
                        <div class="main-cat-submenu">
                            <div class="main-cat-submenu-list">
                                <ul>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>노블리치센터</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>TOP고객서비스</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>헬스케어서비스</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>MetLife Café</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>Life &amp; Health</span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#lnk1" class="main-menu"><span>고객센터</span></a>
                        <div class="main-cat-submenu">
                            <div class="main-cat-submenu-list">
                                <ul class="cat-center">
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">공지/이벤트</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">유용한정보</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">지점안내</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">고객의소리</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">보험금청구안내</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span class="text">보험범죄신고센터</span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#lnk1" class="main-menu"><span>MetLife소개</span></a>
                        <div class="main-cat-submenu">
                            <div class="main-cat-submenu-list">
                                <ul>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>회사소개</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>Agent소개</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>브랜드</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>사회공헌</span> </a>
                                    </li>
                                    <li>
                                        <a href="#lnk_dep2"> <span><img src="/content/dam/DEO/author/common_ico/ico-prd1.png" alt=""></span> <span>인재채용</span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // CONTENT-->
        <script type="text/javascript" charset="utf-8" src="/apps/DEO/components/common/layout/main-category/scripts.js"></script>
    </body>

</html>