/* css folder ##newsroom/view/view-text/view-img## */
/* css folder ##newsroom/view/view-img## */
.news-file {
  position: relative; }
  .news-file a {
    font-size: 14px;
    font-weight: bold;
    color: #0061a0;
    padding-left: 25px;
    height: 20px;
    line-height: 22px; }
    .news-file a:after {
      width: 19px;
      height: 20px;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("./images/ico_doc.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover; }
  .news-file a.ico-word:after {
    background-position: -19px 0; }
  .news-file a.ico-excel:after {
    background-position: -38px 0; }
  .news-file a.ico-ppt:after {
    background-position: -57px 0; }

.new-view-back {
  display: inline-block; }
  .new-view-back a {
    display: block;
    padding: 0 0 0 10px;
    background: url("./images/ico_back_ar.svg") 0 50% no-repeat;
    -webkit-background-size: 4px 5px;
    background-size: 4px 5px; }
    .new-view-back a span {
      font-size: 11px;
      line-height: 15px;
      font-weight: bold;
      color: #0e5dae;
      border-bottom: 1px solid #0e5dae; }

.news-view {
  padding: 25px 20px; }

.news-view-con .date {
  display: block;
  padding-bottom: 20px;
  font-size: 13px; }

.news-view-con .news-file {
  padding-bottom: 25px; }

.news-view-con .news-file-kb {
  display: block;
  padding: 5px 0 0 25px;
  font-size: 14px; }

.news-view-con .news-view-header {
  padding-bottom: 25px; }
  .news-view-con .news-view-header .news-view-heading {
    padding: 30px 0 20px;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    color: #000; }
  .news-view-con .news-view-header .new-view-subcopy {
    font-size: 16px;
    line-height: 22px; }

.new-view-image {
  width: 100%; }
  .new-view-image > img {
    width: 100%;
    padding-bottom: 10px; }
  .new-view-image > p {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    padding-bottom: 25px; }

@media all and (min-width: 768px) {
  .new-view-back a span {
    font-size: 12px;
    background-size: 4px 7px;
    line-height: 19px; }
  .news-view {
    padding: 40px 20px; }
  .news-view-con .date {
    font-size: 14px; }
  .news-view-con .news-file {
    padding-bottom: 22px; }
    .news-view-con .news-file a {
      font-size: 13px; }
    .news-view-con .news-file span {
      font-size: 13px; }
  .news-view-con .news-file-kb {
    display: inline-block;
    padding: 0;
    font-size: 13px; }
  .news-view-con .news-view-header {
    padding-bottom: 20px; }
    .news-view-con .news-view-header .news-view-heading {
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 20px; }
    .news-view-con .news-view-header .new-view-subcopy {
      font-size: 16px;
      line-height: 24px; }
  .new-view-image {
    width: 57%;
    max-width: 440px;
    margin: 0 auto; }
    .new-view-image > p {
      font-size: 13px;
      line-height: 18px;
      padding-bottom: 35px; } }

@media all and (min-width: 1024px) {
  .news-view {
    width: 85%;
    max-width: 880px;
    padding: 50px 0;
    margin: 0 auto; }
  .news-view-con .date {
    padding-bottom: 20px; }
  .news-view-con .news-file {
    padding-bottom: 25px; }
    .news-view-con .news-file a {
      font-size: 13px; }
    .news-view-con .news-file span {
      font-size: 13px; }
  .news-view-con .news-file-kb {
    font-size: 13px; }
  .news-view-con .news-view-header {
    padding-bottom: 25px; }
    .news-view-con .news-view-header .news-view-heading {
      font-size: 28px;
      line-height: 36px;
      padding-bottom: 30px; }
    .news-view-con .news-view-header .new-view-subcopy {
      font-size: 16px;
      line-height: 24px; }
  .new-view-image {
    width: 86%;
    max-width: 660px;
    margin: 0 auto; }
    .new-view-image > p {
      padding-bottom: 25px;
      font-size: 13px;
      line-height: 21px;
      color: #666; } }
