/* css folder ##newsroom## */
.news-file {
  position: relative; }
  .news-file a {
    font-size: 11px;
    font-weight: bold;
    color: #2377c5;
    padding-left: 25px;
    height: 20px;
    line-height: 20px; }
    .news-file a:after {
      width: 19px;
      height: 20px;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("./images/ico_doc.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover; }
  .news-file a.ico-word:after {
    background-position: -19px 0; }
  .news-file a.ico-excel:after {
    background-position: -38px 0; }
  .news-file a.ico-ppt:after {
    background-position: -57px 0; }
