@charset "utf-8";

/* css folder ##newsroom/all## */

@import "system/styles/basicset.scss";
@import "system/styles/mixin.scss";

.news-file {
	position: relative;
	& a {
		font-size:11px;
		font-weight:bold;
		color: $pointColor1;
		padding-left:25px;
		height:20px;
		line-height:20px;
		&:after {
			width:19px;
			height:20px;
			content:'';
			position: absolute;
			left:0;
			top:0;

			background-image: url('./images/ico_doc.png');
			background-repeat: no-repeat;
			-webkit-background-size:cover;
			background-size:cover;
		}
	}
	& a.ico-word:after { background-position: -19px 0; }
	& a.ico-excel:after { background-position: -38px 0; }
	& a.ico-ppt:after { background-position: -57px 0; }
}


.news-file {
	position: relative;
	& a {
		font-size:11px;
		font-weight:bold;
		color: $pointColor1;
		padding-left:25px;
		height:20px;
		line-height:20px;
		&:after {
			width:19px;
			height:20px;
			content:'';
			position: absolute;
			left:0;
			top:0;

			background-image: url('./images/ico_doc.png');
			background-repeat: no-repeat;
			-webkit-background-size:cover;
			background-size:cover;
		}
	}
	& a.ico-word:after { background-position: -19px 0; }
	& a.ico-excel:after { background-position: -38px 0; }
	& a.ico-ppt:after { background-position: -57px 0; }
}



.new-view-back {
	display: inline-block;
	& a {
		display: block;
		padding:24px 0 24px 10px;
		background: url('./images/ico_back_ar.png') 0 50% no-repeat;
		-webkit-background-size:4px 5px;
		background-size:4px 5px;
		& span {
			font-size:11px;
			font-weight:bold;
			color: $pointColor2;
			border-bottom:1px solid $pointColor2;
		}
	}
}

.news-view {
	padding:0 20px;
}

.news-view-heading {
	font-size:17px;
	font-weight:bold;
	padding-bottom:27px;
	color: #000;
}



.news-view-con {
	& .date {
		display: block;
		padding-bottom:20px;
	}
	& .news-file {
		padding-bottom:25px;
	}
	& .news-file-kb {
		font-size:11px;
	}
	&>p {
		padding-bottom:25px;
		color: #333333;
		font-size:12px;
		line-height:20px;
	}
	&>p.new-view-subcopy {
		font-size:12px;
		line-height:20px;
		padding-bottom:25px;
	}
}

@media all and(min-width:768px) {


	.new-view-back {
		& a {
			padding:30px 0 30px 10px;
			& span {
				font-size:12px;
			}
		}
	}


	.news-view {
		padding:0 20px;
	}

	.news-view-heading {
		font-size:24px;
		line-height:36px;
		padding-bottom:30px;
	}

	.news-view-con {
		& .date {
			font-size:14px;
		}
		& .news-file {
			padding-bottom:40px;
			& a {
				font-size:12px;
			}
			& span {
				font-size:12px;
			}
		}
		& .news-file-kb {
			font-size:12px;
		}
		&>p {
			padding-bottom:30px;
			font-size:13px;
		}
		&>p.new-view-subcopy {
			font-size:16px;
			line-height:24px;
			padding-bottom:30px;
		}
	}
}

@media all and(min-width:1024px) {



	.new-view-back {
		padding:10px 0 30px 0;
		& a {
			padding:0 0 0 10px;
		}
	}

	.news-view {
		width:85%;
		max-width:880px;
		padding:40px 0 30px 0;
		margin:0 auto;
	}

	.news-view-heading {
		font-size:27px;
		line-height:36px;
		padding-bottom:35px;
	}

	.news-view-con {
		& .date {
			padding-bottom:22px;
		}
		& .news-file {
			& a {
				font-size:13px;
			}
			& span {
				font-size:13px;
			}
		}
		& .news-file-kb {
			font-size:13px;
		}
		&>p {
			padding-bottom:30px;
			font-size:14px;
			line-height:21px;
		}
		&>p.new-view-subcopy {
			font-size:18px;
			line-height:27px;
			padding-bottom:33px;
		}
	}
}