<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/newsroom/list/styles.css -->

<div class="comp-container">
    <div class="news-list">
        <h3 class="news-heading">뉴스 업데이트</h3>
        <ul>
            <li>
                <div class="news-list-con">
                    <span class="screen_out">작성일 : </span> <span class="date">2016-06-25</span>
                    <span class="screen_out">제목 : </span> <span class="title"><a href="#lnk">메트라이프생명, 자원봉사활동 장려 위한 휴가 제도 도입</a></span>
                </div>
                <div class="news-file">
                    <a href="#lnk" class="ico-pdf">지원서류안내.PDF</a>
					<span>(PDF -128kb)</span>
				</div>
            </li>
            <li>
                <div class="news-list-con">
                    <span class="screen_out">작성일 : </span> <span class="date">2016-06-25</span>
                    <span class="screen_out">제목 : </span> <span class="title"><a href="#lnk">메트라이프생명, 자원봉사활동 장려 위한 휴가 제도 도입</a></span>
                </div>
                <div class="news-file">
                    <a href="#lnk" class="ico-word">지원서류안내.DOC</a>
					<span>(PDF -128kb)</span>
				</div>
            </li>
            <li>
                <div class="news-list-con">
                    <span class="screen_out">작성일 : </span> <span class="date">2016-06-25</span>
                    <span class="screen_out">제목 : </span> <span class="title"><a href="#lnk">메트라이프생명, 자원봉사활동 장려 위한 휴가 제도 도입</a></span>
                </div>
                <div class="news-file">
                    <a href="#lnk" class="ico-excel">지원서류안내.XLS</a>
                    <span>(PDF -128kb)</span>
                </div>
            </li>
            <li>
                <div class="news-list-con">
                    <span class="screen_out">작성일 : </span> <span class="date">2016-06-25</span>
                    <span class="screen_out">제목 : </span> <span class="title"><a href="#lnk">메트라이프생명, 자원봉사활동 장려 위한 휴가 제도 도입</a></span>
                </div>
                <div class="news-file">
                    <a href="#lnk" class="ico-ppt">지원서류안내.PPT</a>
					<span>(PDF -128kb)</span>
				</div>
            </li>
            <li>
                <div class="news-list-con">
                    <span class="screen_out">작성일 : </span> <span class="date">2016-06-25</span>
                    <span class="screen_out">제목 : </span> <span class="title"><a href="#lnk">메트라이프생명, 자원봉사활동 장려 위한 휴가 제도 도입</a></span>
                </div>
            </li>
            <li>
                <div class="news-list-con">
                    <span class="screen_out">작성일 : </span> <span class="date">2016-06-25</span>
                    <span class="screen_out">제목 : </span> <span class="title"><a href="#lnk">메트라이프생명, 자원봉사활동 장려 위한 휴가 제도 도입</a></span>
                </div>
            </li>
            <li>
                <div class="news-list-con">
                    <span class="screen_out">작성일 : </span> <span class="date">2016-06-25</span>
                    <span class="screen_out">제목 : </span> <span class="title"><a href="#lnk">메트라이프생명, 자원봉사활동 장려 위한 휴가 제도 도입</a></span>
                </div>
            </li>
        </ul>


        <div class="news-list-more">
            <button type="button">더보기</button>
        </div>
    </div>
</div>

<!-- COMPONENT END -->