<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/newsroom/list/styles.css -->

<div class="news-list">
    <form action="?">
        <fieldset>
            <legend class="screen_out">보도자료 검색</legend>

            <div class="news-search">

                {% import paths.apps + "/common/extend/macro-select/index.html" as forms %}
                <div class="slt-half">
                    <div class="half">
                        <label for="yearSlt">연도</label>
                        {{ forms.select_type2("yearSlt", [
                        {text : "2016", val : "2016"},
                        {text : "2015", val : "2015"}
                        ], "name")}}
                    </div>
                    <div class="half">
                        <label for="monthSlt">월</label>
                        {{ forms.select_type2("monthSlt", [
                        {text : "전체", val : "전체"},
                        {text : "12", val : "12"}
                        ], "name")}}
                    </div>
                </div>
                <div class="slt-extend">
                    <label class="screen_out" for="categorySlt">분류</label>
                    {{ forms.select_type2("categorySlt", [
                    {text : "전체", val : "전체"}
                    ], "name")}}
                    <div>
                        {% import paths.apps + "/common/extend/macro-button/index.html" as btn %}
                        {{ btn.button("검색", "submit", color="green") }}
                    </div>
                </div>

            </div>
        </fieldset>
    </form>

    {% set innerdata = resultCont %}
	{% include paths.apps + "/newsroom/list/result-content/index.html" %}

</div>

<!-- COMPONENT END -->