@charset "utf-8";

/* css folder ##newsroom/list## */

@import "system/styles/basicset.scss";
@import "system/styles/mixin.scss";


.news-file {
	width:100%;
	position: relative;
	& a {
		font-size:14px;
		font-weight:bold;
		color: $pointColor1;
		padding-left:25px;
		height:20px;
		line-height:20px;
		&:after {
			width:19px;
			height:20px;
			content:'';
			position: absolute;
			left:0;
			top:0;

			background-image: url('./images/ico_doc.png');
			background-repeat: no-repeat;
			-webkit-background-size:cover;
			background-size:cover;
		}
	}
	& a.ico-word:after { background-position: -19px 0; }
	& a.ico-excel:after { background-position: -38px 0; }
	& a.ico-ppt:after { background-position: -57px 0; }
}

.news-list-more {
	text-align: center;
	& button {
		display: inline-block;
		font-size:14px;
		font-weight:bold;
		color: $pointColor1;
		padding:20px 30px 20px 15px;
		text-align: left;
		background: url('./images/ico_more.png') right 15px center no-repeat;
		-webkit-background-size:7px;
		background-size:7px;
	}
}

.news-heading {
	color: #000;
	font-size:22px;
	font-weight:bold;
	padding-left:20px;
	padding-bottom:10px;
}

.news-list {
	margin:0 auto;
	padding:20px 0 0 0;
	& ul {
		width:100%;
		border-top:1px solid #cccccc;
		& li {
			padding:15px 20px;
			width:100%;
			border-bottom:1px solid #cccccc;
		}
	}
}

.news-list-con {
	width:100%;
	& .date, & .title {
		display: block;
		width:100%;
	}
	& .date {
		font-size:13px;
		padding-bottom:12px;
		color: #333;
	}
	& .title {
		padding-bottom:12px;
		& a {
			font-size:16px;
			line-height:22px;
			color: $pointColor1;
		}
	}
}


@media all and(min-width:768px) {

	.news-list-more {
		margin-bottom:20px;
		& button {
			font-size:16px;
			padding:20px 30px 20px 15px;
		}

	}

	.news-heading {
		font-size:20px;
		padding:0 0 12px 20px;
	}

	.news-list {
		width:95%;
		padding:40px 0 0 0;
		& ul {

			padding:0;

			& li {
				position: relative;
				padding:20px;
			}
		}
	}

	.news-list-con {
		& .date {
			font-size:14px;
		}
		& .title {
			padding-bottom:0;
			& a {
				font-size:16px;
				line-height:20px;
			}
		}
	}

	.news-file {
		width:auto;
		position: absolute;
		right:20px;
		top:50%;
		margin-top:-18px;
		& a {
			display: block;
			font-size:14px;
			margin-bottom:3px;
		}
		& span {
			display: block;
			text-align: right;
			color: #333333;
		}
	}

}

@media all and(min-width:1024px) {

	.news-list-more {
		margin-bottom:33px;
	}

	.news-list {
		width:85%;
		max-width:880px;
		padding-top:50px;
		& ul {
			padding:0;
		}

		& .date {
			font-size:13px;
		}
	}

	.news-file {
		margin-top:-16px;
		& a {
			font-size:13px;
		}
		& span {
			font-size:13px;
		}
	}

}