@charset "utf-8";

/* css folder ##newsroom/list## */

.news-list{
	.result-list{
		padding-top:20px;
	}
}

.news-search{
	padding: 21px 10px 0 10px;

	.slt-half{
		margin-left: -16px;
		&:after{
			content:"";
			display: block;
			clear: both;
		}
		.half{
			float: left;
			width: 50%;
			padding-left: 16px;
			label{
				display: inline-block;
				margin-bottom:7px;
				font-size: 16px;
				color: #333;
			}
		}
	}

	.slt-extend{
		position: relative;
		padding: 10px 80px 0 0;
		.btn-basic{
			position:absolute;
			right: 0;
			top: 10px;
			padding: 13px 20px 12px;
		}
	}
}

@media all and(min-width:768px) {

	.news-list{
		.result-list{
			padding-top:40px;
		}
	}
	.news-search{
		width: 85%;
		margin: 0 auto;
		padding-top:40px;
		&:after{
			content:"";
			display: block;
			clear: both;
		}

		& .slt-half, & .slt-extend{
			float: left;
			width: 50%;
		}
		.slt-extend{
			padding: 0 80px 0 10px;
			.btn-basic{
				top:0;
			}
		}
		.slt-half{
			margin-left: -15px;
			.half{
				padding-left: 15px;
				label{
					float: left;
					margin-bottom: 0;
					padding-right:10px;
					line-height: 40px;
				}
				.slt-wrap{
					float:left;
					width:82%;
				}
				&:first-child .slt-wrap{
					width:71%;
				}
			}
		}
	}

}

@media all and(min-width:1024px) {

	.news-search{
		width: 70%;
		max-width: 610px;
		margin: 0 auto;
		.slt-half{
			margin-left: -15px;
			.half{
				.slt-wrap{
					width:79%;
				}
				&:first-child{
					padding-left: 0;
					.slt-wrap{
						width:72%;
					}
				}
			}
		}
	}
}