<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/common/layout/sub-category/styles.css -->
<!-- #js# /apps/DEO/components/common/layout/sub-category/scripts.js -->


{% set subCategory = subCategory %}

<div class="sub-category">
    <div class="sub-cat-backbtn">
        <button type="button"><span>상품소개</span></button>
    </div>
    <div class="sub-cat-list">
        <ul class="sub-cat-listwrap">
            {% for menulist in subCategory.innerMenu %}

            {% if loop.index0 == subCategory.active %}
                <li class="active"><a href="{{ menulist.href }}" {% if menulist.title %} title="{{menulist.title}}" target="_blank" {% endif%}><span>{{ menulist.text }}</span></a></li>
            {% else %}
                <li><a href="{{ menulist.href }}" {% if menulist.title %} title="{{menulist.title}}" target="_blank" {% endif%}><span>{{ menulist.text }}</span></a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<!-- COMPONENT END -->