<!-- COMPONENT START -->
<!-- #comp css# /apps/DEO/components/find-an-office/find-map-content/styles.css -->

<div class="find-map">

    <!-- 임시 -->
    <div class="map-area web-view tablet-view"><img src="{{ paths.author }}/@temp/map1.jpg" style="width:100%; height:100%;" alt=""></div>
    <div class="map-area mobile-view"><img src="{{ paths.author }}/@temp/map2.jpg" style="width:100%; height:100%;" alt=""></div>
    <div class="map-area" style="display:none">지도들어옴</div>
    <!-- //임시 -->

    <h3 class="map-con-info">지점운영시간</h3>
    <ul class="map-con-list">
        <li>업무시간 : 오전 9시 ~ 오후 6시</li>
        <li>점심시간 : 오전 12시 ~ 오후 1시<br>※ 점심시간은 업무처리 불가, 고객플라자는 정산운영합니다.</li>
        <li>제지급금 접수시간(대출, 해약, 분할 보험금, 배당등) : 오전 9시 ~ 오후 4시<br>※ 오후 4시 이후 접수 건은 익영업일 지급됨</li>
        <li>수익증권 업무는 고객플라자에서만 가능합니다.</li>
    </ul>
</div>

<!-- COMPONENT END -->