@charset "utf-8";

/* css folder ##home/life-stages## */

@import "system/styles/basicset.scss";

.life-stages {
	padding:0 0 15px 0;
}
.life-stage-heading{
	padding-bottom:15px;
	font-size:22px;
	font-weight:normal;
	line-height:28px;
	text-align:center;
}
.life-stages .ui-slide-content > ul {
	display: block;
	&:after {
		clear:both;
		content:'';
		display: block;
	}
}
.life-stages ul li a {
	display: block;
	margin-bottom:15px;
}
.life-stages ul li a:focus {
	border:none;
}
.life-stages-title {
	display: block;
	background-position: 50% 30px;
	-webkit-background-size:60px;
	-ms-background-size:60px;
	background-size:60px;
	background-repeat:no-repeat;
	width:100%;
	text-align: center;
	padding:100px 0 30px 0;
	font-size:20px;
	font-weight:bold;
	color: #7a9816;
}
.life-stages ul li a.active {
	background-color: #edf6cf;
	position: relative;
	&:after {
		position: absolute;
		bottom:-14px;
		left:0;
		width:100%;
		height:14px;
		content:'';
		background: url('./images/active-ar.png') 50% 0 no-repeat;
		-webkit-background-size:20px 14px;
		background-size:20px 14px;
	}

}
.life-stages-content { display: none; }
.life-stages-content.active{ display: block; }
.life-stages .ui-slide-direct  {
	width:50px;
	& > button {
		height: 150px;
	}
	& .ui-slide-next {
		-webkit-background-position: right 20px center;
		background-position: right 20px center;
	}
	& .ui-slide-prev {
		-webkit-background-position: 20px center;
		background-position: 20px center;
	}

}

.life-stages .life-stages-column {
	& dl {
		padding:20px 0;
		width:80%;
		margin:0 auto;
		text-align: center;
		& dt {
			font-weight:bold;
			padding-bottom:20px;
			font-size:17px;
			line-height:23px;
			color: #333;

		}
		& dd {
			font-size:15px;
			line-height:21px;
			color: #333;
		}
	}

	& .life-stage-linkwarp>.btn-basic {
		text-align: center;
		width:100%;
		margin-bottom:15px;
		padding:13px 0;
	}
	&:last-child {
		padding:0 20px;
	}
}

@media all and (min-width:768px) {

	.life-stages {
		padding:30px 0 0 0;
		max-width:1100px;
		margin:0 20px;
	}
	.life-stage-heading{
		padding-bottom:30px;
		font-size:27px;
	}
	.life-stages-title {
		display: block;
		background-position: 50% 32px;
		padding:104px 0 40px 0;
		font-size:16px;
	}
	.life-stages ul li a.active {
		&:after {
			bottom:-15px;
			height:15px;
			-webkit-background-size:20px 15px;
			background-size:20px 15px;
		}

	}
	.life-stages .ui-slide-direct  {
		& > button {
			height: 160px;
		}

	}

	.life-stages .life-stages-content {
		height: auto;
		&:after {
			clear:both;
			content:'';
			display: block;
		}
	}
	.life-stages .life-stages-content.active {
		display: table;
		font-size:0;
		min-height:304px;
		width:100%;
	}


	.life-stages .life-stages-column {
		width:50%;
		height:100%;
		display: table-cell;
		vertical-align: top;
		& dl {
			padding:45px 0 60px 0;
			width:80%;
			margin:0 auto;
			text-align: center;
			& dt {
				font-size:14px;
				line-height:27px;
			}
			& dd {
				font-size:13px;
			}
		}

		& .life-stage-linkwarp{
			width:75%;
			max-width:280px;
			margin:0 auto;
			height:100%;

		}

		& .life-stage-linkwarp>.btn-basic {
			text-align: center;
			width:100%;
			margin-bottom:15px;
			padding:13px 0;
		}

		&:last-child {
			padding:0;
			height:100%;
			vertical-align: middle;
			background: url('./images/colbg.png') 0 50% no-repeat;
		}
	}

}



@media all and (min-width:1024px) {
	.life-stages{
		margin:0 auto;
	}
	.life-stages .ui-slide-direct { display: none; }

	.life-stages .life-stages-column {
		& dl {
			padding:50px 0 90px 0;
			& dt {
				font-size:18px;
			}
			& dd {
				font-size:14px;
				line-height:21px;
			}
		}
		& .life-stage-linkwarp>.btn-basic {
			margin-bottom:18px;
		}
	}
}