.general-column {
  margin: 0 auto; }
  .general-column .tab-drop-listwrap {
    margin-top: 0; }
  .general-column .search-container .search-select {
    padding-bottom: 0; }

@media all and (min-width: 768px) {
  .general-column {
    max-width: 880px;
    margin: 0 auto; } }

@media all and (min-width: 1024px) {
  .general-column {
    margin: 0 auto; } }
