<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/general-content/general-content-vision/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="general-content-vision">
            <div class="base-heading">
                <h3 class="opt-text28 opt-text-bold opt-pb40 text-align-c">메트라이프생명의 비전</h3> </div>
            <div class="base-text">
                <p class="opt-text16 opt-pb20">메트라이프는 지금껏 우리가 근간을 만들어 온 이 산업에 대하여 이제는 글로벌 혁신을 주도하고 있습니다. 잘 갖춰진 팀웍을 바탕으로 우리는 잠재된 역량을 실현할 준비가 되어 있습니다. 공동의 목적에 대해 다양한 관점으로 우리는 고객들의 더 나은 삶을 위하여 최선을 다해 노력합니다.</p>
            </div>
            <div class="general-vision-img">
                <div class="base-img">
                    <div class="img-container">
                        <div class="img-cont"><img src="/content/dam/DEO/author/general-content/img2-1.png" alt="MetLife 이미지"></div>
                    </div>
                </div>
                <div class="base-img">
                    <div class="img-container">
                        <div class="img-cont"><img src="/content/dam/DEO/author/general-content/img2-2.png" alt="MetLife 이미지"></div>
                    </div>
                </div>
                <div class="base-img">
                    <div class="img-container">
                        <div class="img-cont"><img src="/content/dam/DEO/author/general-content/img2-3.png" alt="MetLife 이미지"></div>
                    </div>
                </div>
            </div>
            <div class="base-heading">
                <h3 class="opt-text28 opt-text-bold opt-pb40 text-align-c">메트라이프생명의 4가지 가치</h3> </div>
            <div class="general-tiles-wrap">
                <ul>
                    <li>
                        <div class="general-tiles">
                            <dl class="value1" style="background-image: url('/content/dam/DEO/author/general-content/ico_vision1.svg')"> <dt><div class="general-title"><span class="txt-eng">Put Customers First</span>고객 최우선 주의</div></dt>
                                <dd>우리가 하는 모든 일의 중심에는 고객에 대한 배려와 존중이 있습니다. 이를 통해 우리의 업무가 정의되고, 기업문화를 형성하여 주주 및 지역 사회로 확대해 나갑니다.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="general-tiles">
                            <dl class="value1" style="background-image: url('/content/dam/DEO/author/general-content/ico_vision2.svg')"> <dt><div class="general-title"><span class="txt-eng">Be the Best</span>최고의 입지 구축</div></dt>
                                <dd>우리는 끊임없이 새롭고 더 나은 업무 방식을 모색하고 있습니다. 업계를 선도하는 기업으로서, 우리는 지속적으로 성과 기준을 높이고 예측된 위험을 감수하고 실수로부터 빠르게 많은 것을 배워 나갑니다.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="general-tiles">
                            <dl class="value1" style="background-image: url('/content/dam/DEO/author/general-content/ico_vision3.svg')"> <dt><div class="general-title"><span class="txt-eng">Make Things Easier</span>이해가 쉬운 상품과 서비스 제공</div></dt>
                                <dd>보험 상품은 때로는 이해하기가 어렵습니다. 그러므로 우리는 늘 고객에게 최고의 솔루션을 제공할 수 있는 간소화된 방법을 모색하고 있습니다. 이러한 방식으로 우리는 고객이 기대하는 것 이상을 제공하고 고객과의 신뢰를 구축하는 것을 목표로 합니다.</dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="general-tiles">
                            <dl class="value1" style="background-image: url('/content/dam/DEO/author/general-content/ico_vision4.svg')"> <dt><div class="general-title"><span class="txt-eng">Succeed Together</span>함께하는 성공</div></dt>
                                <dd>우리는 일치된 회사의 목표 아래 정직과 청렴 그리고 다양성 존중이라는 공통의 약속을 늘 지키고 있습니다. 또한 개방적이고 포용적인 태도로 부서나 지위에 상관없이 회사 내 최고의 아이디어가 채택되고 적용 되도록 하고 있습니다.</dd>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // CONTENT-->
    </body>

</html>