/* css folder ##announcement/announcement-tab## */
.announcement-tab {
  width: 100%;
  max-width: 880px; }

.announcement-tab-menu {
  display: table;
  font-size: 0;
  text-align: center;
  padding-bottom: 28px; }
  .announcement-tab-menu button {
    padding: 0 12px 12px 12px;
    display: inline-block;
    color: #0061a0; }
  .announcement-tab-menu button.active {
    font-weight: bold;
    color: #000; }

.announcement-tabsec {
  display: none; }

.announcement-tabsec.active {
  display: block; }
