@charset "utf-8";

@import "system/styles/basicset.scss";

.foot-address {
	padding:20px 0 50px 0;
	border-top:1px solid #CCCCCC;
}


.foot-address-wrap {
	width:95%;
	margin:0 auto;
	&>p {
		font-size:13px;
		text-align: center;
		line-height:18px;
		& span {
			width:100%;
			display: block;
			& strong {
				padding-right:5px;
			}
		}
		& span:first-child {
			padding-right:10px;
		}

		& span.copyright em{
			color: $pointColor2;
		}
	}
	& address {
		font-size:13px;
		text-align: center;
		letter-spacing:-1px;
		font-style: normal;
		padding-bottom:10px;
	}


	.foot-callcenter {
		text-align: center;
		width:100%;
		display: table;
		font-size:0;
		& span {
			padding-right:10px;
			font-size:13px;
			font-weight:bold;
			width:50%;
			color: $pointColor1;
			letter-spacing:-1px;
		}
		padding-bottom:10px;
	}
}

@media all and (min-width:768px) {


	.foot-address {
		border-top:none;
		padding:20px 0 100px 180px;
	}

	.foot-address-wrap {
		width:100%;
		&>p {
			text-align: left;
			& span {
				display: inline;
				font-size:13px;
			}
		}
		.foot-callcenter-wrap {
			padding-bottom:5px;
		}
		& address, .foot-callcenter {
			display: inline;
			width:auto;
			text-align: left;
			font-size:13px;

		}
		.foot-callcenter {
			& span {
				padding:0 0 0 5px;
				font-weight:bold;
				font-size:13px;

			}
		}
	}
}


@media all and (min-width:1024px) {

	.foot-address {
		padding:20px 0 70px 220px;
	}

	.foot-address-wrap {
		&>p {
			& span {
			}
			& span.copyright {
			}
		}
		& address, .foot-callcenter {
		}
		.foot-callcenter {
			& span {
			}
		}
		.foot-callcenter-wrap {
			padding-bottom:20px;

		}
	}
}
