.foot-address {
  padding: 20px 0 50px 0;
  border-top: 1px solid #CCCCCC; }

.foot-address-wrap {
  width: 95%;
  margin: 0 auto; }
  .foot-address-wrap > p {
    font-size: 13px;
    text-align: center;
    line-height: 18px; }
    .foot-address-wrap > p span {
      width: 100%;
      display: block; }
      .foot-address-wrap > p span strong {
        padding-right: 5px; }
    .foot-address-wrap > p span:first-child {
      padding-right: 10px; }
    .foot-address-wrap > p span.copyright em {
      color: #0e5dae; }
  .foot-address-wrap address {
    font-size: 13px;
    text-align: center;
    letter-spacing: -1px;
    font-style: normal;
    padding-bottom: 10px; }
  .foot-address-wrap .foot-callcenter {
    text-align: center;
    width: 100%;
    display: table;
    font-size: 0;
    padding-bottom: 10px; }
    .foot-address-wrap .foot-callcenter span {
      padding-right: 10px;
      font-size: 13px;
      font-weight: bold;
      width: 50%;
      color: #2377c5;
      letter-spacing: -1px; }

@media all and (min-width: 768px) {
  .foot-address {
    border-top: none;
    padding: 20px 0 100px 180px; }
  .foot-address-wrap {
    width: 100%; }
    .foot-address-wrap > p {
      text-align: left; }
      .foot-address-wrap > p span {
        display: inline;
        font-size: 13px; }
    .foot-address-wrap .foot-callcenter-wrap {
      padding-bottom: 5px; }
    .foot-address-wrap address, .foot-address-wrap .foot-callcenter {
      display: inline;
      width: auto;
      text-align: left;
      font-size: 13px; }
    .foot-address-wrap .foot-callcenter span {
      padding: 0 0 0 5px;
      font-weight: bold;
      font-size: 13px; } }

@media all and (min-width: 1024px) {
  .foot-address {
    padding: 20px 0 70px 220px; }
  .foot-address-wrap .foot-callcenter-wrap {
    padding-bottom: 20px; } }
