/* /product/detail1/prd-stitle-container css */

.prd-article:last-child .prd-stitle-container:last-child {
  padding-bottom: 0; }

.prd-stitle-container {
  padding-bottom: 10px; }

@media all and (min-width: 768px) {
  .prd-stitle-container {
    padding-bottom: 20px; } }
