<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/home/cyber-counter/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/home/skinny-banner/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/common/extend/macro-button/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="cyber-counter-wrap web-view">
            <h2 class="cyber-counter-heading">사이버창구 업무</h2>
            <div class="cyber-counter"> <a href="#lnk" class="cyber-link1"><span>계약조회</span></a> <a href="#lnk" class="cyber-link2"><span>보험료납입</span></a> <a href="#lnk" class="cyber-link3"><span>자동이체</span></a> <a href="#lnk" class="cyber-link4"><span>보험계약대출</span></a> <a href="#lnk"
                    class="cyber-link5"><span>펀드변경</span></a> <a href="#lnk" class="cyber-link6"><span>보험금청구</span></a> <a href="#lnk" class="cyber-link7"><span>개인정보변경</span></a> <a href="#lnk" class="cyber-link8"><span>e-모니터링</span></a> </div>
        </div>
        <div class="tablet-banner">
            <div class="skinnybn-container">
                <div class="skinnybn-img" style="background-image: url('/content/dam/DEO/author/skinny-banner/img-temp.png')">
                    <p class="screen_out">대체텍스트 필요시 입력</p>
                </div>
                <div class="skinnybn-content">
                    <div class="skinnybn-content-wrap">
                        <!-- h2~h3 선택 가능 -->
                        <h3 class="skinnybn-heading">모바일창구 안내</h3>
                        <p class="skinnybn-copy"></p>
                        <p>계약조회 및 보험료 납입, 자동이체 등의 업무처리가 가능합니다.</p>
                    </div>
                    <div class="skinny-link"> <a href="#lnk" class="btn-basic green">더 알아보기</a> </div>
                </div>
            </div>
        </div>
        <!-- // CONTENT-->
    </body>

</html>