<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="title" content="## Page Title, 10 ~ 70 characters ##">
        <meta name="description" content="## Page Description, 70 ~ 160 characters ##">
        <meta name="keywords" content="## Page Keywords, 10 ~ 20 characters ##">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <link rel="stylesheet" href="/system/styles/options.css">
        <link rel="stylesheet" href="/system/styles/comp-common.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/home/more-content-container/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/home/more-content/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/external/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="comp-container">
            <div class="more-content-container">
                <h3 class="more-content-heading">고객중심 경영 메트라이프생명</h3>
                <p class="more-content-subcopy">메트라이프는 150년 동안 고객의 소중한 삶에 꼭 필요한 보장을 제공,<br>오랜 역사와 함께 쌓아온 선진 금융노하우로 당신의 성공적인 삶을 향해 함께 나아갑니다.</p>
                <ul class="more-content-list">
                    <li>
                        <div class="more-content">
                            <a href="#lnk" class="more-section"> <span class="more-content-img">
			<img src="/content/dam/DEO/author/@temp/more1.png" alt="라이프가이드">
		</span> <span class="more-content-con">
			<strong>라이프가이드 - Relationship</strong>
			<span>건강한 관계 맺기 July-August 2016</span> </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="more-content">
                            <a href="#lnk" class="more-section"> <span class="more-content-img">
			<img src="/content/dam/DEO/author/@temp/more1.png" alt="메트라이프 사회공헌활동">
		</span> <span class="more-content-con">
			<strong>메트라이프 사회공헌활동</strong>
			<span>아름다운 사람들이 만들어가는 행복한 세상</span> </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="more-content">
                            <a href="#lnk" class="more-section"> <span class="more-content-img">
			<img src="/content/dam/DEO/author/@temp/more1.png" alt="프리미엄 서비스">
		</span> <span class="more-content-con">
			<strong>프리미엄 서비스</strong>
			<span>고객 누구나 즐길 수 있는 다양한 서비스</span> </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // CONTENT-->
    </body>

</html>