<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Component Preview</title>
        <!-- build:css /etc/clientlibs/<@=project.name@>/<@=page.name@>/styles.min.css -->
        <link rel="stylesheet" href="/system/styles/common.css">
        <link rel="stylesheet" href="/system/styles/sitecommon.css">
        <!--<link rel="stylesheet" charset="utf-8" href="/application/setting/styles/app.css" />-->
        <!-- components style : start -->
        <link rel="stylesheet" href="/apps/DEO/components/productTiles/styles.css">
        <link rel="stylesheet" href="/apps/DEO/components/extend/macroButton/styles.css">
        <!-- resource:page css -->
        <!-- components style : end -->
        <!-- build:js /etc/clientlibs/<@=project.name@>/libs/scripts.min.js -->
        <script type="text/javascript" charset="utf-8" src="/system/scripts/libs/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteObject.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/siteModule.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/plugins/greensock/TweenMax.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/system/scripts/common/common.js"></script>
        <!-- endbuild -->
        <!--[if lte IE 9]>
<script src="/system/scripts/libs/html5.js"></script>
<script src="/system/scripts/libs/respond.min.js"></script>
<script src="/system/scripts/libs/selectivizr-min.js"></script>
<![endif]-->
        <!-- resource:page css -->
    </head>

    <body class="doc-loading">
        <!-- CONTENT -->
        <div class="product-tiles">
            <a href="#lnk"><img src="/content/dam/DEO/author/subcategory/img-product-tile1.png" alt="이미지 대체 텍스트"></a>
            <div class="product-tiles-content">
                <dl> <dt class="product-tiles-title"><a href="#lnk">사망보장 보험</a></dt>
                    <dd>자녀가 독립하기 전까지 충분하게 보장강화</dd>
                    <dd>무해지환급형 가입시 최소 23%~최대 35% 적게</dd>
                    <dd>암ㆍ급성심근경색증ㆍ출혈 진단금</dd>
                    <dd>당신의 마음의 소리까지 듣는 하트 서비스</dd>
                </dl>
            </div>
            <div class="product-tiles-link">
                <div class="product-tiles-linkbtn"> <a href="#lnk" class="btn-basic green">더 알아보기</a> </div>
                <!-- <div class="product-tiles-linktext">
                <a href="#URL">MORE</a>
            </div>--></div>
        </div>
        <!-- // CONTENT-->
    </body>

</html>