/* css folder ##productTiles## */
.product-tiles {
  width: 100%;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1); }
  .product-tiles > a {
    display: block;
    color: #000; }
  .product-tiles img {
    width: 100%; }
  .product-tiles dl {
    padding: 0 20px 25px 20px; }
    .product-tiles dl .product-tiles-title a {
      display: block;
      font-weight: bold;
      padding: 25px 0 15px 0;
      font-size: 22px;
      line-height: 21px; }
    .product-tiles dl dd {
      width: 100%;
      display: block;
      padding: 0 10px 0 10px;
      text-align: left;
      background: url("./images/ico_product_info.png") 0 8px no-repeat;
      font-size: 15px;
      line-height: 23px;
      -webkit-background-size: 5px;
      background-size: 5px; }

.product-tiles-link {
  position: relative;
  min-height: 67px; }
  .product-tiles-link .product-tiles-linkbtn .btn-basic {
    margin-bottom: 12.5px; }
  .product-tiles-link .product-tiles-linktext {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0; }
    .product-tiles-link .product-tiles-linktext a {
      font-weight: bold;
      color: #2377c5;
      padding-top: 5px;
      display: inline-block;
      text-decoration: underline; }
    .product-tiles-link .product-tiles-linktext a:hover {
      text-decoration: underline; }

@media all and (min-width: 768px) {
  .product-tiles {
    -webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.1); }
    .product-tiles dl {
      padding: 0 20px 15px 20px; }
      .product-tiles dl .product-tiles-title a {
        padding: 20px 0 15px 0;
        font-size: 20px;
        line-height: 27px; }
      .product-tiles dl dd {
        font-size: 14px;
        line-height: 21px; }
  .product-tiles.promoType-tiles {
    padding-bottom: 0; }
  .product-tiles-link {
    min-height: 70px; } }

@media all and (min-width: 1024px) {
  .product-tiles dl {
    padding: 0 36px 25px 36px;
    min-height: 124px; }
    .product-tiles dl .product-tiles-title a {
      padding: 25px 0 20px 0;
      font-size: 24px;
      line-height: 30px; }
    .product-tiles dl dd {
      background-position: 0 7px;
      font-size: 14px;
      line-height: 21px; }
  .product-tiles-link {
    min-height: 80px; } }
