<!-- COMPONENT START -->
<!-- #js# /apps/DEO/components/global/shareCall/scripts.js -->


{% set share = shareCall %}
{% import paths.apps + "/extend/macroButton/index.html" as btn %}
{% if share.share %}
<div class="share-call">
    <div class="share-sns">
        {{ btn.button("공유하기", "button", color='share-white', cusClass="ico-share") }}
        <div class="share-sns-listwrap">
            <div class="share-sns-list">
                <span>공유하기</span>
                <a href="#lnk" class="share-print"><img src="/{{  paths.apps }}/global/shareCall/images/icon_pr.png" alt="프린트"></a>
                <a href="#lnk"><img src="/{{  paths.apps }}/global/shareCall/images/icon_fb.png" alt="페이스북"></a>
                <a href="#lnk"><img src="/{{  paths.apps }}/global/shareCall/images/icon_tw.png" alt="트위터"></a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if share.chat %}
    <div class="share-chat">
        {{ btn.btnlink("1:1채팅상담", "#lnk", color='share-blue', cusClass="ico-chat") }}
    </div>
</div>
{% endif %}
<!-- #comp css# /apps/DEO/components/global/shareCall/styles.css -->

<!-- COMPONENT END -->