.opt-pt-1 {
  padding-top: 1px; }

.opt-pb-1 {
  padding-bottom: 1px; }

.opt-pl-1 {
  padding-left: 1px; }

.opt-pr-1 {
  padding-right: 1px; }

.opt-mt-1 {
  padding-top: 1px; }

.opt-mb-1 {
  padding-bottom: 1px; }

.opt-pl-1 {
  padding-left: 1px; }

.opt-pr-1 {
  padding-right: 1px; }

.opt-pt-2 {
  padding-top: 2px; }

.opt-pb-2 {
  padding-bottom: 2px; }

.opt-pl-2 {
  padding-left: 2px; }

.opt-pr-2 {
  padding-right: 2px; }

.opt-mt-2 {
  padding-top: 2px; }

.opt-mb-2 {
  padding-bottom: 2px; }

.opt-pl-2 {
  padding-left: 2px; }

.opt-pr-2 {
  padding-right: 2px; }

.opt-pt-3 {
  padding-top: 3px; }

.opt-pb-3 {
  padding-bottom: 3px; }

.opt-pl-3 {
  padding-left: 3px; }

.opt-pr-3 {
  padding-right: 3px; }

.opt-mt-3 {
  padding-top: 3px; }

.opt-mb-3 {
  padding-bottom: 3px; }

.opt-pl-3 {
  padding-left: 3px; }

.opt-pr-3 {
  padding-right: 3px; }

.opt-pt-4 {
  padding-top: 4px; }

.opt-pb-4 {
  padding-bottom: 4px; }

.opt-pl-4 {
  padding-left: 4px; }

.opt-pr-4 {
  padding-right: 4px; }

.opt-mt-4 {
  padding-top: 4px; }

.opt-mb-4 {
  padding-bottom: 4px; }

.opt-pl-4 {
  padding-left: 4px; }

.opt-pr-4 {
  padding-right: 4px; }

.opt-pt-5 {
  padding-top: 5px; }

.opt-pb-5 {
  padding-bottom: 5px; }

.opt-pl-5 {
  padding-left: 5px; }

.opt-pr-5 {
  padding-right: 5px; }

.opt-mt-5 {
  padding-top: 5px; }

.opt-mb-5 {
  padding-bottom: 5px; }

.opt-pl-5 {
  padding-left: 5px; }

.opt-pr-5 {
  padding-right: 5px; }

.opt-pt-6 {
  padding-top: 6px; }

.opt-pb-6 {
  padding-bottom: 6px; }

.opt-pl-6 {
  padding-left: 6px; }

.opt-pr-6 {
  padding-right: 6px; }

.opt-mt-6 {
  padding-top: 6px; }

.opt-mb-6 {
  padding-bottom: 6px; }

.opt-pl-6 {
  padding-left: 6px; }

.opt-pr-6 {
  padding-right: 6px; }

.opt-pt-7 {
  padding-top: 7px; }

.opt-pb-7 {
  padding-bottom: 7px; }

.opt-pl-7 {
  padding-left: 7px; }

.opt-pr-7 {
  padding-right: 7px; }

.opt-mt-7 {
  padding-top: 7px; }

.opt-mb-7 {
  padding-bottom: 7px; }

.opt-pl-7 {
  padding-left: 7px; }

.opt-pr-7 {
  padding-right: 7px; }

.opt-pt-8 {
  padding-top: 8px; }

.opt-pb-8 {
  padding-bottom: 8px; }

.opt-pl-8 {
  padding-left: 8px; }

.opt-pr-8 {
  padding-right: 8px; }

.opt-mt-8 {
  padding-top: 8px; }

.opt-mb-8 {
  padding-bottom: 8px; }

.opt-pl-8 {
  padding-left: 8px; }

.opt-pr-8 {
  padding-right: 8px; }

.opt-pt-9 {
  padding-top: 9px; }

.opt-pb-9 {
  padding-bottom: 9px; }

.opt-pl-9 {
  padding-left: 9px; }

.opt-pr-9 {
  padding-right: 9px; }

.opt-mt-9 {
  padding-top: 9px; }

.opt-mb-9 {
  padding-bottom: 9px; }

.opt-pl-9 {
  padding-left: 9px; }

.opt-pr-9 {
  padding-right: 9px; }

.opt-pt-10 {
  padding-top: 10px; }

.opt-pb-10 {
  padding-bottom: 10px; }

.opt-pl-10 {
  padding-left: 10px; }

.opt-pr-10 {
  padding-right: 10px; }

.opt-mt-10 {
  padding-top: 10px; }

.opt-mb-10 {
  padding-bottom: 10px; }

.opt-pl-10 {
  padding-left: 10px; }

.opt-pr-10 {
  padding-right: 10px; }

.opt-pt-11 {
  padding-top: 11px; }

.opt-pb-11 {
  padding-bottom: 11px; }

.opt-pl-11 {
  padding-left: 11px; }

.opt-pr-11 {
  padding-right: 11px; }

.opt-mt-11 {
  padding-top: 11px; }

.opt-mb-11 {
  padding-bottom: 11px; }

.opt-pl-11 {
  padding-left: 11px; }

.opt-pr-11 {
  padding-right: 11px; }

.opt-pt-12 {
  padding-top: 12px; }

.opt-pb-12 {
  padding-bottom: 12px; }

.opt-pl-12 {
  padding-left: 12px; }

.opt-pr-12 {
  padding-right: 12px; }

.opt-mt-12 {
  padding-top: 12px; }

.opt-mb-12 {
  padding-bottom: 12px; }

.opt-pl-12 {
  padding-left: 12px; }

.opt-pr-12 {
  padding-right: 12px; }

.opt-pt-13 {
  padding-top: 13px; }

.opt-pb-13 {
  padding-bottom: 13px; }

.opt-pl-13 {
  padding-left: 13px; }

.opt-pr-13 {
  padding-right: 13px; }

.opt-mt-13 {
  padding-top: 13px; }

.opt-mb-13 {
  padding-bottom: 13px; }

.opt-pl-13 {
  padding-left: 13px; }

.opt-pr-13 {
  padding-right: 13px; }

.opt-pt-14 {
  padding-top: 14px; }

.opt-pb-14 {
  padding-bottom: 14px; }

.opt-pl-14 {
  padding-left: 14px; }

.opt-pr-14 {
  padding-right: 14px; }

.opt-mt-14 {
  padding-top: 14px; }

.opt-mb-14 {
  padding-bottom: 14px; }

.opt-pl-14 {
  padding-left: 14px; }

.opt-pr-14 {
  padding-right: 14px; }

.opt-pt-15 {
  padding-top: 15px; }

.opt-pb-15 {
  padding-bottom: 15px; }

.opt-pl-15 {
  padding-left: 15px; }

.opt-pr-15 {
  padding-right: 15px; }

.opt-mt-15 {
  padding-top: 15px; }

.opt-mb-15 {
  padding-bottom: 15px; }

.opt-pl-15 {
  padding-left: 15px; }

.opt-pr-15 {
  padding-right: 15px; }

.opt-pt-16 {
  padding-top: 16px; }

.opt-pb-16 {
  padding-bottom: 16px; }

.opt-pl-16 {
  padding-left: 16px; }

.opt-pr-16 {
  padding-right: 16px; }

.opt-mt-16 {
  padding-top: 16px; }

.opt-mb-16 {
  padding-bottom: 16px; }

.opt-pl-16 {
  padding-left: 16px; }

.opt-pr-16 {
  padding-right: 16px; }

.opt-pt-17 {
  padding-top: 17px; }

.opt-pb-17 {
  padding-bottom: 17px; }

.opt-pl-17 {
  padding-left: 17px; }

.opt-pr-17 {
  padding-right: 17px; }

.opt-mt-17 {
  padding-top: 17px; }

.opt-mb-17 {
  padding-bottom: 17px; }

.opt-pl-17 {
  padding-left: 17px; }

.opt-pr-17 {
  padding-right: 17px; }

.opt-pt-18 {
  padding-top: 18px; }

.opt-pb-18 {
  padding-bottom: 18px; }

.opt-pl-18 {
  padding-left: 18px; }

.opt-pr-18 {
  padding-right: 18px; }

.opt-mt-18 {
  padding-top: 18px; }

.opt-mb-18 {
  padding-bottom: 18px; }

.opt-pl-18 {
  padding-left: 18px; }

.opt-pr-18 {
  padding-right: 18px; }

.opt-pt-19 {
  padding-top: 19px; }

.opt-pb-19 {
  padding-bottom: 19px; }

.opt-pl-19 {
  padding-left: 19px; }

.opt-pr-19 {
  padding-right: 19px; }

.opt-mt-19 {
  padding-top: 19px; }

.opt-mb-19 {
  padding-bottom: 19px; }

.opt-pl-19 {
  padding-left: 19px; }

.opt-pr-19 {
  padding-right: 19px; }

.opt-pt-20 {
  padding-top: 20px; }

.opt-pb-20 {
  padding-bottom: 20px; }

.opt-pl-20 {
  padding-left: 20px; }

.opt-pr-20 {
  padding-right: 20px; }

.opt-mt-20 {
  padding-top: 20px; }

.opt-mb-20 {
  padding-bottom: 20px; }

.opt-pl-20 {
  padding-left: 20px; }

.opt-pr-20 {
  padding-right: 20px; }

.opt-pt-21 {
  padding-top: 21px; }

.opt-pb-21 {
  padding-bottom: 21px; }

.opt-pl-21 {
  padding-left: 21px; }

.opt-pr-21 {
  padding-right: 21px; }

.opt-mt-21 {
  padding-top: 21px; }

.opt-mb-21 {
  padding-bottom: 21px; }

.opt-pl-21 {
  padding-left: 21px; }

.opt-pr-21 {
  padding-right: 21px; }

.opt-pt-22 {
  padding-top: 22px; }

.opt-pb-22 {
  padding-bottom: 22px; }

.opt-pl-22 {
  padding-left: 22px; }

.opt-pr-22 {
  padding-right: 22px; }

.opt-mt-22 {
  padding-top: 22px; }

.opt-mb-22 {
  padding-bottom: 22px; }

.opt-pl-22 {
  padding-left: 22px; }

.opt-pr-22 {
  padding-right: 22px; }

.opt-pt-23 {
  padding-top: 23px; }

.opt-pb-23 {
  padding-bottom: 23px; }

.opt-pl-23 {
  padding-left: 23px; }

.opt-pr-23 {
  padding-right: 23px; }

.opt-mt-23 {
  padding-top: 23px; }

.opt-mb-23 {
  padding-bottom: 23px; }

.opt-pl-23 {
  padding-left: 23px; }

.opt-pr-23 {
  padding-right: 23px; }

.opt-pt-24 {
  padding-top: 24px; }

.opt-pb-24 {
  padding-bottom: 24px; }

.opt-pl-24 {
  padding-left: 24px; }

.opt-pr-24 {
  padding-right: 24px; }

.opt-mt-24 {
  padding-top: 24px; }

.opt-mb-24 {
  padding-bottom: 24px; }

.opt-pl-24 {
  padding-left: 24px; }

.opt-pr-24 {
  padding-right: 24px; }

.opt-pt-25 {
  padding-top: 25px; }

.opt-pb-25 {
  padding-bottom: 25px; }

.opt-pl-25 {
  padding-left: 25px; }

.opt-pr-25 {
  padding-right: 25px; }

.opt-mt-25 {
  padding-top: 25px; }

.opt-mb-25 {
  padding-bottom: 25px; }

.opt-pl-25 {
  padding-left: 25px; }

.opt-pr-25 {
  padding-right: 25px; }

.opt-pt-26 {
  padding-top: 26px; }

.opt-pb-26 {
  padding-bottom: 26px; }

.opt-pl-26 {
  padding-left: 26px; }

.opt-pr-26 {
  padding-right: 26px; }

.opt-mt-26 {
  padding-top: 26px; }

.opt-mb-26 {
  padding-bottom: 26px; }

.opt-pl-26 {
  padding-left: 26px; }

.opt-pr-26 {
  padding-right: 26px; }

.opt-pt-27 {
  padding-top: 27px; }

.opt-pb-27 {
  padding-bottom: 27px; }

.opt-pl-27 {
  padding-left: 27px; }

.opt-pr-27 {
  padding-right: 27px; }

.opt-mt-27 {
  padding-top: 27px; }

.opt-mb-27 {
  padding-bottom: 27px; }

.opt-pl-27 {
  padding-left: 27px; }

.opt-pr-27 {
  padding-right: 27px; }

.opt-pt-28 {
  padding-top: 28px; }

.opt-pb-28 {
  padding-bottom: 28px; }

.opt-pl-28 {
  padding-left: 28px; }

.opt-pr-28 {
  padding-right: 28px; }

.opt-mt-28 {
  padding-top: 28px; }

.opt-mb-28 {
  padding-bottom: 28px; }

.opt-pl-28 {
  padding-left: 28px; }

.opt-pr-28 {
  padding-right: 28px; }

.opt-pt-29 {
  padding-top: 29px; }

.opt-pb-29 {
  padding-bottom: 29px; }

.opt-pl-29 {
  padding-left: 29px; }

.opt-pr-29 {
  padding-right: 29px; }

.opt-mt-29 {
  padding-top: 29px; }

.opt-mb-29 {
  padding-bottom: 29px; }

.opt-pl-29 {
  padding-left: 29px; }

.opt-pr-29 {
  padding-right: 29px; }

.opt-pt-30 {
  padding-top: 30px; }

.opt-pb-30 {
  padding-bottom: 30px; }

.opt-pl-30 {
  padding-left: 30px; }

.opt-pr-30 {
  padding-right: 30px; }

.opt-mt-30 {
  padding-top: 30px; }

.opt-mb-30 {
  padding-bottom: 30px; }

.opt-pl-30 {
  padding-left: 30px; }

.opt-pr-30 {
  padding-right: 30px; }

.opt-pt-31 {
  padding-top: 31px; }

.opt-pb-31 {
  padding-bottom: 31px; }

.opt-pl-31 {
  padding-left: 31px; }

.opt-pr-31 {
  padding-right: 31px; }

.opt-mt-31 {
  padding-top: 31px; }

.opt-mb-31 {
  padding-bottom: 31px; }

.opt-pl-31 {
  padding-left: 31px; }

.opt-pr-31 {
  padding-right: 31px; }

.opt-pt-32 {
  padding-top: 32px; }

.opt-pb-32 {
  padding-bottom: 32px; }

.opt-pl-32 {
  padding-left: 32px; }

.opt-pr-32 {
  padding-right: 32px; }

.opt-mt-32 {
  padding-top: 32px; }

.opt-mb-32 {
  padding-bottom: 32px; }

.opt-pl-32 {
  padding-left: 32px; }

.opt-pr-32 {
  padding-right: 32px; }

.opt-pt-33 {
  padding-top: 33px; }

.opt-pb-33 {
  padding-bottom: 33px; }

.opt-pl-33 {
  padding-left: 33px; }

.opt-pr-33 {
  padding-right: 33px; }

.opt-mt-33 {
  padding-top: 33px; }

.opt-mb-33 {
  padding-bottom: 33px; }

.opt-pl-33 {
  padding-left: 33px; }

.opt-pr-33 {
  padding-right: 33px; }

.opt-pt-34 {
  padding-top: 34px; }

.opt-pb-34 {
  padding-bottom: 34px; }

.opt-pl-34 {
  padding-left: 34px; }

.opt-pr-34 {
  padding-right: 34px; }

.opt-mt-34 {
  padding-top: 34px; }

.opt-mb-34 {
  padding-bottom: 34px; }

.opt-pl-34 {
  padding-left: 34px; }

.opt-pr-34 {
  padding-right: 34px; }

.opt-pt-35 {
  padding-top: 35px; }

.opt-pb-35 {
  padding-bottom: 35px; }

.opt-pl-35 {
  padding-left: 35px; }

.opt-pr-35 {
  padding-right: 35px; }

.opt-mt-35 {
  padding-top: 35px; }

.opt-mb-35 {
  padding-bottom: 35px; }

.opt-pl-35 {
  padding-left: 35px; }

.opt-pr-35 {
  padding-right: 35px; }

.opt-pt-36 {
  padding-top: 36px; }

.opt-pb-36 {
  padding-bottom: 36px; }

.opt-pl-36 {
  padding-left: 36px; }

.opt-pr-36 {
  padding-right: 36px; }

.opt-mt-36 {
  padding-top: 36px; }

.opt-mb-36 {
  padding-bottom: 36px; }

.opt-pl-36 {
  padding-left: 36px; }

.opt-pr-36 {
  padding-right: 36px; }

.opt-pt-37 {
  padding-top: 37px; }

.opt-pb-37 {
  padding-bottom: 37px; }

.opt-pl-37 {
  padding-left: 37px; }

.opt-pr-37 {
  padding-right: 37px; }

.opt-mt-37 {
  padding-top: 37px; }

.opt-mb-37 {
  padding-bottom: 37px; }

.opt-pl-37 {
  padding-left: 37px; }

.opt-pr-37 {
  padding-right: 37px; }

.opt-pt-38 {
  padding-top: 38px; }

.opt-pb-38 {
  padding-bottom: 38px; }

.opt-pl-38 {
  padding-left: 38px; }

.opt-pr-38 {
  padding-right: 38px; }

.opt-mt-38 {
  padding-top: 38px; }

.opt-mb-38 {
  padding-bottom: 38px; }

.opt-pl-38 {
  padding-left: 38px; }

.opt-pr-38 {
  padding-right: 38px; }

.opt-pt-39 {
  padding-top: 39px; }

.opt-pb-39 {
  padding-bottom: 39px; }

.opt-pl-39 {
  padding-left: 39px; }

.opt-pr-39 {
  padding-right: 39px; }

.opt-mt-39 {
  padding-top: 39px; }

.opt-mb-39 {
  padding-bottom: 39px; }

.opt-pl-39 {
  padding-left: 39px; }

.opt-pr-39 {
  padding-right: 39px; }

.opt-pt-40 {
  padding-top: 40px; }

.opt-pb-40 {
  padding-bottom: 40px; }

.opt-pl-40 {
  padding-left: 40px; }

.opt-pr-40 {
  padding-right: 40px; }

.opt-mt-40 {
  padding-top: 40px; }

.opt-mb-40 {
  padding-bottom: 40px; }

.opt-pl-40 {
  padding-left: 40px; }

.opt-pr-40 {
  padding-right: 40px; }

.opt-pt-41 {
  padding-top: 41px; }

.opt-pb-41 {
  padding-bottom: 41px; }

.opt-pl-41 {
  padding-left: 41px; }

.opt-pr-41 {
  padding-right: 41px; }

.opt-mt-41 {
  padding-top: 41px; }

.opt-mb-41 {
  padding-bottom: 41px; }

.opt-pl-41 {
  padding-left: 41px; }

.opt-pr-41 {
  padding-right: 41px; }

.opt-pt-42 {
  padding-top: 42px; }

.opt-pb-42 {
  padding-bottom: 42px; }

.opt-pl-42 {
  padding-left: 42px; }

.opt-pr-42 {
  padding-right: 42px; }

.opt-mt-42 {
  padding-top: 42px; }

.opt-mb-42 {
  padding-bottom: 42px; }

.opt-pl-42 {
  padding-left: 42px; }

.opt-pr-42 {
  padding-right: 42px; }

.opt-pt-43 {
  padding-top: 43px; }

.opt-pb-43 {
  padding-bottom: 43px; }

.opt-pl-43 {
  padding-left: 43px; }

.opt-pr-43 {
  padding-right: 43px; }

.opt-mt-43 {
  padding-top: 43px; }

.opt-mb-43 {
  padding-bottom: 43px; }

.opt-pl-43 {
  padding-left: 43px; }

.opt-pr-43 {
  padding-right: 43px; }

.opt-pt-44 {
  padding-top: 44px; }

.opt-pb-44 {
  padding-bottom: 44px; }

.opt-pl-44 {
  padding-left: 44px; }

.opt-pr-44 {
  padding-right: 44px; }

.opt-mt-44 {
  padding-top: 44px; }

.opt-mb-44 {
  padding-bottom: 44px; }

.opt-pl-44 {
  padding-left: 44px; }

.opt-pr-44 {
  padding-right: 44px; }

.opt-pt-45 {
  padding-top: 45px; }

.opt-pb-45 {
  padding-bottom: 45px; }

.opt-pl-45 {
  padding-left: 45px; }

.opt-pr-45 {
  padding-right: 45px; }

.opt-mt-45 {
  padding-top: 45px; }

.opt-mb-45 {
  padding-bottom: 45px; }

.opt-pl-45 {
  padding-left: 45px; }

.opt-pr-45 {
  padding-right: 45px; }

.opt-pt-46 {
  padding-top: 46px; }

.opt-pb-46 {
  padding-bottom: 46px; }

.opt-pl-46 {
  padding-left: 46px; }

.opt-pr-46 {
  padding-right: 46px; }

.opt-mt-46 {
  padding-top: 46px; }

.opt-mb-46 {
  padding-bottom: 46px; }

.opt-pl-46 {
  padding-left: 46px; }

.opt-pr-46 {
  padding-right: 46px; }

.opt-pt-47 {
  padding-top: 47px; }

.opt-pb-47 {
  padding-bottom: 47px; }

.opt-pl-47 {
  padding-left: 47px; }

.opt-pr-47 {
  padding-right: 47px; }

.opt-mt-47 {
  padding-top: 47px; }

.opt-mb-47 {
  padding-bottom: 47px; }

.opt-pl-47 {
  padding-left: 47px; }

.opt-pr-47 {
  padding-right: 47px; }

.opt-pt-48 {
  padding-top: 48px; }

.opt-pb-48 {
  padding-bottom: 48px; }

.opt-pl-48 {
  padding-left: 48px; }

.opt-pr-48 {
  padding-right: 48px; }

.opt-mt-48 {
  padding-top: 48px; }

.opt-mb-48 {
  padding-bottom: 48px; }

.opt-pl-48 {
  padding-left: 48px; }

.opt-pr-48 {
  padding-right: 48px; }

.opt-pt-49 {
  padding-top: 49px; }

.opt-pb-49 {
  padding-bottom: 49px; }

.opt-pl-49 {
  padding-left: 49px; }

.opt-pr-49 {
  padding-right: 49px; }

.opt-mt-49 {
  padding-top: 49px; }

.opt-mb-49 {
  padding-bottom: 49px; }

.opt-pl-49 {
  padding-left: 49px; }

.opt-pr-49 {
  padding-right: 49px; }

.opt-pt-50 {
  padding-top: 50px; }

.opt-pb-50 {
  padding-bottom: 50px; }

.opt-pl-50 {
  padding-left: 50px; }

.opt-pr-50 {
  padding-right: 50px; }

.opt-mt-50 {
  padding-top: 50px; }

.opt-mb-50 {
  padding-bottom: 50px; }

.opt-pl-50 {
  padding-left: 50px; }

.opt-pr-50 {
  padding-right: 50px; }

.opt-pt-51 {
  padding-top: 51px; }

.opt-pb-51 {
  padding-bottom: 51px; }

.opt-pl-51 {
  padding-left: 51px; }

.opt-pr-51 {
  padding-right: 51px; }

.opt-mt-51 {
  padding-top: 51px; }

.opt-mb-51 {
  padding-bottom: 51px; }

.opt-pl-51 {
  padding-left: 51px; }

.opt-pr-51 {
  padding-right: 51px; }

.opt-pt-52 {
  padding-top: 52px; }

.opt-pb-52 {
  padding-bottom: 52px; }

.opt-pl-52 {
  padding-left: 52px; }

.opt-pr-52 {
  padding-right: 52px; }

.opt-mt-52 {
  padding-top: 52px; }

.opt-mb-52 {
  padding-bottom: 52px; }

.opt-pl-52 {
  padding-left: 52px; }

.opt-pr-52 {
  padding-right: 52px; }

.opt-pt-53 {
  padding-top: 53px; }

.opt-pb-53 {
  padding-bottom: 53px; }

.opt-pl-53 {
  padding-left: 53px; }

.opt-pr-53 {
  padding-right: 53px; }

.opt-mt-53 {
  padding-top: 53px; }

.opt-mb-53 {
  padding-bottom: 53px; }

.opt-pl-53 {
  padding-left: 53px; }

.opt-pr-53 {
  padding-right: 53px; }

.opt-pt-54 {
  padding-top: 54px; }

.opt-pb-54 {
  padding-bottom: 54px; }

.opt-pl-54 {
  padding-left: 54px; }

.opt-pr-54 {
  padding-right: 54px; }

.opt-mt-54 {
  padding-top: 54px; }

.opt-mb-54 {
  padding-bottom: 54px; }

.opt-pl-54 {
  padding-left: 54px; }

.opt-pr-54 {
  padding-right: 54px; }

.opt-pt-55 {
  padding-top: 55px; }

.opt-pb-55 {
  padding-bottom: 55px; }

.opt-pl-55 {
  padding-left: 55px; }

.opt-pr-55 {
  padding-right: 55px; }

.opt-mt-55 {
  padding-top: 55px; }

.opt-mb-55 {
  padding-bottom: 55px; }

.opt-pl-55 {
  padding-left: 55px; }

.opt-pr-55 {
  padding-right: 55px; }

.opt-pt-56 {
  padding-top: 56px; }

.opt-pb-56 {
  padding-bottom: 56px; }

.opt-pl-56 {
  padding-left: 56px; }

.opt-pr-56 {
  padding-right: 56px; }

.opt-mt-56 {
  padding-top: 56px; }

.opt-mb-56 {
  padding-bottom: 56px; }

.opt-pl-56 {
  padding-left: 56px; }

.opt-pr-56 {
  padding-right: 56px; }

.opt-pt-57 {
  padding-top: 57px; }

.opt-pb-57 {
  padding-bottom: 57px; }

.opt-pl-57 {
  padding-left: 57px; }

.opt-pr-57 {
  padding-right: 57px; }

.opt-mt-57 {
  padding-top: 57px; }

.opt-mb-57 {
  padding-bottom: 57px; }

.opt-pl-57 {
  padding-left: 57px; }

.opt-pr-57 {
  padding-right: 57px; }

.opt-pt-58 {
  padding-top: 58px; }

.opt-pb-58 {
  padding-bottom: 58px; }

.opt-pl-58 {
  padding-left: 58px; }

.opt-pr-58 {
  padding-right: 58px; }

.opt-mt-58 {
  padding-top: 58px; }

.opt-mb-58 {
  padding-bottom: 58px; }

.opt-pl-58 {
  padding-left: 58px; }

.opt-pr-58 {
  padding-right: 58px; }

.opt-pt-59 {
  padding-top: 59px; }

.opt-pb-59 {
  padding-bottom: 59px; }

.opt-pl-59 {
  padding-left: 59px; }

.opt-pr-59 {
  padding-right: 59px; }

.opt-mt-59 {
  padding-top: 59px; }

.opt-mb-59 {
  padding-bottom: 59px; }

.opt-pl-59 {
  padding-left: 59px; }

.opt-pr-59 {
  padding-right: 59px; }

.opt-pt-60 {
  padding-top: 60px; }

.opt-pb-60 {
  padding-bottom: 60px; }

.opt-pl-60 {
  padding-left: 60px; }

.opt-pr-60 {
  padding-right: 60px; }

.opt-mt-60 {
  padding-top: 60px; }

.opt-mb-60 {
  padding-bottom: 60px; }

.opt-pl-60 {
  padding-left: 60px; }

.opt-pr-60 {
  padding-right: 60px; }

.opt-pt-61 {
  padding-top: 61px; }

.opt-pb-61 {
  padding-bottom: 61px; }

.opt-pl-61 {
  padding-left: 61px; }

.opt-pr-61 {
  padding-right: 61px; }

.opt-mt-61 {
  padding-top: 61px; }

.opt-mb-61 {
  padding-bottom: 61px; }

.opt-pl-61 {
  padding-left: 61px; }

.opt-pr-61 {
  padding-right: 61px; }

.opt-pt-62 {
  padding-top: 62px; }

.opt-pb-62 {
  padding-bottom: 62px; }

.opt-pl-62 {
  padding-left: 62px; }

.opt-pr-62 {
  padding-right: 62px; }

.opt-mt-62 {
  padding-top: 62px; }

.opt-mb-62 {
  padding-bottom: 62px; }

.opt-pl-62 {
  padding-left: 62px; }

.opt-pr-62 {
  padding-right: 62px; }

.opt-pt-63 {
  padding-top: 63px; }

.opt-pb-63 {
  padding-bottom: 63px; }

.opt-pl-63 {
  padding-left: 63px; }

.opt-pr-63 {
  padding-right: 63px; }

.opt-mt-63 {
  padding-top: 63px; }

.opt-mb-63 {
  padding-bottom: 63px; }

.opt-pl-63 {
  padding-left: 63px; }

.opt-pr-63 {
  padding-right: 63px; }

.opt-pt-64 {
  padding-top: 64px; }

.opt-pb-64 {
  padding-bottom: 64px; }

.opt-pl-64 {
  padding-left: 64px; }

.opt-pr-64 {
  padding-right: 64px; }

.opt-mt-64 {
  padding-top: 64px; }

.opt-mb-64 {
  padding-bottom: 64px; }

.opt-pl-64 {
  padding-left: 64px; }

.opt-pr-64 {
  padding-right: 64px; }

.opt-pt-65 {
  padding-top: 65px; }

.opt-pb-65 {
  padding-bottom: 65px; }

.opt-pl-65 {
  padding-left: 65px; }

.opt-pr-65 {
  padding-right: 65px; }

.opt-mt-65 {
  padding-top: 65px; }

.opt-mb-65 {
  padding-bottom: 65px; }

.opt-pl-65 {
  padding-left: 65px; }

.opt-pr-65 {
  padding-right: 65px; }

.opt-pt-66 {
  padding-top: 66px; }

.opt-pb-66 {
  padding-bottom: 66px; }

.opt-pl-66 {
  padding-left: 66px; }

.opt-pr-66 {
  padding-right: 66px; }

.opt-mt-66 {
  padding-top: 66px; }

.opt-mb-66 {
  padding-bottom: 66px; }

.opt-pl-66 {
  padding-left: 66px; }

.opt-pr-66 {
  padding-right: 66px; }

.opt-pt-67 {
  padding-top: 67px; }

.opt-pb-67 {
  padding-bottom: 67px; }

.opt-pl-67 {
  padding-left: 67px; }

.opt-pr-67 {
  padding-right: 67px; }

.opt-mt-67 {
  padding-top: 67px; }

.opt-mb-67 {
  padding-bottom: 67px; }

.opt-pl-67 {
  padding-left: 67px; }

.opt-pr-67 {
  padding-right: 67px; }

.opt-pt-68 {
  padding-top: 68px; }

.opt-pb-68 {
  padding-bottom: 68px; }

.opt-pl-68 {
  padding-left: 68px; }

.opt-pr-68 {
  padding-right: 68px; }

.opt-mt-68 {
  padding-top: 68px; }

.opt-mb-68 {
  padding-bottom: 68px; }

.opt-pl-68 {
  padding-left: 68px; }

.opt-pr-68 {
  padding-right: 68px; }

.opt-pt-69 {
  padding-top: 69px; }

.opt-pb-69 {
  padding-bottom: 69px; }

.opt-pl-69 {
  padding-left: 69px; }

.opt-pr-69 {
  padding-right: 69px; }

.opt-mt-69 {
  padding-top: 69px; }

.opt-mb-69 {
  padding-bottom: 69px; }

.opt-pl-69 {
  padding-left: 69px; }

.opt-pr-69 {
  padding-right: 69px; }

.opt-pt-70 {
  padding-top: 70px; }

.opt-pb-70 {
  padding-bottom: 70px; }

.opt-pl-70 {
  padding-left: 70px; }

.opt-pr-70 {
  padding-right: 70px; }

.opt-mt-70 {
  padding-top: 70px; }

.opt-mb-70 {
  padding-bottom: 70px; }

.opt-pl-70 {
  padding-left: 70px; }

.opt-pr-70 {
  padding-right: 70px; }

.opt-pt-71 {
  padding-top: 71px; }

.opt-pb-71 {
  padding-bottom: 71px; }

.opt-pl-71 {
  padding-left: 71px; }

.opt-pr-71 {
  padding-right: 71px; }

.opt-mt-71 {
  padding-top: 71px; }

.opt-mb-71 {
  padding-bottom: 71px; }

.opt-pl-71 {
  padding-left: 71px; }

.opt-pr-71 {
  padding-right: 71px; }

.opt-pt-72 {
  padding-top: 72px; }

.opt-pb-72 {
  padding-bottom: 72px; }

.opt-pl-72 {
  padding-left: 72px; }

.opt-pr-72 {
  padding-right: 72px; }

.opt-mt-72 {
  padding-top: 72px; }

.opt-mb-72 {
  padding-bottom: 72px; }

.opt-pl-72 {
  padding-left: 72px; }

.opt-pr-72 {
  padding-right: 72px; }

.opt-pt-73 {
  padding-top: 73px; }

.opt-pb-73 {
  padding-bottom: 73px; }

.opt-pl-73 {
  padding-left: 73px; }

.opt-pr-73 {
  padding-right: 73px; }

.opt-mt-73 {
  padding-top: 73px; }

.opt-mb-73 {
  padding-bottom: 73px; }

.opt-pl-73 {
  padding-left: 73px; }

.opt-pr-73 {
  padding-right: 73px; }

.opt-pt-74 {
  padding-top: 74px; }

.opt-pb-74 {
  padding-bottom: 74px; }

.opt-pl-74 {
  padding-left: 74px; }

.opt-pr-74 {
  padding-right: 74px; }

.opt-mt-74 {
  padding-top: 74px; }

.opt-mb-74 {
  padding-bottom: 74px; }

.opt-pl-74 {
  padding-left: 74px; }

.opt-pr-74 {
  padding-right: 74px; }

.opt-pt-75 {
  padding-top: 75px; }

.opt-pb-75 {
  padding-bottom: 75px; }

.opt-pl-75 {
  padding-left: 75px; }

.opt-pr-75 {
  padding-right: 75px; }

.opt-mt-75 {
  padding-top: 75px; }

.opt-mb-75 {
  padding-bottom: 75px; }

.opt-pl-75 {
  padding-left: 75px; }

.opt-pr-75 {
  padding-right: 75px; }

.opt-pt-76 {
  padding-top: 76px; }

.opt-pb-76 {
  padding-bottom: 76px; }

.opt-pl-76 {
  padding-left: 76px; }

.opt-pr-76 {
  padding-right: 76px; }

.opt-mt-76 {
  padding-top: 76px; }

.opt-mb-76 {
  padding-bottom: 76px; }

.opt-pl-76 {
  padding-left: 76px; }

.opt-pr-76 {
  padding-right: 76px; }

.opt-pt-77 {
  padding-top: 77px; }

.opt-pb-77 {
  padding-bottom: 77px; }

.opt-pl-77 {
  padding-left: 77px; }

.opt-pr-77 {
  padding-right: 77px; }

.opt-mt-77 {
  padding-top: 77px; }

.opt-mb-77 {
  padding-bottom: 77px; }

.opt-pl-77 {
  padding-left: 77px; }

.opt-pr-77 {
  padding-right: 77px; }

.opt-pt-78 {
  padding-top: 78px; }

.opt-pb-78 {
  padding-bottom: 78px; }

.opt-pl-78 {
  padding-left: 78px; }

.opt-pr-78 {
  padding-right: 78px; }

.opt-mt-78 {
  padding-top: 78px; }

.opt-mb-78 {
  padding-bottom: 78px; }

.opt-pl-78 {
  padding-left: 78px; }

.opt-pr-78 {
  padding-right: 78px; }

.opt-pt-79 {
  padding-top: 79px; }

.opt-pb-79 {
  padding-bottom: 79px; }

.opt-pl-79 {
  padding-left: 79px; }

.opt-pr-79 {
  padding-right: 79px; }

.opt-mt-79 {
  padding-top: 79px; }

.opt-mb-79 {
  padding-bottom: 79px; }

.opt-pl-79 {
  padding-left: 79px; }

.opt-pr-79 {
  padding-right: 79px; }

.opt-pt-80 {
  padding-top: 80px; }

.opt-pb-80 {
  padding-bottom: 80px; }

.opt-pl-80 {
  padding-left: 80px; }

.opt-pr-80 {
  padding-right: 80px; }

.opt-mt-80 {
  padding-top: 80px; }

.opt-mb-80 {
  padding-bottom: 80px; }

.opt-pl-80 {
  padding-left: 80px; }

.opt-pr-80 {
  padding-right: 80px; }

.opt-pt-81 {
  padding-top: 81px; }

.opt-pb-81 {
  padding-bottom: 81px; }

.opt-pl-81 {
  padding-left: 81px; }

.opt-pr-81 {
  padding-right: 81px; }

.opt-mt-81 {
  padding-top: 81px; }

.opt-mb-81 {
  padding-bottom: 81px; }

.opt-pl-81 {
  padding-left: 81px; }

.opt-pr-81 {
  padding-right: 81px; }

.opt-pt-82 {
  padding-top: 82px; }

.opt-pb-82 {
  padding-bottom: 82px; }

.opt-pl-82 {
  padding-left: 82px; }

.opt-pr-82 {
  padding-right: 82px; }

.opt-mt-82 {
  padding-top: 82px; }

.opt-mb-82 {
  padding-bottom: 82px; }

.opt-pl-82 {
  padding-left: 82px; }

.opt-pr-82 {
  padding-right: 82px; }

.opt-pt-83 {
  padding-top: 83px; }

.opt-pb-83 {
  padding-bottom: 83px; }

.opt-pl-83 {
  padding-left: 83px; }

.opt-pr-83 {
  padding-right: 83px; }

.opt-mt-83 {
  padding-top: 83px; }

.opt-mb-83 {
  padding-bottom: 83px; }

.opt-pl-83 {
  padding-left: 83px; }

.opt-pr-83 {
  padding-right: 83px; }

.opt-pt-84 {
  padding-top: 84px; }

.opt-pb-84 {
  padding-bottom: 84px; }

.opt-pl-84 {
  padding-left: 84px; }

.opt-pr-84 {
  padding-right: 84px; }

.opt-mt-84 {
  padding-top: 84px; }

.opt-mb-84 {
  padding-bottom: 84px; }

.opt-pl-84 {
  padding-left: 84px; }

.opt-pr-84 {
  padding-right: 84px; }

.opt-pt-85 {
  padding-top: 85px; }

.opt-pb-85 {
  padding-bottom: 85px; }

.opt-pl-85 {
  padding-left: 85px; }

.opt-pr-85 {
  padding-right: 85px; }

.opt-mt-85 {
  padding-top: 85px; }

.opt-mb-85 {
  padding-bottom: 85px; }

.opt-pl-85 {
  padding-left: 85px; }

.opt-pr-85 {
  padding-right: 85px; }

.opt-pt-86 {
  padding-top: 86px; }

.opt-pb-86 {
  padding-bottom: 86px; }

.opt-pl-86 {
  padding-left: 86px; }

.opt-pr-86 {
  padding-right: 86px; }

.opt-mt-86 {
  padding-top: 86px; }

.opt-mb-86 {
  padding-bottom: 86px; }

.opt-pl-86 {
  padding-left: 86px; }

.opt-pr-86 {
  padding-right: 86px; }

.opt-pt-87 {
  padding-top: 87px; }

.opt-pb-87 {
  padding-bottom: 87px; }

.opt-pl-87 {
  padding-left: 87px; }

.opt-pr-87 {
  padding-right: 87px; }

.opt-mt-87 {
  padding-top: 87px; }

.opt-mb-87 {
  padding-bottom: 87px; }

.opt-pl-87 {
  padding-left: 87px; }

.opt-pr-87 {
  padding-right: 87px; }

.opt-pt-88 {
  padding-top: 88px; }

.opt-pb-88 {
  padding-bottom: 88px; }

.opt-pl-88 {
  padding-left: 88px; }

.opt-pr-88 {
  padding-right: 88px; }

.opt-mt-88 {
  padding-top: 88px; }

.opt-mb-88 {
  padding-bottom: 88px; }

.opt-pl-88 {
  padding-left: 88px; }

.opt-pr-88 {
  padding-right: 88px; }

.opt-pt-89 {
  padding-top: 89px; }

.opt-pb-89 {
  padding-bottom: 89px; }

.opt-pl-89 {
  padding-left: 89px; }

.opt-pr-89 {
  padding-right: 89px; }

.opt-mt-89 {
  padding-top: 89px; }

.opt-mb-89 {
  padding-bottom: 89px; }

.opt-pl-89 {
  padding-left: 89px; }

.opt-pr-89 {
  padding-right: 89px; }

.opt-pt-90 {
  padding-top: 90px; }

.opt-pb-90 {
  padding-bottom: 90px; }

.opt-pl-90 {
  padding-left: 90px; }

.opt-pr-90 {
  padding-right: 90px; }

.opt-mt-90 {
  padding-top: 90px; }

.opt-mb-90 {
  padding-bottom: 90px; }

.opt-pl-90 {
  padding-left: 90px; }

.opt-pr-90 {
  padding-right: 90px; }

.opt-pt-91 {
  padding-top: 91px; }

.opt-pb-91 {
  padding-bottom: 91px; }

.opt-pl-91 {
  padding-left: 91px; }

.opt-pr-91 {
  padding-right: 91px; }

.opt-mt-91 {
  padding-top: 91px; }

.opt-mb-91 {
  padding-bottom: 91px; }

.opt-pl-91 {
  padding-left: 91px; }

.opt-pr-91 {
  padding-right: 91px; }

.opt-pt-92 {
  padding-top: 92px; }

.opt-pb-92 {
  padding-bottom: 92px; }

.opt-pl-92 {
  padding-left: 92px; }

.opt-pr-92 {
  padding-right: 92px; }

.opt-mt-92 {
  padding-top: 92px; }

.opt-mb-92 {
  padding-bottom: 92px; }

.opt-pl-92 {
  padding-left: 92px; }

.opt-pr-92 {
  padding-right: 92px; }

.opt-pt-93 {
  padding-top: 93px; }

.opt-pb-93 {
  padding-bottom: 93px; }

.opt-pl-93 {
  padding-left: 93px; }

.opt-pr-93 {
  padding-right: 93px; }

.opt-mt-93 {
  padding-top: 93px; }

.opt-mb-93 {
  padding-bottom: 93px; }

.opt-pl-93 {
  padding-left: 93px; }

.opt-pr-93 {
  padding-right: 93px; }

.opt-pt-94 {
  padding-top: 94px; }

.opt-pb-94 {
  padding-bottom: 94px; }

.opt-pl-94 {
  padding-left: 94px; }

.opt-pr-94 {
  padding-right: 94px; }

.opt-mt-94 {
  padding-top: 94px; }

.opt-mb-94 {
  padding-bottom: 94px; }

.opt-pl-94 {
  padding-left: 94px; }

.opt-pr-94 {
  padding-right: 94px; }

.opt-pt-95 {
  padding-top: 95px; }

.opt-pb-95 {
  padding-bottom: 95px; }

.opt-pl-95 {
  padding-left: 95px; }

.opt-pr-95 {
  padding-right: 95px; }

.opt-mt-95 {
  padding-top: 95px; }

.opt-mb-95 {
  padding-bottom: 95px; }

.opt-pl-95 {
  padding-left: 95px; }

.opt-pr-95 {
  padding-right: 95px; }

.opt-pt-96 {
  padding-top: 96px; }

.opt-pb-96 {
  padding-bottom: 96px; }

.opt-pl-96 {
  padding-left: 96px; }

.opt-pr-96 {
  padding-right: 96px; }

.opt-mt-96 {
  padding-top: 96px; }

.opt-mb-96 {
  padding-bottom: 96px; }

.opt-pl-96 {
  padding-left: 96px; }

.opt-pr-96 {
  padding-right: 96px; }

.opt-pt-97 {
  padding-top: 97px; }

.opt-pb-97 {
  padding-bottom: 97px; }

.opt-pl-97 {
  padding-left: 97px; }

.opt-pr-97 {
  padding-right: 97px; }

.opt-mt-97 {
  padding-top: 97px; }

.opt-mb-97 {
  padding-bottom: 97px; }

.opt-pl-97 {
  padding-left: 97px; }

.opt-pr-97 {
  padding-right: 97px; }

.opt-pt-98 {
  padding-top: 98px; }

.opt-pb-98 {
  padding-bottom: 98px; }

.opt-pl-98 {
  padding-left: 98px; }

.opt-pr-98 {
  padding-right: 98px; }

.opt-mt-98 {
  padding-top: 98px; }

.opt-mb-98 {
  padding-bottom: 98px; }

.opt-pl-98 {
  padding-left: 98px; }

.opt-pr-98 {
  padding-right: 98px; }

.opt-pt-99 {
  padding-top: 99px; }

.opt-pb-99 {
  padding-bottom: 99px; }

.opt-pl-99 {
  padding-left: 99px; }

.opt-pr-99 {
  padding-right: 99px; }

.opt-mt-99 {
  padding-top: 99px; }

.opt-mb-99 {
  padding-bottom: 99px; }

.opt-pl-99 {
  padding-left: 99px; }

.opt-pr-99 {
  padding-right: 99px; }

.opt-pt-100 {
  padding-top: 100px; }

.opt-pb-100 {
  padding-bottom: 100px; }

.opt-pl-100 {
  padding-left: 100px; }

.opt-pr-100 {
  padding-right: 100px; }

.opt-mt-100 {
  padding-top: 100px; }

.opt-mb-100 {
  padding-bottom: 100px; }

.opt-pl-100 {
  padding-left: 100px; }

.opt-pr-100 {
  padding-right: 100px; }
