a:focus, input:focus, button:focus {
  outline-color: deeppink;
  outline-offset: -2px;
  outline-style: dotted;
  outline-width: 2px; }

.wrapper {
  height: 100%; }

.container {
  margin-top: 50px;
  position: relative;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s; }

.content {
  min-height: 200px;
  position: relative; }

.content:after {
  clear: both;
  content: '';
  display: block; }

@media all and (min-width: 768px) {
  .container {
    margin-top: 70px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s; }
  .minisize .container {
    margin-top: 50px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s; } }

.bg-gray {
  background: #f2f2f2; }

.textcolor1 {
  color: #2377c5; }

.textcolor2 {
  color: #0e5dae; }

.textcolor3 {
  color: #3d9cdb; }

.textcolor4 {
  color: #c2e7ff; }
