/* css folder ##/product/detail1/prd-img## */
.prd-article:last-child .prd-img:last-child img, .prd-article:last-child .prd-img:last-child .prd-text {
  padding-bottom: 0; }

.prd-img {
  display: block;
  text-align: center; }
  .prd-img img {
    display: inline-block;
    max-width: 100%;
    padding: 20px 0; }
  .prd-img .prd-text {
    padding-bottom: 32px;
    line-height: 20px;
    text-align: center; }

@media all and (min-width: 768px) {
  .prd-img img {
    padding: 20px 0; } }

@media all and (min-width: 1024px) {
  .prd-img img {
    padding: 30px 0 20px 0; } }
